# Ignore compiled Python files
*.pyc

# Ignore Python bytecode cache
__pycache__/

# Ignore Python virtual environments
venv/
env/

# Ignore session files
flask_session/

# Ignore environment variables file
.env

# Ignore local configuration file
config.yml

# Ignore IDE files
.idea/

# Ignore direnv venv files
.direnv/

# Ignore logs
logs/

# Ignore macOS system files
.DS_Store
