# Ignore compiled Python files
*.pyc

# Ignore sqlite databases
*.sqlite

# Ignore quickstart database
quickstart.db

# Ignore Python bytecode cache
__pycache__/

# Ignore Python virtual environments
venv/
env/

# Ignore session files
flask_session/
sessions/

# Ignore gotify file
gotify.db

# Ignore environment variables file
.env

# Ignore local configuration file
config.yml

# Ignore IDE files
.idea/

# Ignore direnv venv files
.direnv/

# Ignore logs
logs/

# Ignore macOS system files
.DS_Store

# Ignore plex dynamic library files
012*-*.html
013*-*.html
014*-*.html
012*-*.js
013*-*.js
014*-*.js
