<!-- Preview Overlays Accordion -->

<div class="accordion mt-3" id="{{ library.id }}-previewOverlaysAccordion">
  <div class="accordion-item">
    <h2 class="accordion-header">
      <button class="accordion-button" type="button" data-bs-toggle="collapse"
        data-bs-target="#{{ library.id }}-overlayPreviewContainer" aria-expanded="false"
        aria-controls="{{ library.id }}-overlayPreviewContainer">
        Preview Overlays
      </button>
    </h2>
    <div id="{{ library.id }}-overlayPreviewContainer" class="accordion-collapse collapse show"
      data-bs-parent="#{{ library.id }}-previewOverlaysAccordion">
      <div class="accordion-body overlay-toggle-group">
        <div class="row">
          <!-- Left Column: Form Elements -->
          <div class="col-md-6">
            <p class="mb-3">
              Selecting any Overlays will automatically update the preview image here. You can upload your
              custom base image from a file or a URL to preview your Overlays against that image.
            </p>
            <div class="form-floating mb-4">
              <select id="{{ library.id }}-image-dropdown" class="form-select">
                <option value="default">Default Kometa</option>
              </select>
              <label for="{{ library.id }}-image-dropdown">Select Custom Movie Image</label>
            </div>

            <!-- Upload an image automatically when selected -->
            <input type="file" id="{{ library.id }}-upload-image"
              accept="image/png, image/jpeg, image/jpg, image/webp, image/gif, image/bmp" class="form-control mb-2">

            <!-- Fetch an image from a URL -->
            <div class="input-group mt-2">
              <input type="url" id="{{ library.id }}-image-url" class="form-control" placeholder="Enter Image URL">
              <button type="button" id="{{ library.id }}-fetch-url-btn" class="btn btn-secondary">Fetch</button>
            </div>

            <button type="button" id="{{ library.id }}-delete-image-btn" class="btn btn-danger mt-2">
              <i class="bi bi-trash"></i> Delete Selected
            </button>
            <button type="button" id="{{ library.id }}-rename-image-btn" class="btn btn-warning mt-2">
              <i class="fa fa-pencil-alt"></i> Rename Selected
            </button>

          </div>

          <!-- Right Column: Image Preview -->
          <div class="col-md-6 d-flex align-items-center justify-content-center">
            <img id="{{ library.id }}-overlayPreviewImage" src="/config/previews/{{ library.id }}-mov_preview.png"
              class="img-fluid" alt="Movie Preview" style="max-width: 100%; height: auto; border: 1px solid #ccc;">
          </div>
        </div>
      </div>
    </div>

  </div>
</div>

{% import 'partials/_macros.html' as macros %}
{% for group in overlay_config %}
{{ macros.overlay_group_section(library, data, version_info, group) }}
{% endfor %}
