<!-- Show Library Selection -->
<div id="show-libraries-container">
    <h3>Select Show Libraries</h3>
    <div id="showLibraries">
        {% set show_libraries = plex_data['plex']['tmp_show_libraries'].split(',')|sort if
        plex_data['plex']['tmp_show_libraries'] else [] %}
        {% for library in show_libraries %}
        <div class="form-check form-switch">
            <input class="form-check-input library-checkbox" type="checkbox" value="{{ library }}"
                id="sho-library_{{ library }}" name="sho-library_{{ library }}">
            <label class="form-check-label" for="sho-library_{{ library }}">{{ library }}</label>
        </div>
        {% endfor %}
    </div>
</div>
<!-- Show Library Accordions -->
<div class="accordion mt-4" id="accordionShows">
