/* General Styles */

body {
    margin: 20px;
}

code {
    font-size: 0.875em;
    color: #ea868f;
    word-wrap: break-word;
    background-color: hsl(225deg 8.87% 10.98%);
    padding: 0 .2941176471em;
}

/* Header Styles */

.header-container {
    text-align: center;
    margin-bottom: 20px;
}

.header-image {
    max-width: 20%;
    height: auto;
}

/* Form Styles */

.form-container {
    display: flex; /* Use flexbox for layout */
    max-width: 800px; /* Adjust the maximum width as needed */
    margin: auto;
}

.form-floating {
    position: relative;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

form {
    max-width: 900px;
    margin: auto;
    padding: 20px;
    border: 1px solid #343a40;
    border-radius: 5px;
}

#final-form {
    max-width: 900px;
}

.form-container {
    display: flex; /* Use flexbox for layout */
    max-width: 800px; /* Adjust the maximum width as needed */
    margin: auto;
}

#final-yaml {
    width: 100%; /* Take up remaining space */
    min-height: 400px;
    font-family: monospace;
}

label {
    display: block;
    margin-bottom: 10px;
    text-align: left;
}

.form-divider {
    margin: 15px;
    border-bottom: 1px solid #3a3a3a;
}

.accordion {
  --bs-accordion-bg: #191d20;
}

.accordion-body {
  background-color: #212529;
}


/* Input Styles */

.status-message {
    display: none;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 0.875em;
}

/* Message Styles */

.messages {
    max-width: 600px;
    margin: 20px auto;
    background-color: #343a40;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #343a40;
}

.messages ul {
    padding: 0;
    list-style-type: none;
}

.messages li {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
}

.messages .error {
    background-color: #dc3545;
    color: #ffffff;
    border: 1px solid #dc3545;
}

.messages .success {
    background-color: #28a745;
    color: #ffffff;
    border: 1px solid #28a745;
}

.me-md-2 {
    margin-right: 0rem !important;
}
