/* -------------------- */
/* GENERAL STYLES      */
/* -------------------- */

body {
    margin: 20px;
}

code {
    font-size: 0.875em;
    color: #ea868f;
    word-wrap: break-word;
    background-color: hsl(225deg 8.87% 10.98%);
    padding: 0 0.2941176471em;
}


/* -------------------- */
/* HEADER STYLES        */
/* -------------------- */

.header-container {
    text-align: center;
    margin-bottom: 20px;
}

.header-image {
    max-width: 20%;
    height: auto;
}

/* -------------------- */
/* FOOTER STYLES        */
/* -------------------- */
.footer {
    display: flex;
    justify-content: center;
    padding: 20px 0;
    background-color: #212529;
    margin-top: 20px;
    border-top: 1px solid #343a40 ;
}
.footer .donate-button {
    display: inline-block;
    padding: 8px 16px;
    font-size: 14px;
    color: #fff;
    background-color: #007bff; /* Blue color */
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    transition: all 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.footer .donate-button:hover {
    background-color: #0056b3; /* Darker blue on hover */
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
.footer .donate-button i {
    margin-right: 4px;
}

/* -------------------- */
/* SPINNER STYLES       */
/* -------------------- */
.jump-spinner-container {
    position: relative;
}
#jump-spinner-icon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

/* -------------------- */
/* FORM STYLES          */
/* -------------------- */

form, #final-form { /* Combined similar selectors */
    max-width: 900px;
    margin: auto;
    padding: 20px;
    border: 1px solid #343a40;
    border-radius: 5px;
}

.form-container {
    display: flex;
    max-width: 800px;
    margin: auto;
}

.form-floating {
    position: relative;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

#final-yaml {
    width: 100%;
    min-height: 400px;
    font-family: monospace;
}

label {
    display: block;
    margin-bottom: 10px;
    text-align: left;
}

/* -------------------- */
/* FORM COMPONENTS      */
/* -------------------- */

.form-divider {
    margin: 15px;
    border-bottom: 1px solid #3a3a3a;
}

.accordion {
    --bs-accordion-bg: #191d20;
}

.accordion-body,
.card-group { /* Combined similar selectors */
    background-color: #212529;
    padding-top: 10px; /* Added consistent padding to card group */
    padding-bottom: 10px;
}

.form-select,
.form-floating > .form-select {

    margin-top: 1rem;
}


.mb-3.small {
    margin-bottom: 0rem !important;
}

.form-check-input[type=checkbox] {
    margin-right: 10px;
}


/* -------------------- */
/* INPUT STYLES         */
/* -------------------- */

.status-message {
    display: none;
    width: 100%;
    margin-top: 0.25rem;
    font-size: 0.875em;
}

/* -------------------- */
/* MESSAGE STYLES       */
/* -------------------- */

.messages {
    max-width: 600px;
    margin: 20px auto;
    background-color: #343a40;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #343a40;
}

.messages ul {
    padding: 0;
    list-style-type: none;
}

.messages li {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
}

.messages .error {
    background-color: #dc3545;
    color: #ffffff;
    border: 1px solid #dc3545;
}

.messages .success {
    background-color: #28a745;
    color: #ffffff;
    border: 1px solid #28a745;
}

.me-md-2 {
    margin-right: 0rem !important;
}

/* -------------------- */
/* TOOLTIP STYLES       */
/* -------------------- */

.tooltip-inner {
    background-color: #fff;
    color: #000;
    border: 1px solid #000;
}

div#loading {
    width: 100;
    height: 100;
    display: none;
    text-align: center;
    cursor: wait;
    }
