/* General Styles */

body {
    font-family: Arial, sans-serif;
    margin: 20px;


}

/* Header Styles */

.header-container {
    text-align: center;
    margin-bottom: 20px;
}

.header-image {
    max-width: 20%;
    height: auto;
}

/* Form Styles */

.form-container {
    display: flex; /* Use flexbox for layout */
    max-width: 800px; /* Adjust the maximum width as needed */
    margin: auto;
}

.form-floating {
    position: relative;
    margin: 0.3rem;
}

form {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid #343a40;
    border-radius: 5px;
}

.form-container {
    display: flex; /* Use flexbox for layout */
    max-width: 800px; /* Adjust the maximum width as needed */
    margin: auto;
}

#final-yaml {
    width: 100%; /* Take up remaining space */
    min-height: 400px;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;

}

.form-divider {
    margin: 15px;
    border-bottom: 1px solid #3a3a3a;
}

/* Input Styles */

input {
    width: calc(100% - 20px);
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    background-color: #454d55;
    color: #ffffff;
}

/* Message Styles */

.messages {
    max-width: 600px;
    margin: 20px auto;
    background-color: #343a40;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #343a40;
}

.messages ul {
    padding: 0;
    list-style-type: none;
}

.messages li {
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 4px;
}

.messages .error {
    background-color: #dc3545;
    color: #ffffff;
    border: 1px solid #dc3545;
}

.messages .success {
    background-color: #28a745;
    color: #ffffff;
    border: 1px solid #28a745;
}

.status-message {
    margin-top: 10px;
    color: red;
    display: none;
}

.btn {
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}