<div class="alert alert-info qs-validation-callout" role="alert">
  <h6><b>This page is optional</b></h6>
  Click on "Open Trakt Utilities". Follow instructions until you can copy the YAML.<br>
  Click on "Import YAML" button and paste the YAML from Trakt Utilities. Quickstart will store the required credentials securely.<br>
  Finally, press "Check Token" button.<br>
  <br>Alternatively, navigate to another page to skip this section.
  <br><br><a href="https://kometa.wiki/en/{{ version_info.kometa_branch }}/config/trakt/" target="_blank">Click Here</a>
  to go to the Kometa wiki for this connector.
</div>
