<div class="alert alert-info" role="alert">
  <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">Click Here</a> if you need guidance completing this section.
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Completing the {{page_info['title']}} Section</h1>
      </div>
      <div class="modal-body">
        <div class="alert alert-danger" role="alert">
          Please read the below warning
        </div>
        Once you hit "Authorize" you will be taken to the MyAnimeList website to Authorize the connection.<br>
        <br>
        <b>When you press "Allow" on the MyAnimeList page, you will be redirected to a page that does not load - this is expected.</b><br>
        <br>
        Copy the URL from the page that does not load, then come back to this page. Paste the URL into the `Localhost URL` box before pressing the
        <code>Complete Authentication</code>.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
