<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta id="plex_valid" data-plex-valid="{{ page_info['plex_valid'] }}">
    <meta id="tmdb_valid" data-tmdb-valid="{{ page_info['tmdb_valid'] }}">
    <meta id="yaml_valid" data-yaml-valid="{{ page_info['yaml_valid'] }}">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ page_info['title'] }} - Kometa YAML Config Wizard</title>
    <!-- Include font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <!-- Include jQuery -->
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/bootstrap.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
    <style>
    </style>
  </head>
  <body>
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='local-js/000-base.js') }}"
    ></script>
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='js/bootstrap.bundle.js') }}"
    ></script>
    <div class="header-container">
      <img
        src="{{ url_for('static', filename='images/header.png') }}"
        alt="KOMETA"
        class="header-image"
      />
    </div>
    <div class="container">
      <div class="content-wrapper">
          {% block content %}{% endblock %}
      </div>
    </div>
    <div class="footer">
      <a href="https://github.com/sponsors/meisnate12" class="donate-button" target="_blank">
        <i class="fa fa-heart"></i> Donate
      </a>
    </div>
  </body>
</html>
