<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta id="plex_valid" data-plex-valid="{{ page_info['plex_valid'] }}">
    <meta id="tmdb_valid" data-tmdb-valid="{{ page_info['tmdb_valid'] }}">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{{ page_info['title'] }} - Kometa YAML Config Wizard</title>
    <!-- Include font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <!-- Include jQuery -->
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>
    <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/bootstrap.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
  </head>
  <body>
    <script type="text/javascript">
      function loading(type) {
        if (type === 'next') {
          $('#next-spinner-icon').removeClass('fa-arrow-right').addClass('spinner-border spinner-border-sm');
        } else if (type === 'prev') {
          $('#prev-spinner-icon').removeClass('fa-arrow-left').addClass('spinner-border spinner-border-sm');
        }
      }
    </script>
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='js/bootstrap.bundle.js') }}"
    ></script>

    <div class="header-container">
      <img
        src="{{ url_for('static', filename='images/header.png') }}"
        alt="Header Image"
        class="header-image"
      />
    </div>
    <div class="container">
      <div class="content-wrapper">
        <!-- {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="flashes">
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %} -->
        <div id="loading">
          <img height=100 width=100 src="{{ url_for('static', filename='loadingimage.gif') }}" />
        </div>
        <div id="content">
          {% block content %}{% endblock %}
        </div>
      </div>
    </div>
  </body>
</html>
