<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Kometa YAML Config Wizard</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
  <div class="header-container">
    <img src="{{ url_for('static', filename='images/header.png') }}" alt="Header Image" class="header-image">
  </div>
    <div class="container">
        <!-- {% with messages = get_flashed_messages() %}
            {% if messages %}
                <ul class="flashes">
                    {% for message in messages %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %} -->
        {% block content %}{% endblock %}
    </div>
</body>
</html>
