<form method="post" id="configForm" name="configForm">
  <div id="{{ page_info['title'] }}Section">
    <!-- Navigation Bar -->
    <div class="container mt-4">
      <nav class="navbar p-3 rounded shadow">
        <div class="d-flex align-items-center justify-content-between w-100">
          <!-- Back Button -->
          <button type="submit" class="btn btn-secondary" onclick="loading('prev')" title="Previous" formaction="/step/{{ page_info['prev_page'] }}">
            <i id="prev-spinner-icon" class="fa fa-arrow-left"></i>
          </button>

          <!-- Page Title as Dropdown -->
          <div class="dropdown position-relative">
            <button class="btn btn-link dropdown-toggle fs-3 text-white fw-bold" id="navbarDropdownMenuLink" title="Jump to another step" data-bs-toggle="dropdown" data-bs-display="static">
              {{ page_info['title'] }}
            </button>
            <ul class="dropdown-menu" style="left: 50%; transform: translateX(-50%);">
              {% for file, name in template_list %}
                {% if name == 'Final Validation' %}
                  <li><hr class="dropdown-divider"></li>
                {% endif %}
                <li>
                  <a class="dropdown-item" href="javascript:void(0);" onclick="jumpTo('{{ file.rsplit('.', 1)[0] }}')">{{ name }}</a>
                </li>
                {% if name == 'Start' %}
                  <li><hr class="dropdown-divider"></li>
                {% endif %}
              {% endfor %}
            </ul>
          </div>

          <!-- Next Button -->
          <button type="submit" class="btn btn-success" onclick="loading('next')" title="Next" formaction="/step/{{ page_info['next_page'] }}">
            <i id="next-spinner-icon" class="fa fa-arrow-right"></i>
          </button>
        </div>
      </nav>
    </div>

    <!-- Progress Bar -->
    <div class="container text-center mt-3">
      <div class="progress" role="progressbar">
        <div class="progress-bar bg-success" style="width: {{ page_info['progress'] }}%"
             aria-valuenow="{{ page_info['progress'] }}" aria-valuemin="0" aria-valuemax="100">
          {{ page_info['progress'] }}%
        </div>
      </div>
    </div>

    <hr class="hr">
