{% extends "000-base.html" %} {% block content %}
<form method="post" id="configForm" name="configForm" onsubmit="return validateForm()">
  <div id="{{page_info['title']}}Section">
    <div class="row">
      <div class="col align-self-center">
        <div class="input-group justify-content-start">
          <button type="submit" class="btn btn-secondary" onclick="loading('prev')" formaction="/step/{{ page_info['prev_page'] }}">
            <i id="prev-spinner-icon" class="fa fa-arrow-left"></i>
          </button>
        </div>
      </div>
      <div class="col-6 align-self-center text-center">
        <h2>{{ page_info['title'] }}</h2>
      </div>
      <div class="col align-self-center">
        <div class="input-group justify-content-end jump-spinner-container">
          <button type="button" class="btn btn-success dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
            <span id="jump-to-text">Jump To</span>
            <i id="jump-spinner-icon" class=""></i>
          </button>
          <ul class="dropdown-menu dropdown-menu-end">
            {% for file, name in template_list %}
            {% if name == 'Final Validation' %}
            <li>
              <hr class="dropdown-divider">
            </li>
            {% endif %}
            <li>
              <a class="dropdown-item" href="javascript:void(0);" onclick="jumpTo('{{ file.rsplit('.', 1)[0] }}')">{{ name }}</a>
            </li>
            {% if name == 'Start' %}
            <li>
              <hr class="dropdown-divider">
            </li>
            {% endif %}
            {% endfor %}
          </ul>
          <button type="submit" class="btn btn-success" onclick="loading('next')" formaction="/step/{{ page_info['next_page'] }}">
            <i id="next-spinner-icon" class="fa fa-arrow-right"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="container text-center">
      <div class="row">
        <div class="col"></div>
        <div class="col-8">
          <div class="col align-self-end">
            <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25"
              aria-valuemin="0" aria-valuemax="100">
              <div class="progress-bar bg-success" style="width: {{ page_info['progress'] }}%">
                {{ page_info['progress'] }}%
              </div>
            </div>
          </div>
        </div>
        <div class="col"></div>
      </div>
    </div>
    <hr class="hr">
    {% include "modals/" + page_info['template_name'] + ".html" ignore missing %}
    <div id="validation-messages" class="alert alert-danger" role="alert" style="display: none;"></div>
    <div id="libraries-container">
      <!-- Library selection toggles -->
      <div class="form-floating">
        <label for="libraries">Select Movie Libraries:</label><br><br>
        {% set movie_libraries = plex_data['plex']['tmp_movie_libraries'].split(',')|sort if plex_data['plex']['tmp_movie_libraries'] else [] %}
        {% for library in movie_libraries %}
        <div class="form-check form-switch">
          <input class="form-check-input library-checkbox" type="checkbox" value="{{ library }}" data-type="movie" id="library_{{ library }}">
          <label class="form-check-label" for="library_{{ library }}">{{ library }}</label>
        </div>
        {% endfor %}
      </div>
      <div class="form-floating">
        <label for="libraries">Select Show Libraries:</label><br><br>
        {% set show_libraries = plex_data['plex']['tmp_show_libraries'].split(',')|sort if plex_data['plex']['tmp_show_libraries'] else [] %}
        {% for library in show_libraries %}
        <div class="form-check form-switch">
          <input class="form-check-input library-checkbox" type="checkbox" value="{{ library }}" data-type="show" id="library_{{ library }}">
          <label class="form-check-label" for="library_{{ library }}">{{ library }}</label>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="form-floating">
      <input type="text" class="form-control" id="libraries" name="libraries" value="{{ data['library_selection']['libraries'] }}" readonly>
      <label for="libraries">Selected Libraries</label>
    </div>
    <div class="form-floating">
      <input type="text" class="form-control" id="library_selection_validated" name="library_selection_validated" value="{{ data['validated'] }}" title="">
      <label for="library_selection_validated">Library Selection Validated</label>
    </div>
    <div id="statusMessage" class="status-message"></div><br>
    <!-- Tabs container -->
    <ul class="nav nav-tabs" id="tabs" role="tablist"></ul>
    <div class="tab-content" id="tab-content"></div>
  </div>

<!-- Add these hidden divs for templates -->
<!-- Movie Library Template -->
<div id="movie-template" style="display: none;">
    <h3>Movie Library Configuration</h3>
    <!-- Include your form inputs and accordions for movies here -->
    <div class="accordion" id="LIBID_movieAccordion">
        <!-- Movie Library Accordion Content -->
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button aria-controls="collapseAward" aria-expanded="true" class="accordion-button collapsed" data-bs-target="#movie_collapseAward_LIBID" data-bs-toggle="collapse" type="button">
                    Award Collections
                </button>
            </h2>
            <div class="accordion-collapse collapse" data-bs-parent="#LIBID_movieAccordion" id="movie_collapseAward_LIBID">
                <div class="accordion-body">
                    <div class="card-group">
                        <div class="card" id="movie_separator_award_LIBID">
                            <img alt="Award Separator" class="card-img-top" src="../static/images/posters/separator_award.jpg">
                            <div class="card-body">
                                <h5 class="card-title">Award Separator</h5>
                                <p class="card-text">Example Collections:<br><i>- Award Collections</i></p>
                            </div>
                            <div class="card-footer">
                                <div class="input-group mb-3 small">
                                    <div class="input-group-text">
                                        {% set checkbox_id = 'separator_award_checkbox_mov-' ~ library %}
                                        <input class="form-check-input" type="checkbox" id="{{ checkbox_id }}" name="{{ checkbox_id }}" value="true"
                                        {% if data['library_selection'][checkbox_id]|string|lower=='true' %}checked{% endif %}> Enable
                                    </div>
                                    <button class="btn btn-primary btn-sm" data-bs-target="#separator_award_modal_LIBID" data-bs-toggle="modal" disabled id="separator_award_button_LIBID" type="button">Customize
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div aria-hidden="true" aria-labelledby="separator_award_modal_LIBID" class="modal fade" id="separator_award_modal_LIBID" tabindex="-1">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5">Awards Separator</h1>
                                        <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
                                    </div>
                                    <div class="modal-body">
                                            <div class="form-group">
                                                <label for="separator_award_sep_style_LIBID">Separator Style:</label>
                                                <select class="form-control" id="separator_award_sep_style_LIBID">
                                                    <option value="orig">Original</option>
                                                    <option value="amethyst">Amethyst</option>
                                                    <option value="aqua">Aqua</option>
                                                    <option value="blue">Blue</option>
                                                    <option value="stb">Brown</option>
                                                    <option value="forest">Forest</option>
                                                    <option value="fuchsia">Fuchsia</option>
                                                    <option value="gold">Gold</option>
                                                    <option value="gray">Gray</option>
                                                    <option value="green">Green</option>
                                                    <option value="navy">Navy</option>
                                                    <option value="ocean">Ocean</option>
                                                    <option value="olive">Olive</option>
                                                    <option value="orchid">Orchid</option>
                                                    <option value="pink">Pink</option>
                                                    <option value="plum">Plum</option>
                                                    <option value="purple">Purple</option>
                                                    <option value="red">Red</option>
                                                    <option value="rust">Rust</option>
                                                    <option value="salmon">Salmon</option>
                                                    <option value="sand">Sand</option>
                                                    <option value="tan">Tan</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label for="separator_award_placeholder_tmdb_movie_LIBID">Placeholder TMDb Movie ID:</label>
                                                <input class="form-control" id="separator_award_placeholder_tmdb_movie_LIBID" type="text">
                                            </div>
                                            <div class="form-group">
                                                <label for="separator_award_placeholder_tvdb_show_LIBID">Placeholder TVDb Show ID:</label>
                                                <input class="form-control" id="separator_award_placeholder_tvdb_show_LIBID" type="text">
                                            </div>
                                            <div class="form-group">
                                                <label for="separator_award_placeholder_imdb_id_LIBID">Placeholder IMDb ID:</label>
                                                <input class="form-control" id="separator_award_placeholder_imdb_id_LIBID" type="text">
                                            </div>
                                            <div class="form-group">
                                                <label for="separator_award_collection_mode_LIBID">Collection Mode:</label>
                                                <select class="form-control" id="separator_award_collection_mode_LIBID">
                                                    <option value="default">Library Default</option>
                                                    <option value="hide">Hide Collection</option>
                                                    <option value="hide_items">Hide Items</option>
                                                    <option value="show_items">Show Items</option>
                                                </select>
                                            </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">
                                            Close
                                        </button>
                                        <button class="btn btn-primary" type="button">Save changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card" id="movie_oscars_LIBID">
                            <img alt="Academy Awards (Oscars)" class="card-img-top" src="../static/images/posters/oscars.jpg">
                            <div class="card-body">
                                <h5 class="card-title">Academy Awards (Oscars)</h5>
                                <p class="card-text">Example Collections:<br><i>- Best Picture Winners<br>- Best Director Winners<br>- 2022</i>
                                </p>
                            </div>
                            <div class="card-footer">
                                <div class="input-group mb-3 small">
                                    <div class="input-group-text">
                                        {% set checkbox_id = 'oscars_checkbox_mov-' ~ library %}
                                        <input class="form-check-input" type="checkbox" id="{{ checkbox_id }}" name="{{ checkbox_id }}" value="true"
                                        {% if data['library_selection'][checkbox_id]|string|lower=='true' %}checked{% endif %}> Enable
                                    </div>
                                    <button class="btn btn-primary btn-sm" data-bs-target="#oscars_modal_LIBID" data-bs-toggle="modal" disabled id="oscars_button_LIBID" type="button">
                                        Customize
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div aria-hidden="true" aria-labelledby="oscars_modal_LIBID" class="modal fade" id="oscars_modal_LIBID" tabindex="-1">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5">Academy Awards (Oscars)</h1>
                                        <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
                                    </div>
                                    <div class="modal-body">
                                            <div class="mb-3" id="oscarsOptions_LIBID">
                                                <h6>Enabled Collections</h6>
                                                <div class="dropdown">
                                                    <button aria-expanded="false" class="btn btn-success dropdown-toggle dropdown-toggle" data-bs-toggle="dropdown" id="oscarsDropdown_LIBID" type="button">
                                                        Select
                                                    </button>
                                                    <ul aria-labelledby="multiSelectDropdown" class="dropdown-menu">
                                                        <li>
                                                            <div class="form-check">
                                                                <input checked class="form-check-input" id="oscars_use_best_picture_LIBID" type="checkbox">
                                                                <label class="form-check-label" for="oscars_use_best_picture_LIBID">Oscars Best Picture Winners</label>
                                                            </div>
                                                            <div class="form-check">
                                                                <input checked class="form-check-input" id="oscars_use_best_director_LIBID" type="checkbox">
                                                                <label class="form-check-label" for="oscars_use_best_director_LIBID">Oscars Best Director Winners</label>
                                                            </div>
                                                            <div class="form-check">
                                                                <input checked class="form-check-input" id="oscars_use_year_collections_LIBID" type="checkbox">
                                                                <label class="form-check-label" for="oscars_use_year_collections_LIBID">Oscars Winners (year)</label>
                                                            </div>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <br>
                                                <div class="mb-3">
                                                    <label class="form-label" for="oscars_collection_order_LIBID"><h6>Collection Order</h6></label>
                                                    <select class="form-select" id="oscars_collection_order_LIBID">
                                                        <option selected value="custom">Default IMDb Order</option>
                                                        <option value="release">Release Date</option>
                                                        <option value="alpha">Alphabetically</option>
                                                        <option value="critic_rating.desc">Critic Rating</option>
                                                        <option value="audience_rating.desc">Audience Rating</option>
                                                        <option value="random.desc">Randomly</option>
                                                    </select>
                                                </div>
                                            </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">
                                            Close
                                        </button>
                                        <button class="btn btn-primary" type="button">Save changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card" id="movie_berlinale_LIBID">
                            <img alt="Berlin International Film Festival Awards" class="card-img-top" src="../static/images/posters/berlinale.jpg">
                            <div class="card-body">
                                <h5 class="card-title">Berlin International Film Festival Awards</h5>
                                <p class="card-text">Example Collections:<br><i><br>- Golden Bears<br>- 2021</i>
                                </p>
                            </div>
                            <div class="card-footer">
                                <div class="input-group mb-3 small">
                                    <div class="input-group-text">
                                        {% set checkbox_id = 'berlinale_checkbox_mov-' ~ library %}
                                        <input class="form-check-input" type="checkbox" id="{{ checkbox_id }}" name="{{ checkbox_id }}" value="true"
                                        {% if data['library_selection'][checkbox_id]|string|lower=='true' %}checked{% endif %}> Enable
                                    </div>
                                    <button class="btn btn-primary btn-sm" data-bs-target="#berlinale_modal_LIBID" data-bs-toggle="modal" disabled id="berlinale_button_LIBID" type="button">
                                        Customize
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div aria-hidden="true" aria-labelledby="berlinale_modal_LIBID" class="modal fade" id="berlinale_modal_LIBID" tabindex="-1">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h1 class="modal-title fs-5">Berlin Film Festival Awards</h1>
                                    <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
                                </div>
                                <div class="modal-body">
                                        <div class="mb-3" id="berlinaleOptions_LIBID">
                                            <h6>Enabled Collections</h6>
                                            <div class="dropdown">
                                                <button aria-expanded="false" class="btn btn-success dropdown-toggle dropdown-toggle" data-bs-toggle="dropdown" id="berlinaleDropdown_LIBID" type="button">
                                                    Select
                                                </button>
                                                <ul aria-labelledby="multiSelectDropdown" class="dropdown-menu">
                                                    <li>
                                                        <div class="form-check">
                                                            <input checked class="form-check-input" id="berlinale_use_golden_LIBID" type="checkbox">
                                                            <label class="form-check-label" for="berlinale_use_golden_LIBID">Berlinale Golden Bears</label>
                                                        </div>
                                                        <div class="form-check">
                                                            <input checked class="form-check-input" id="berlinale_use_year_collections_LIBID" type="checkbox">
                                                            <label class="form-check-label" for="berlinale_use_year_collections_LIBID">Berlinale (year)</label>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>
                                            <br>
                                            <div class="mb-3">
                                                <label class="form-label" for="berlinale_collection_order_LIBID"><h6>Collection Order</h6></label>
                                                <select class="form-select" id="berlinale_collection_order_LIBID">
                                                    <option selected value="custom">Default IMDb Order</option>
                                                    <option value="release">Release Date</option>
                                                    <option value="alpha">Alphabetically</option>
                                                    <option value="critic_rating.desc">Critic Rating</option>
                                                    <option value="audience_rating.desc">Audience Rating</option>
                                                    <option value="random.desc">Randomly</option>
                                                </select>
                                            </div>
                                        </div>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">
                                        Close
                                    </button>
                                    <button class="btn btn-primary" type="button">Save changes</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button aria-controls="collapseChart" aria-expanded="true" class="accordion-button collapsed" data-bs-target="#movie_collapseChart_LIBID" data-bs-toggle="collapse" type="button">
                    Chart Collections
                </button>
            </h2>
            <div class="accordion-collapse collapse" data-bs-parent="#LIBID_movieAccordion" id="movie_collapseChart_LIBID">
                <div class="accordion-body">
                    <div class="card-group">
                        <div class="card" id="movie_separator_chart_LIBID">
                            <img alt="Award Separator" class="card-img-top" src="../static/images/posters/separator_chart.jpg">
                            <div class="card-body">
                                <h5 class="card-title">Chart Separator</h5>
                                <p class="card-text">Example Collections:<br><i>- Chart Collections</i></p>
                            </div>
                            <div class="card-footer">
                                <div class="input-group mb-3 small">
                                    <div class="input-group-text">
                                        {% set checkbox_id = 'separator_chart_checkbox_mov-' ~ library %}
                                        <input class="form-check-input" type="checkbox" id="{{ checkbox_id }}" name="{{ checkbox_id }}" value="true"
                                        {% if data['library_selection'][checkbox_id]|string|lower=='true' %}checked{% endif %}> Enable
                                    </div>
                                    <button class="btn btn-primary btn-sm" data-bs-target="#separator_chart_modal_LIBID" data-bs-toggle="modal" disabled id="separator_chart_button_LIBID" type="button">Customize
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div aria-hidden="true" aria-labelledby="separator_chart_modal_LIBID" class="modal fade" id="separator_chart_modal_LIBID" tabindex="-1">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="exampleModalLabel">Charts Separator</h1>
                                        <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
                                    </div>
                                    <div class="modal-body">
                                            <div class="form-group">
                                                <label for="use_chart_separator_LIBID">Use Separator:</label>
                                                <select class="form-control" id="use_chart_separator_LIBID">
                                                    <option value="true">Yes</option>
                                                    <option value="false">No</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label for="sep_style_LIBID">Separator Style:</label>
                                                <select class="form-control" id="sep_style_LIBID">
                                                    <option value="orig">Original</option>
                                                    <option value="amethyst">Amethyst</option>
                                                    <option value="aqua">Aqua</option>
                                                    <option value="blue">Blue</option>
                                                    <option value="forest">Forest</option>
                                                    <option value="fuchsia">Fuchsia</option>
                                                    <option value="gold">Gold</option>
                                                    <option value="gray">Gray</option>
                                                    <option value="green">Green</option>
                                                    <option value="navy">Navy</option>
                                                    <option value="ocean">Ocean</option>
                                                    <option value="olive">Olive</option>
                                                    <option value="orchid">Orchid</option>
                                                    <option value="pink">Pink</option>
                                                    <option value="plum">Plum</option>
                                                    <option value="purple">Purple</option>
                                                    <option value="red">Red</option>
                                                    <option value="rust">Rust</option>
                                                    <option value="salmon">Salmon</option>
                                                    <option value="sand">Sand</option>
                                                    <option value="stb">Stb</option>
                                                    <option value="tan">Tan</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label for="sort_prefix_LIBID">Sort Prefix:</label>
                                                <input class="form-control" id="sort_prefix_LIBID" placeholder="!" type="text">
                                            </div>
                                            <div class="form-group">
                                                <label for="sort_title_LIBID">Sort Title:</label>
                                                <input class="form-control" id="sort_title_LIBID" placeholder="<<sort_prefix>><<collection_section>>_!<<title>>" type="text">
                                            </div>
                                            <div class="form-group">
                                                <label for="placeholder_tmdb_movie_LIBID">Placeholder TMDb Movie ID:</label>
                                                <input class="form-control" id="placeholder_tmdb_movie_LIBID" type="text">
                                            </div>
                                            <div class="form-group">
                                                <label for="placeholder_tvdb_show_LIBID">Placeholder TVDb Show ID:</label>
                                                <input class="form-control" id="placeholder_tvdb_show_LIBID" type="text">
                                            </div>
                                            <div class="form-group">
                                                <label for="placeholder_imdb_id_LIBID">Placeholder IMDb ID:</label>
                                                <input class="form-control" id="placeholder_imdb_id_LIBID" type="text">
                                            </div>
                                            <div class="form-group">
                                                <label for="name_separator_LIBID">Collection Name:</label>
                                                <input class="form-control" id="name_separator_LIBID" placeholder="Award Collections" type="text">
                                            </div>
                                            <div class="form-group">
                                                <label for="summary_separator_LIBID">Collection Summary:</label>
                                                <textarea class="form-control" id="summary_separator_LIBID"></textarea>
                                            </div>
                                            <div class="form-group">
                                                <label for="collection_mode_LIBID">Collection Mode:</label>
                                                <select class="form-control" id="collection_mode_LIBID">
                                                    <option value="default">Library Default</option>
                                                    <option value="hide">Hide Collection</option>
                                                    <option value="hide_items">Hide Items</option>
                                                    <option value="show_items">Show Items</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label for="url_poster_separator_LIBID">Poster URL:</label>
                                                <input class="form-control" id="url_poster_separator_LIBID" type="text">
                                            </div>
                                            <button class="btn btn-primary" type="submit">Submit</button>
                                    </div>
                                    <div class="modal-footer">
                                        <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">
                                            Close
                                        </button>
                                        <button class="btn btn-primary" type="button">Save changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Show Library Template -->
<div id="show-template" style="display: none;">
    <h3>Show Library Configuration</h3>
    <!-- Include your form inputs and accordions for shows here -->
    <div class="accordion" id="LIBID_showAccordion">
        <!-- Show Library Accordion Content -->
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button aria-controls="collapseAward" aria-expanded="true" class="accordion-button collapsed" data-bs-target="#show_collapseAward_LIBID" data-bs-toggle="collapse" type="button">
                    Award Collections
                </button>
            </h2>
            <div class="accordion-collapse collapse" data-bs-parent="#LIBID_showAccordion" id="show_collapseAward_LIBID">
                <div class="accordion-body">
                    <div class="card-group">
                        <div class="card" id="show_separator_award_LIBID">
                            <img alt="Award Separator" class="card-img-top" src="../static/images/posters/separator_award.jpg">
                            <div class="card-body">
                                <h5 class="card-title">Award Separator</h5>
                                <p class="card-text">Example Collections:<br><i>- Award Collections</i></p>
                            </div>
                            <div class="card-footer">
                                <div class="input-group mb-3 small">
                                    <div class="input-group-text">
                                        {% set checkbox_id = 'show_separator_award_checkbox_sho-' ~ library %}
                                        <input class="form-check-input" type="checkbox" id="{{ checkbox_id }}" name="{{ checkbox_id }}" value="true"
                                        {% if data['library_selection'][checkbox_id]|string|lower=='true' %}checked{% endif %}> Enable
                                    </div>
                                    <button class="btn btn-primary btn-sm" data-bs-target="#separator_award_modal_LIBID" data-bs-toggle="modal" disabled id="show_separator_award_button_LIBID" type="button">
                                        Customize
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div aria-hidden="true" aria-labelledby="separator_award_modal_LIBID" class="modal fade" id="show_separator_award_modal_LIBID" tabindex="-1">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5">Awards Separator</h1>
                                        <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
                                    </div>
                                    <div class="modal-body">
                                            <div class="form-group">
                                                <label for="show_separator_award_sep_style_LIBID">Separator Style:</label>
                                                <select class="form-control" id="show_separator_award_sep_style_LIBID">
                                                    <option value="orig">Original</option>
                                                    <option value="amethyst">Amethyst</option>
                                                    <option value="aqua">Aqua</option>
                                                    <option value="blue">Blue</option>
                                                    <option value="stb">Brown</option>
                                                    <option value="forest">Forest</option>
                                                    <option value="fuchsia">Fuchsia</option>
                                                    <option value="gold">Gold</option>
                                                    <option value="gray">Gray</option>
                                                    <option value="green">Green</option>
                                                    <option value="navy">Navy</option>
                                                    <option value="ocean">Ocean</option>
                                                    <option value="olive">Olive</option>
                                                    <option value="orchid">Orchid</option>
                                                    <option value="pink">Pink</option>
                                                    <option value="plum">Plum</option>
                                                    <option value="purple">Purple</option>
                                                    <option value="red">Red</option>
                                                    <option value="rust">Rust</option>
                                                    <option value="salmon">Salmon</option>
                                                    <option value="sand">Sand</option>
                                                    <option value="tan">Tan</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label for="show_separator_award_placeholder_tmdb_movie_LIBID">Placeholder TMDb Movie ID:</label>
                                                <input class="form-control" id="show_separator_award_placeholder_tmdb_movie_LIBID" type="text">
                                            </div>
                                            <div class="form-group">
                                                <label for="show_separator_award_placeholder_tvdb_show_LIBID">Placeholder TVDb Show ID:</label>
                                                <input class="form-control" id="show_separator_award_placeholder_tvdb_show_LIBID" type="text">
                                            </div>
                                            <div class="form-group">
                                                <label for="show_separator_award_placeholder_imdb_id_LIBID">Placeholder IMDb ID:</label>
                                                <input class="form-control" id="show_separator_award_placeholder_imdb_id_LIBID" type="text">
                                            </div>
                                            <div class="form-group">
                                                <label for="show_separator_award_collection_mode_LIBID">Collection Mode:</label>
                                                <select class="form-control" id="show_separator_award_collection_mode_LIBID">
                                                    <option value="default">Library Default</option>
                                                    <option value="hide">Hide Collection</option>
                                                    <option value="hide_items">Hide Items</option>
                                                    <option value="show_items">Show Items</option>
                                                </select>
                                            </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">
                                            Close
                                        </button>
                                        <button class="btn btn-primary" type="button">Save changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button aria-controls="collapseChart" aria-expanded="true" class="accordion-button collapsed" data-bs-target="#show_collapseChart_LIBID" data-bs-toggle="collapse" type="button">
                    Chart Collections
                </button>
            </h2>
            <div class="accordion-collapse collapse" data-bs-parent="#LIBID_showAccordion" id="show_collapseChart_LIBID">
                <div class="accordion-body">
                    <div class="card-group">
                        <div class="card" id="show_separator_chart_LIBID">
                            <img alt="Award Separator" class="card-img-top" src="../static/images/posters/separator_chart.jpg">
                            <div class="card-body">
                                <h5 class="card-title">Chart Separator</h5>
                                <p class="card-text">Example Collections:<br><i>- Chart Collections</i></p>
                            </div>
                            <div class="card-footer">
                                <div class="input-group mb-3 small">
                                    <div class="input-group-text">
                                        {% set checkbox_id = 'show_separator_chart_checkbox_sho-' ~ library %}
                                        <input class="form-check-input" type="checkbox" id="{{ checkbox_id }}" name="{{ checkbox_id }}" value="true"
                                        {% if data['library_selection'][checkbox_id]|string|lower=='true' %}checked{% endif %}> Enable
                                    </div>
                                    <button class="btn btn-primary btn-sm" data-bs-target="#show_separator_chart_modal_LIBID" data-bs-toggle="modal" disabled id="show_separator_chart_button_LIBID" type="button">Customize
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div aria-hidden="true" aria-labelledby="separator_chart_modal_LIBID" class="modal fade" id="show_separator_chart_modal_LIBID" tabindex="-1">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h1 class="modal-title fs-5" id="show_exampleModalLabel">Charts Separator</h1>
                                        <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
                                    </div>
                                    <div class="modal-body">
                                            <div class="form-group">
                                                <label for="show_use_chart_separator_LIBID">Use Separator:</label>
                                                <select class="form-control" id="show_use_chart_separator_LIBID">
                                                    <option value="true">Yes</option>
                                                    <option value="false">No</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label for="show_chart_sep_style_LIBID">Separator Style:</label>
                                                <select class="form-control" id="show_chart_sep_style_LIBID">
                                                    <option value="orig">Original</option>
                                                    <option value="amethyst">Amethyst</option>
                                                    <option value="aqua">Aqua</option>
                                                    <option value="blue">Blue</option>
                                                    <option value="forest">Forest</option>
                                                    <option value="fuchsia">Fuchsia</option>
                                                    <option value="gold">Gold</option>
                                                    <option value="gray">Gray</option>
                                                    <option value="green">Green</option>
                                                    <option value="navy">Navy</option>
                                                    <option value="ocean">Ocean</option>
                                                    <option value="olive">Olive</option>
                                                    <option value="orchid">Orchid</option>
                                                    <option value="pink">Pink</option>
                                                    <option value="plum">Plum</option>
                                                    <option value="purple">Purple</option>
                                                    <option value="red">Red</option>
                                                    <option value="rust">Rust</option>
                                                    <option value="salmon">Salmon</option>
                                                    <option value="sand">Sand</option>
                                                    <option value="stb">Stb</option>
                                                    <option value="tan">Tan</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label for="show_chart_sort_prefix_LIBID">Sort Prefix:</label>
                                                <input class="form-control" id="show_chart_sort_prefix_LIBID" placeholder="!" type="text">
                                            </div>
                                            <div class="form-group">
                                                <label for="show_chart_sort_title_LIBID">Sort Title:</label>
                                                <input class="form-control" id="show_chart_sort_title_LIBID" placeholder="<<sort_prefix>><<collection_section>>_!<<title>>" type="text">
                                            </div>
                                            <div class="form-group">
                                                <label for="show_chart_placeholder_tmdb_movie_LIBID">Placeholder TMDb Movie ID:</label>
                                                <input class="form-control" id="show_chart_placeholder_tmdb_movie_LIBID" type="text">
                                            </div>
                                            <div class="form-group">
                                                <label for="show_chart_placeholder_tvdb_show_LIBID">Placeholder TVDb Show ID:</label>
                                                <input class="form-control" id="show_chart_placeholder_tvdb_show_LIBID" type="text">
                                            </div>
                                            <div class="form-group">
                                                <label for="show_chart_placeholder_imdb_id_LIBID">Placeholder IMDb ID:</label>
                                                <input class="form-control" id="show_chart_placeholder_imdb_id_LIBID" type="text">
                                            </div>
                                            <div class="form-group">
                                                <label for="show_chart_name_separator_LIBID">Collection Name:</label>
                                                <input class="form-control" id="show_chart_name_separator_LIBID" placeholder="Award Collections" type="text">
                                            </div>
                                            <div class="form-group">
                                                <label for="show_chart_summary_separator_LIBID">Collection Summary:</label>
                                                <textarea class="form-control" id="show_chart_summary_separator_LIBID"></textarea>
                                            </div>
                                            <div class="form-group">
                                                <label for="show_chart_collection_mode_LIBID">Collection Mode:</label>
                                                <select class="form-control" id="show_chart_collection_mode_LIBID">
                                                    <option value="default">Library Default</option>
                                                    <option value="hide">Hide Collection</option>
                                                    <option value="hide_items">Hide Items</option>
                                                    <option value="show_items">Show Items</option>
                                                </select>
                                            </div>
                                            <div class="form-group">
                                                <label for="show_chart_url_poster_separator_LIBID">Poster URL:</label>
                                                <input class="form-control" id="show_chart_url_poster_separator_LIBID" type="text">
                                            </div>
                                            <button class="btn btn-primary" type="submit">Submit</button>
                                    </div>
                                    <div class="modal-footer">
                                        <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">
                                            Close
                                        </button>
                                        <button class="btn btn-primary" type="button">Save changes</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header">
                <button aria-controls="collapseContent" aria-expanded="true" class="accordion-button collapsed" data-bs-target="#collapseContent_LIBID" data-bs-toggle="collapse" type="button">
                    Content Collections
                </button>
            </h2>
            <div class="accordion-collapse collapse" data-bs-parent="#LIBID_showAccordion" id="collapseContent_LIBID">
                <div class="accordion-body">
                    <div class="card-group">
                        <div class="card" id="show_genre_LIBID">
                            <img alt="Genres" class="card-img-top" src="../static/images/posters/genre.jpg">
                            <div class="card-body">
                                <h5 class="card-title">Genres</h5>
                                <p class="card-text">Example Collections:<br><i>- Action<br>- Drama<br>- Science Fiction</i></p>
                            </div>
                            <div class="card-footer">
                                <div class="input-group mb-3 small">
                                    <div class="input-group-text">
                                        {% set checkbox_id = 'show_genre_checkbox_sho-' ~ library %}
                                        <input class="form-check-input" type="checkbox" id="{{ checkbox_id }}" name="{{ checkbox_id }}" value="true"
                                        {% if data['library_selection'][checkbox_id]|string|lower=='true' %}checked{% endif %}> Enable
                                    </div>
                                    <button class="btn btn-primary btn-sm" disabled id="show_genre_button_LIBID" type="button">
                                        Customize
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</form>
{% endblock %}
