{% extends "000-base.html" %} {% block content %}
<form method="post" id="configForm" name="configForm" onsubmit="return validateForm()">
  <div id="{{page_info['title']}}Section">
    <div class="row">
      <div class="col align-self-center">
        <div class="input-group justify-content-start">
          <button type="submit" class="btn btn-secondary" onclick="loading('prev')" formaction="/step/{{ page_info['prev_page'] }}">
            <i id="prev-spinner-icon" class="fa fa-arrow-left"></i>
          </button>
        </div>
      </div>
      <div class="col-6 align-self-center text-center">
        <h2>{{ page_info['title'] }}</h2>
      </div>
      <div class="col align-self-center">
        <div class="input-group justify-content-end jump-spinner-container">
          <button type="button" class="btn btn-success dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
            <span id="jump-to-text">Jump To</span>
            <i id="jump-spinner-icon" class=""></i>
          </button>
          <ul class="dropdown-menu dropdown-menu-end">
            {% for file, name in template_list %}
            {% if name == 'Final Validation' %}
            <li>
              <hr class="dropdown-divider">
            </li>
            {% endif %}
            <li>
              <a class="dropdown-item" href="javascript:void(0);" onclick="jumpTo('{{ file.rsplit('.', 1)[0] }}')">{{ name }}</a>
            </li>
            {% if name == 'Start' %}
            <li>
              <hr class="dropdown-divider">
            </li>
            {% endif %}
            {% endfor %}
          </ul>
          <button type="submit" class="btn btn-success" onclick="loading('next')" formaction="/step/{{ page_info['next_page'] }}">
            <i id="next-spinner-icon" class="fa fa-arrow-right"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="container text-center">
      <div class="row">
        <div class="col"></div>
        <div class="col-8">
          <div class="col align-self-end">
            <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25"
              aria-valuemin="0" aria-valuemax="100">
              <div class="progress-bar bg-success" style="width: {{ page_info['progress'] }}%">
                {{ page_info['progress'] }}%
              </div>
            </div>
          </div>
        </div>
        <div class="col"></div>
      </div>
    </div>
    <hr class="hr">
    {% include "modals/" + page_info['template_name'] + ".html" ignore missing %}
    <div id="validation-messages" class="alert alert-danger" role="alert" style="display: none;"></div>
    <div id="libraries-container">
      <!-- Library selection toggles -->
      <div class="form-floating">
        <label for="libraries">Select Movie Libraries:</label><br><br>
        {% set movie_libraries = plex_data['plex']['tmp_movie_libraries'].split(',')|sort if plex_data['plex']['tmp_movie_libraries'] else [] %}
        {% for library in movie_libraries %}
        <div class="form-check form-switch">
          <input class="form-check-input library-checkbox" type="checkbox" value="{{ library }}" data-type="movie" id="library_{{ library }}">
          <label class="form-check-label" for="library_{{ library }}">{{ library }}</label>
        </div>
        {% endfor %}
      </div>
      <div class="form-floating">
        <label for="libraries">Select Show Libraries:</label><br><br>
        {% set show_libraries = plex_data['plex']['tmp_show_libraries'].split(',')|sort if plex_data['plex']['tmp_show_libraries'] else [] %}
        {% for library in show_libraries %}
        <div class="form-check form-switch">
          <input class="form-check-input library-checkbox" type="checkbox" value="{{ library }}" data-type="show" id="library_{{ library }}">
          <label class="form-check-label" for="library_{{ library }}">{{ library }}</label>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="form-floating">
      <input type="text" class="form-control" id="libraries" name="libraries" value="{{ data['library_selection']['libraries'] }}" readonly>
      <label for="libraries">Selected Libraries</label>
    </div>
    <div class="form-floating">
      <input type="text" class="form-control" id="library_selection_validated" name="library_selection_validated" value="{{ data['validated'] }}" title="">
      <label for="library_selection_validated">Library Selection Validated</label>
    </div>
    <div id="statusMessage" class="status-message"></div><br>
    <!-- Tabs container -->
    <ul class="nav nav-tabs" id="tabs" role="tablist"></ul>
    <div class="tab-content" id="tab-content"></div>
  </div>
</form>

<!-- Add these hidden divs for templates -->
<!-- Movie Library Template -->
<div id="movie-template" style="display: none;">
    <h3>Movie Library Configuration</h3>
    <!-- Include your form inputs and accordions for movies here -->
    <div class="accordion" id="movieAccordion">
        <!-- Movie Library Accordion Content -->
        <div class="accordion-item">
          <h2 class="accordion-header">
            <button aria-controls="collapseAward" aria-expanded="true" class="accordion-button collapsed" data-bs-target="#collapseAward" data-bs-toggle="collapse" type="button">
              Award Collections
            </button>
          </h2>
          <div class="accordion-collapse collapse" data-bs-parent="#movieAccordion" id="collapseAward">
            <div class="accordion-body">
              <div class="card-group">
                <div class="card" id="separator_award">
                  <img alt="Award Separator" class="card-img-top" src="../static/images/posters/separator_award.jpg">
                  <div class="card-body">
                    <h5 class="card-title">Award Separator</h5>
                    <p class="card-text">Example Collections:<br><i>- Award Collections</i></p>
                  </div>
                  <div class="card-footer">
                    <div class="input-group mb-3 small">
                      <div class="input-group-text">
                        <input aria-label="Checkbox for following text input" class="form-check-input mt-0" id="separator_award_checkbox" type="checkbox" value=""> Enable
                      </div>
                      <button class="btn btn-primary btn-sm" data-bs-target="#separator_award_modal" data-bs-toggle="modal" disabled id="separator_award_button" type="button">Customize</button>
                    </div>
                  </div>
                </div>
                <div aria-hidden="true" aria-labelledby="separator_award_modal" class="modal fade" id="separator_award_modal" tabindex="-1">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5">Awards Separator</h1>
                        <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
                      </div>
                      <div class="modal-body">
                        <div class="form-group">
                          <label for="separator_award_sep_style">Separator Style:</label>
                          <select class="form-control" id="separator_award_sep_style">
                            <option value="orig">Original</option>
                            <option value="amethyst">Amethyst</option>
                            <option value="aqua">Aqua</option>
                            <option value="blue">Blue</option>
                            <option value="stb">Brown</option>
                            <option value="forest">Forest</option>
                            <option value="fuchsia">Fuchsia</option>
                            <option value="gold">Gold</option>
                            <option value="gray">Gray</option>
                            <option value="green">Green</option>
                            <option value="navy">Navy</option>
                            <option value="ocean">Ocean</option>
                            <option value="olive">Olive</option>
                            <option value="orchid">Orchid</option>
                            <option value="pink">Pink</option>
                            <option value="plum">Plum</option>
                            <option value="purple">Purple</option>
                            <option value="red">Red</option>
                            <option value="rust">Rust</option>
                            <option value="salmon">Salmon</option>
                            <option value="sand">Sand</option>
                            <option value="tan">Tan</option>
                          </select>
                        </div>
                        <div class="form-group">
                          <label for="separator_award_placeholder_tmdb_movie">Placeholder TMDb Movie ID:</label>
                          <input class="form-control" id="separator_award_placeholder_tmdb_movie" type="text">
                        </div>
                        <div class="form-group">
                          <label for="separator_award_placeholder_tvdb_show">Placeholder TVDb Show ID:</label>
                          <input class="form-control" id="separator_award_placeholder_tvdb_show" type="text">
                        </div>
                        <div class="form-group">
                          <label for="separator_award_placeholder_imdb_id">Placeholder IMDb ID:</label>
                          <input class="form-control" id="separator_award_placeholder_imdb_id" type="text">
                        </div>
                        <div class="form-group">
                          <label for="separator_award_collection_mode">Collection Mode:</label>
                          <select class="form-control" id="separator_award_collection_mode">
                            <option value="default">Library Default</option>
                            <option value="hide">Hide Collection</option>
                            <option value="hide_items">Hide Items</option>
                            <option value="show_items">Show Items</option>
                          </select>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">Close</button>
                        <button class="btn btn-primary" type="button">Save changes</button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card" id="oscars">
                  <img alt="Academy Awards (Oscars)" class="card-img-top" src="../static/images/posters/oscars.jpg">
                  <div class="card-body">
                    <h5 class="card-title">Academy Awards (Oscars)</h5>
                    <p class="card-text">Example Collections:<br><i>- Best Picture Winners<br>- Best Director Winners<br>- 2022</i>
                    </p>
                  </div>
                  <div class="card-footer">
                    <div class="input-group mb-3 small">
                      <div class="input-group-text">
                        <input aria-label="Checkbox for following text input" class="form-check-input mt-0" id="oscars_checkbox" type="checkbox" value=""> Enable
                      </div>
                      <button class="btn btn-primary btn-sm" data-bs-target="#oscars_modal" data-bs-toggle="modal" disabled id="oscars_button" type="button">
                        Customize
                      </button>
                    </div>
                  </div>
                </div>
                <div aria-hidden="true" aria-labelledby="oscars_modal" class="modal fade" id="oscars_modal" tabindex="-1">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h1 class="modal-title fs-5">Academy Awards (Oscars)</h1>
                        <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
                      </div>
                      <div class="modal-body">
                          <div class="mb-3" id="oscarsOptions">
                            <h6>Enabled Collections</h6>
                            <div class="dropdown">
                              <button aria-expanded="false" class="btn btn-success dropdown-toggle dropdown-toggle" data-bs-toggle="dropdown" id="oscarsDropdown" type="button">
                                Select
                              </button>
                              <ul aria-labelledby="multiSelectDropdown" class="dropdown-menu">
                                <li>
                                  <div class="form-check">
                                    <input checked class="form-check-input" id="oscars_use_best_picture" type="checkbox">
                                    <label class="form-check-label" for="oscars_use_best_picture">Oscars Best Picture Winners</label>
                                  </div>
                                  <div class="form-check">
                                    <input checked class="form-check-input" id="oscars_use_best_director" type="checkbox">
                                    <label class="form-check-label" for="oscars_use_best_director">Oscars Best Director Winners</label>
                                  </div>
                                  <div class="form-check">
                                    <input checked class="form-check-input" id="oscars_use_year_collections" type="checkbox">
                                    <label class="form-check-label" for="oscars_use_year_collections">Oscars Winners (year)</label>
                                  </div>
                                </li>
                              </ul>
                            </div>
                            <br>
                            <div class="mb-3">
                              <label class="form-label" for="oscars_collection_order"><h6>Collection Order</h6></label>
                              <select class="form-select" id="oscars_collection_order">
                                <option selected value="custom">Default IMDb Order</option>
                                <option value="release">Release Date</option>
                                <option value="alpha">Alphabetically</option>
                                <option value="critic_rating.desc">Critic Rating</option>
                                <option value="audience_rating.desc">Audience Rating</option>
                                <option value="random.desc">Randomly</option>
                              </select>
                            </div>
                          </div>
                      </div>
                      <div class="modal-footer">
                        <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">
                          Close
                        </button>
                        <button class="btn btn-primary" type="button">Save changes</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>

<!-- Show Library Template -->
<div id="show-template" style="display: none;">
  <h3>Show Library Configuration</h3>
  <!-- Include your form inputs and accordions for shows here -->
  <div class="accordion" id="showAccordion">
    <!-- Show Library Accordion Content -->
    <div class="accordion-item">
      <h2 class="accordion-header">
        <button aria-controls="collapseAwardShow" aria-expanded="true" class="accordion-button collapsed" data-bs-target="#collapseAwardShow" data-bs-toggle="collapse" type="button">
          Award Collections
        </button>
      </h2>
      <div class="accordion-collapse collapse" data-bs-parent="#showAccordion" id="collapseAwardShow">
        <div class="accordion-body">
          <div class="card-group">
            <div class="card" id="separator_award_show">
              <img alt="Award Separator" class="card-img-top" src="../static/images/posters/separator_award.jpg">
              <div class="card-body">
                <h5 class="card-title">Award Separator</h5>
                <p class="card-text">Example Collections:<br><i>- Award Collections</i></p>
              </div>
              <div class="card-footer">
                <div class="input-group mb-3 small">
                  <div class="input-group-text">
                    <input aria-label="Checkbox for following text input" class="form-check-input mt-0" id="separator_award_show_checkbox" type="checkbox" value=""> Enable
                  </div>
                  <button class="btn btn-primary btn-sm" data-bs-target="#separator_award_show_modal" data-bs-toggle="modal" disabled id="separator_award_show_button" type="button">Customize</button>
                </div>
              </div>
            </div>
            <div aria-hidden="true" aria-labelledby="separator_award_show_modal" class="modal fade" id="separator_award_show_modal" tabindex="-1">
              <div class="modal-dialog">
                <div class="modal-content">
                  <div class="modal-header">
                    <h1 class="modal-title fs-5">Awards Separator</h1>
                    <button aria-label="Close" class="btn-close" data-bs-dismiss="modal" type="button"></button>
                  </div>
                  <div class="modal-body">
                    <div class="form-group">
                      <label for="separator_award_show_sep_style">Separator Style:</label>
                      <select class="form-control" id="separator_award_show_sep_style">
                        <option value="orig">Original</option>
                        <option value="amethyst">Amethyst</option>
                        <option value="aqua">Aqua</option>
                        <option value="blue">Blue</option>
                        <option value="stb">Brown</option>
                        <option value="forest">Forest</option>
                        <option value="fuchsia">Fuchsia</option>
                        <option value="gold">Gold</option>
                        <option value="gray">Gray</option>
                        <option value="green">Green</option>
                        <option value="navy">Navy</option>
                        <option value="ocean">Ocean</option>
                        <option value="olive">Olive</option>
                        <option value="orchid">Orchid</option>
                        <option value="pink">Pink</option>
                        <option value="plum">Plum</option>
                        <option value="purple">Purple</option>
                        <option value="red">Red</option>
                        <option value="rust">Rust</option>
                        <option value="salmon">Salmon</option>
                        <option value="sand">Sand</option>
                        <option value="tan">Tan</option>
                      </select>
                    </div>
                    <div class="form-group">
                      <label for="separator_award_show_placeholder_tmdb_movie">Placeholder TMDb Movie ID:</label>
                      <input class="form-control" id="separator_award_show_placeholder_tmdb_movie" type="text">
                    </div>
                    <div class="form-group">
                      <label for="separator_award_show_placeholder_tvdb_show">Placeholder TVDb Show ID:</label>
                      <input class="form-control" id="separator_award_show_placeholder_tvdb_show" type="text">
                    </div>
                    <div class="form-group">
                      <label for="separator_award_show_placeholder_imdb_id">Placeholder IMDb ID:</label>
                      <input class="form-control" id="separator_award_show_placeholder_imdb_id" type="text">
                    </div>
                    <div class="form-group">
                      <label for="separator_award_show_collection_mode">Collection Mode:</label>
                      <select class="form-control" id="separator_award_show_collection_mode">
                        <option value="default">Library Default</option>
                        <option value="hide">Hide Collection</option>
                        <option value="hide_items">Hide Items</option>
                        <option value="show_items">Show Items</option>
                      </select>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button class="btn btn-secondary" data-bs-dismiss="modal" type="button">Close</button>
                    <button class="btn btn-primary" type="button">Save changes</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  const initialLibraries = "{{ data['libraries'] }}";
</script>
{% endblock %}
