{% extends "000-base.html" %} {% block content %}
<form action="/step/{{ next_page }}" method="post" id="configForm" name="configForm">
  <div id="{{curr_page}}Section">
    <div class="row">
      <div class="col align-self-center">
        <div class="input-group justify-content-start">
          <a class="btn btn-secondary" role="button" href="/step/{{ prev_page }}">Previous</a>
          <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="visually-hidden">Toggle Dropdown</span>
          </button>
          <ul class="dropdown-menu">
            {% for file, name in template_list %}
              {% if name == 'Final Validation' %}
                <li><hr class="dropdown-divider"></li>
              {% endif %}
              <li>
                <a class="dropdown-item" href="/step/{{ file.rsplit('.', 1)[0] }}">{{ name }}</a>
              </li>
              {% if name == 'Start' %}
                <li><hr class="dropdown-divider"></li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="col-6 align-self-center text-center">
          <h2>{{ curr_page }}</h2>
      </div>
    <div class="col align-self-center">
      <div class="input-group justify-content-end">
        <button type="submit" class="btn btn-success">Next</button>
        <button type="button" class="btn btn-success dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
          <span class="visually-hidden">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu dropdown-menu-end">
          {% for file, name in template_list %}
            {% if name == 'Final Validation' %}
              <li><hr class="dropdown-divider"></li>
            {% endif %}
            <li>
              <a class="dropdown-item" href="/step/{{ file.rsplit('.', 1)[0] }}">{{ name }}</a>
            </li>
            {% if name == 'Start' %}
              <li><hr class="dropdown-divider"></li>
            {% endif %}
          {% endfor %}
      </ul>
      </div>
    </div>
  </div>
    <div class="container text-center">
      <div class="row">
        <div class="col"></div>
        <div class="col-8">
          <div class="col align-self-end">
            <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
              <div class="progress-bar bg-success" style="width: {{ progress }}%">
                {{ progress }}%
              </div>
            </div>
          </div>
        </div>
        <div class="col"></div>
      </div>
    </div>
    <hr class="hr">
    <div class="alert alert-danger" role="alert">
      This section is mandatory and must be completed<br>
      <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">Click Here</a> if you need guidance completing this section.
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Completing the {{ title}} Section</h1>
          </div>
          <div class="modal-body">
            This is some dummy text<br>
            <br>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
      <div class="input-group input-group-lg">
      <input type="password" class="form-control" id="tmdb_apikey" name="tmdb_apikey" value="{{ data['tmdb']['apikey'] }}" title="API Key" aria-label="TMDb API Key"> <button class="btn btn-secondary" id="toggleApikeyVisibility" type="button">Show</button><button class="btn btn-success" id="validateButton" type="button">Validate</button>
    </div>
    <div id="statusMessage" class="status-message"></div>
    <div class="form-floating">
      <select class="form-select" aria-label="TMDb Language Selector" id="tmdb_language" name="tmdb_language">
        <option value="{{ data['tmdb']['language'] }}">Please validate TMDB API Key</option>
      </select>
      <label for="tmdb_language">Language</label>
    </div>
    <div class="form-floating">
      <select class="form-select" aria-label="TMDb Region Selector" id="tmdb_region" name="tmdb_region">
      <option value="{{ data['tmdb']['region'] }}">Please validate TMDB API Key</option>
      </select>
      <label for="tmdb_region">Region</label>
    </div>
    <div class="form-floating">
      <input type="number" class="form-control" id="tmdb_cache_expiration" name="tmdb_cache_expiration" value="{{ data['tmdb']['cache_expiration'] }}" min="0"><label for="tmdb_cache_expiration">Cache Expiration (in days)</label>
    </div>
</form>
<script>
  // Enable Tooltips
  const tooltipTriggerList = document.querySelectorAll(
    '[data-bs-toggle="tooltip"]'
  );
  const tooltipList = [...tooltipTriggerList].map(
    (tooltipTriggerEl) => new bootstrap.Tooltip(tooltipTriggerEl)
  );

  document
    .getElementById("toggleApikeyVisibility")
    .addEventListener("click", function () {
      const apikeyInput = document.getElementById("tmdb_apikey");
      const currentType = apikeyInput.getAttribute("type");
      apikeyInput.setAttribute(
        "type",
        currentType === "password" ? "text" : "password"
      );
      this.textContent = currentType === "password" ? "Hide" : "Show";
    });

  function sortByEnglishName(data) {
    return data.sort((a, b) => a.english_name.localeCompare(b.english_name));
  }

  document
    .getElementById("validateButton")
    .addEventListener("click", function () {
      const apiKey = document.getElementById("tmdb_apikey").value;
      const statusMessage = document.getElementById("statusMessage");
      const languageSelect = document.getElementById("tmdb_language");
      const regionSelect = document.getElementById("tmdb_region");

      if (!apiKey) {
        statusMessage.textContent = "Please enter an API key.";
        statusMessage.style.display = "block";
        return;
      }

      fetch(`https://api.themoviedb.org/3/movie/550?api_key=${apiKey}`)
        .then((response) => {
          if (response.ok) {
            statusMessage.textContent = "API key is valid!";
            statusMessage.style.color = "#75b798";
            return Promise.all([
              fetch(
                `https://api.themoviedb.org/3/configuration/languages?api_key=${apiKey}`
              ),
              fetch(
                `https://api.themoviedb.org/3/watch/providers/regions?api_key=${apiKey}`
              ),
            ]);
          } else {
            throw new Error("Invalid API key");
          }
        })
        .then((responses) =>
          Promise.all(responses.map((response) => response.json()))
        )
        .then((data) => {
          const [languagesData, regionsData] = data;

          // Clear previous options
          languageSelect.innerHTML = "";
          regionSelect.innerHTML = "";

          const sortedLanguages = sortByEnglishName(languagesData);
          const sortedRegions = sortByEnglishName(regionsData.results);

          // Populate the language dropdown
          sortedLanguages.forEach((language) => {
            if (language.english_name) {
              const option = document.createElement("option");
              option.value = language.iso_639_1;
              option.textContent = language.english_name;
              languageSelect.appendChild(option);
            }
          });

          // Populate the region dropdown
          sortedRegions.forEach((region) => {
            if (region.english_name) {
              const option = document.createElement("option");
              option.value = region.iso_3166_1;
              option.textContent = region.english_name;
              regionSelect.appendChild(option);
            }
          });

          // Set default language and region to English
          languageSelect.value = "en";
          regionSelect.value = "US";
        })
        .catch((error) => {
          statusMessage.textContent = error.message;
          statusMessage.style.color = "#ea868f";
        })
        .finally(() => {
          statusMessage.style.display = "block";
        });
    });

  document
    .getElementById("configForm")
    .addEventListener("submit", function (event) {
      const apiKeyInput = document.getElementById("tmdb_apikey");
      if (!apiKeyInput.value) {
        apiKeyInput.value = "";
      }
    });
</script>
{% endblock %}
