{% extends "000-base.html" %} {% block content %}
<form action="040-github" method="post" id="configForm" name="configForm">
  <div id="tautulliSection">
    <h2>Tautulli Settings</h2>
    <hr class="hr">
    <div class="alert alert-info" role="alert">
      <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">Click Here</a> if you need guidance completing this section.
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Completing the Tautulli Section</h1>
          </div>
          <div class="modal-body">
            This is some dummy text<br>
            <br>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <div class="form-floating">
      <input type="text" class="form-control" id="tautulli_url" name="tautulli_url" value="{{ data['tautulli']['url'] }}" title="http://192.168.1.12:8181"> <label for="tautulli_url">Tautulli URL</label>
    </div>
    <div class="input-group input-group-lg">
      <input type="password" class="form-control" id="tautulli_apikey" name="tautulli_apikey" value="{{ data['tautulli']['apikey'] }}" title="API Key" aria-label="Tautull API Key"> <button class="btn btn-secondary" id="toggleApikeyVisibility" type="button">Show</button> <button class="btn btn-success" id="validateTautulliButton" type="button">Validate</button>
    </div>
    <div id="tautulliStatusMessage" class="status-message"></div><br>
  </div>
  <hr class="hr">
  <div class="row">
    <div class="col">
      <a class="btn btn-secondary" role="button" href="/step/020-tmdb">Previous</a>
    </div>
    <div class="col-6"></div>
    <div class="col d-flex justify-content-end align-items-center">
      <button class="btn btn-primary me-md-2" type="submit">Next</button>
    </div>
  </div>
</form>
<script>

  document.getElementById('toggleApikeyVisibility').addEventListener('click', function() {
    const apikeyInput = document.getElementById('tautulli_apikey');
    const currentType = apikeyInput.getAttribute('type');
    apikeyInput.setAttribute('type', currentType === 'password' ? 'text' : 'password');
    this.textContent = currentType === 'password' ? 'Hide' : 'Show';
  });

  // Tautulli validation script
  document.getElementById('validateTautulliButton').addEventListener('click', function() {
    const tautulliUrl = document.getElementById('tautulli_url').value;
    const tautulliApikey = document.getElementById('tautulli_apikey').value;
    const tautulliStatusMessage = document.getElementById('tautulliStatusMessage');

    if (!tautulliUrl || !tautulliApikey) {
      tautulliStatusMessage.textContent = 'Please enter both Tautulli URL and API Key.';
      tautulliStatusMessage.style.display = 'block';
      return;
    }

    fetch('/validate_tautulli', {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json'
      },
      body: JSON.stringify({
        tautulli_url: tautulliUrl,
        tautulli_apikey: tautulliApikey
      })
    })
    .then(response => response.json())
    .then(data => {
      if (data.valid) {
        tautulliStatusMessage.textContent = 'Tautulli server validated successfully!';
        tautulliStatusMessage.style.color = '#75b798';
      } else {
        tautulliStatusMessage.textContent = 'Failed to validate Tautulli server. Please check your URL and API Key.';
        tautulliStatusMessage.style.color = '#ea868f';
      }
      tautulliStatusMessage.style.display = 'block';
    })
    .catch(error => {
      console.error('Error validating Tautulli server:', error);
      tautulliStatusMessage.textContent = 'An error occurred while validating Tautulli server.';
      tautulliStatusMessage.style.color = '#ea868f';
      tautulliStatusMessage.style.display = 'block';
    });
  });

  document.getElementById('configForm').addEventListener('submit', function(event) {
    const apiKeyInput = document.getElementById('tautulli_apikey');
    const urlInput = document.getElementById('tautulli_url');
    if (!apiKeyInput.value) {
      apiKeyInput.value = '';
    }
    if (!urlInput.value) {
      urlInput.value = 'http://';
    }
  });
</script> {% endblock %}
