{% extends "000-base.html" %}

{% block content %}
    <h1>Tautulli Configuration Information</h1>
    <form action="040-github" method="post" id="configForm">
    <!-- Tautulli Section -->
    <div id="tautulliSection">
        <h2>Tautulli Settings</h2>
        <label for="tautulli_url">Tautulli URL:</label>
        <input type="text" id="tautulli_url" name="tautulli_url" placeholder="http://192.168.1.12:8181">

        <label for="tautulli_apikey">Tautulli API Key:</label>
        <div class="button-container">
            <input type="text" id="tautulli_apikey" name="tautulli_apikey" placeholder="################################">
            <button type="button" id="validateTautulliButton" class="btn">Validate Tautulli</button>
        </div>
        <div id="tautulliStatusMessage" class="status-message"></div>
</div>
<br><br>
        <input type="submit" value="Next">
    </form>
    <script>
        // Tautulli validation script
        document.getElementById('validateTautulliButton').addEventListener('click', function() {
            const tautulliUrl = document.getElementById('tautulli_url').value;
            const tautulliToken = document.getElementById('tautulli_apikey').value;
            const tautulliStatusMessage = document.getElementById('tautulliStatusMessage');

            if (!tautulliUrl || !tautulliToken) {
                tautulliStatusMessage.textContent = 'Please enter both Tautulli URL and API Key.';
                tautulliStatusMessage.style.display = 'block';
                return;
            }

            fetch('/validate_tautulli', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    tautulli_url: tautulliUrl,
                    tautulli_token: tautulliToken
                })
            })
            .then(response => response.json())
            .then(data => {
                if (data.valid) {
                    tautulliStatusMessage.textContent = 'Tautulli server validated successfully!';
                    tautulliStatusMessage.style.color = 'green';
                } else {
                    tautulliStatusMessage.textContent = 'Failed to validate Tautulli server. Please check your URL and API Key.';
                    tautulliStatusMessage.style.color = 'red';
                }
                tautulliStatusMessage.style.display = 'block';
            })
            .catch(error => {
                console.error('Error validating Tautulli server:', error);
                tautulliStatusMessage.textContent = 'An error occurred while validating Tautulli server.';
                tautulliStatusMessage.style.color = 'red';
                tautulliStatusMessage.style.display = 'block';
            });
        });
    </script>
{% endblock %}
