{% extends "000-base.html" %} {% block content %}
<form method="post" id="configForm" name="configForm">
  <div id="{{page_info['title']}}Section">
    <div class="row">
      <div class="col align-self-center">
        <div class="input-group justify-content-start">
          <button type="submit" class="btn btn-secondary" onclick="loading('prev')" formaction="/step/{{ page_info['prev_page'] }}">
            <i id="prev-spinner-icon" class="fa fa-arrow-left"></i>
          </button>
        </div>
      </div>
      <div class="col-6 align-self-center text-center">
        <h2>{{ page_info['title'] }}</h2>
      </div>
      <div class="col align-self-center">
        <div class="input-group justify-content-end">
          <button type="button" class="btn btn-success dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
            <span>Jump To</span>
          </button>
          <ul class="dropdown-menu dropdown-menu-end">
            {% for file, name in template_list %}
            {% if name == 'Final Validation' %}
            <li>
              <hr class="dropdown-divider">
            </li>
            {% endif %}
            <li>
              <a class="dropdown-item" href="/step/{{ file.rsplit('.', 1)[0] }}">{{ name }}</a>
            </li>
            {% if name == 'Start' %}
            <li>
              <hr class="dropdown-divider">
            </li>
            {% endif %}
            {% endfor %}
          </ul>
          <button type="submit" class="btn btn-success" onclick="loading('next')" formaction="/step/{{ page_info['next_page'] }}">
            <i id="next-spinner-icon" class="fa fa-arrow-right"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="container text-center">
      <div class="row">
        <div class="col"></div>
        <div class="col-8">
          <div class="col align-self-end">
            <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
              <div class="progress-bar bg-success" style="width: {{ page_info['progress'] }}%">
                {{ page_info['progress'] }}%
              </div>
            </div>
          </div>
        </div>
        <div class="col"></div>
      </div>
    </div>
    <hr class="hr">
    <div class="alert alert-info" role="alert">
      <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">Click Here</a> if you need guidance completing this section.
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Completing the {{ title}} Section</h1>
          </div>
          <div class="modal-body">
            This is some dummy text<br>
            <br>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <div class="input-group input-group-lg form-floating">
      <input type="password" class="form-control" id="github_token" name="github_token" value="{{ data['github']['token'] }}" title="GitHub Token" aria-label="GitHub Token"><label for="github_token">GitHub Personal Access Token</label>
      <button class="btn btn-secondary" id="toggleApikeyVisibility" type="button">
        <i class="fas fa-eye"></i>
      </button>
      <button class="btn btn-success" id="validateGithubButton" type="button">Validate</button>
    </div>
    <div id="githubStatusMessage" class="status-message"></div><br>
  </div>
</form>
<script>
  document.getElementById('toggleApikeyVisibility').addEventListener('click', function() {
    const apikeyInput = document.getElementById('github_token');
    const currentType = apikeyInput.getAttribute('type');
    apikeyInput.setAttribute("type", currentType === "password" ? "text" : "password");
    this.innerHTML = currentType === "password" ? '<i class="fas fa-eye-slash"></i>' : '<i class="fas fa-eye"></i>';
  });

  async function validateGitHubToken(token) {
    const apiUrl = "https://api.github.com/user";

    try {
      const response = await fetch(apiUrl, {
        method: "GET",
        headers: {
          Authorization: `token ${token}`,
          Accept: "application/vnd.github.v3+json",
        },
      });

      if (response.ok) {
        const data = await response.json();
        console.log("GitHub token is valid. User: " + data.login);
        return true;
      } else {
        console.log("Invalid GitHub token. Status:", response.status);
        return false;
      }
    } catch (error) {
      console.error("Error validating GitHub token:", error);
      return false;
    }
  }

  document
    .getElementById("validateGithubButton")
    .addEventListener("click", function () {
      const apiKey = document.getElementById("github_token").value;
      const githubStatusMessage = document.getElementById(
        "githubStatusMessage"
      );

      if (!apiKey) {
        githubStatusMessage.textContent =
          "Please enter an GitHub Personal Access Token.";
        githubStatusMessage.style.display = "block";
        return;
      }

      validateGitHubToken(apiKey).then((isValid) => {
        if (isValid) {
          githubStatusMessage.textContent = "GitHub token is valid.";
          githubStatusMessage.style.color = "#75b798";
        } else {
          githubStatusMessage.textContent = "GitHub token is invalid.";
          githubStatusMessage.style.color = "#ea868f";
        }
      });
      githubStatusMessage.style.display = "block";
    });

  document
    .getElementById("configForm")
    .addEventListener("submit", function (event) {
      const apiKeyInput = document.getElementById("github_token");
      if (!apiKeyInput.value) {
        apiKeyInput.value = "";
      }
    });
</script>
{% endblock %}
