{% extends "000-base.html" %} {% block content %}
<form action="/step/050-omdb" method="post" id="configForm" name="configForm">
  <div id="githubSection">
    <h2>GitHub Settings</h2>
    <hr class="hr" />
<div class="alert alert-info" role="alert">
  <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">Click Here</a> if you need guidance completing this section.
</div>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Completing the GitHub Section</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        This is some dummy text<br><br>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

    <div class="input-group input-group-lg">
      <input type="password" class="form-control" id="github_token" name="github_token"  placeholder="GitHub Token" aria-label="GitHub Token">
      <button class="btn btn-secondary" id="toggleApikeyVisibility" type="button">Show</button>
      <button class="btn btn-success" id="validateGithubButton" type="button">Validate</button>
    </div>
      <div id="githubStatusMessage" class="status-message"></div><br>
  </div>
      <hr class="hr" />
  <div class="row">
    <div class="col">
      <a class="btn btn-secondary" role="button" href="/step/030-tautulli">Previous</a>
    </div>
    <div class="col-6">
    </div>
  <div class="col d-flex justify-content-end align-items-center">
    <button class="btn btn-primary me-md-2" type="submit">Next</button>
    </div>
  </div>
</form>

<script>
  // Save input value to sessionStorage on change
  document.getElementById('github_token').addEventListener('input', function() {
    sessionStorage.setItem('github_token', this.value);
  });

  // Load saved values from sessionStorage on page load
  document.addEventListener('DOMContentLoaded', function() {
    const savedGithubToken = sessionStorage.getItem('github_token');
    if (savedGithubToken) {
      document.getElementById('github_token').value = savedGithubToken;
    }
  });

  document.getElementById('toggleApikeyVisibility').addEventListener('click', function() {
    const apikeyInput = document.getElementById('github_token');
    const currentType = apikeyInput.getAttribute('type');
    apikeyInput.setAttribute('type', currentType === 'password' ? 'text' : 'password');
    this.textContent = currentType === 'password' ? 'Hide' : 'Show';
  });

  async function validateGitHubToken(token) {
    const apiUrl = "https://api.github.com/user";

    try {
      const response = await fetch(apiUrl, {
        method: "GET",
        headers: {
          "Authorization": `token ${token}`,
          "Accept": "application/vnd.github.v3+json"
        }
      });

      if (response.ok) {
        const data = await response.json();
        console.log("GitHub token is valid. User: " + data.login);
        return true;
      } else {
        console.log("Invalid GitHub token. Status:", response.status);
        return false;
      }
    } catch (error) {
      console.error("Error validating GitHub token:", error);
      return false;
    }
  }

  document.getElementById('validateGithubButton').addEventListener('click', function() {
    const apiKey = document.getElementById('github_token').value;
    const githubStatusMessage = document.getElementById('githubStatusMessage');

    if (!apiKey) {
      githubStatusMessage.textContent = 'Please enter an GitHub Personal Access Token.';
      githubStatusMessage.style.display = 'block';
      return;
    }

    validateGitHubToken(apiKey).then(isValid => {
      if (isValid) {
        githubStatusMessage.textContent = "GitHub token is valid.";
        githubStatusMessage.style.color = '#75b798';
      } else {
        githubStatusMessage.textContent = "GitHub token is invalid.";
        githubStatusMessage.style.color = '#ea868f';
      }
    });
    githubStatusMessage.style.display = 'block';
  });

  document.getElementById('configForm').addEventListener('submit', function(event) {
    const apiKeyInput = document.getElementById('github_token');
    if (!apiKeyInput.value) {
      apiKeyInput.value = '';
    }
  });
</script> {% endblock %}
