{% extends "000-base.html" %} {% block content %}
<form action="/step/060-mdblist" method="post" id="configForm" name="configForm">
  <div id="omdbSection">
    <h2>OMDb Settings</h2>
    <hr class="hr">
    <div class="alert alert-info" role="alert">
      <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">Click Here</a> if you need guidance completing this section.
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Completing the OMDb Section</h1>
          </div>
          <div class="modal-body">
            This is some dummy text<br>
            <br>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <div class="input-group input-group-lg">
      <input type="password" class="form-control" id="omdb_apikey" name="omdb_apikey" placeholder="OMDb API Key" aria-label="OMDb API Key"> <button class="btn btn-secondary" id="toggleApikeyVisibility" type="button">Show</button> <button class="btn btn-success" id="validateOmdbButton" type="button">Validate</button>
    </div>
    <div id="omdbStatusMessage" class="status-message"></div><br>
  </div>
  <div class="form-floating">
    <input type="number" class="form-control" id="omdb_cache_expiration" name="omdb_cache_expiration" value="60" min="0"> <label for="omdb_cache_expiration">Cache Expiration (in days)</label>
  </div>
  <hr class="hr">
  <div class="row">
    <div class="col">
      <a class="btn btn-secondary" role="button" href="/step/040-github">Previous</a>
    </div>
    <div class="col-6"></div>
    <div class="col d-flex justify-content-end align-items-center">
      <button class="btn btn-primary me-md-2" type="submit">Next</button>
    </div>
  </div>
</form>
<script>
    // Save input values to sessionStorage on change
    document.getElementById('omdb_apikey').addEventListener('input', function() {
        sessionStorage.setItem('omdb_apikey', this.value);
    });
    document.getElementById('omdb_cache_expiration').addEventListener('input', function() {
        sessionStorage.setItem('omdb_cache_expiration', this.value);
    });

    // Load saved values from sessionStorage on page load
    document.addEventListener('DOMContentLoaded', function() {
        const savedOmdbApikey = sessionStorage.getItem('omdb_apikey');
        const savedCacheExpiration = sessionStorage.getItem('omdb_cache_expiration');

        if (savedOmdbApikey) {
            document.getElementById('omdb_apikey').value = savedOmdbApikey;
        }
        if (savedCacheExpiration) {
            document.getElementById('omdb_cache_expiration').value = savedCacheExpiration;
        }
    });

    document.getElementById('toggleApikeyVisibility').addEventListener('click', function() {
        const apikeyInput = document.getElementById('omdb_apikey');
        const currentType = apikeyInput.getAttribute('type');
        apikeyInput.setAttribute('type', currentType === 'password' ? 'text' : 'password');
        this.textContent = currentType === 'password' ? 'Hide' : 'Show';
    });

    async function validateOmdbapikey(apikey) {
        const apiUrl = `http://www.omdbapi.com/?apikey=${apikey}&s=test`;
        try {
            const response = await fetch(apiUrl);
            const data = await response.json();
            if (data.Response === "True" || data.Error === "Movie not found!") {
                console.log("OMDb apikey is valid.");
                return true;
            } else {
                console.log("Invalid OMDb apikey. Error:", data.Error);
                return false;
            }
        } catch (error) {
            console.error("Error validating OMDb apikey:", error);
            return false;
        }
    }

    document.getElementById('validateOmdbButton').addEventListener('click', function() {
        const apiKey = document.getElementById('omdb_apikey').value;
        const omdbStatusMessage = document.getElementById('omdbStatusMessage');

        if (!apiKey) {
            omdbStatusMessage.textContent = 'Please enter an OMDb API key.';
            omdbStatusMessage.style.color = '#ea868f';
            omdbStatusMessage.style.display = 'block';
            return;
        }

        validateOmdbapikey(apiKey).then(isValid => {
            if (isValid) {
                omdbStatusMessage.textContent = "OMDb API key is valid.";
                omdbStatusMessage.style.color = '#75b798';
            } else {
                omdbStatusMessage.textContent = "OMDb API key is invalid.";
                omdbStatusMessage.style.color = '#ea868f';
            }
            omdbStatusMessage.style.display = 'block';
        });
    });

    document.getElementById('configForm').addEventListener('submit', function(event) {
        const apiKeyInput = document.getElementById('omdb_apikey');
        const cacheExpiration = document.getElementById('omdb_cache_expiration');
        if (!apiKeyInput.value) {
            apiKeyInput.value = '';
            cacheExpiration.value = '1';
        }
    });
</script>
{% endblock %}
