{% extends "000-base.html" %} {% block content %}
<form action="/step/{{ page_info['next_page'] }}" method="post" id="configForm" name="configForm">
  <div id="{{page_info['title']}}Section">
    <div class="row">
      <div class="col align-self-center">
        <div class="input-group justify-content-start">
          <a class="btn btn-secondary" role="button" href="/step/{{ page_info['prev_page'] }}">Previous</a>
          <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="visually-hidden">Toggle Dropdown</span>
          </button>
          <ul class="dropdown-menu">
            {% for file, name in template_list %}
            {% if name == 'Final Validation' %}
            <li>
              <hr class="dropdown-divider">
            </li>
            {% endif %}
            <li>
              <a class="dropdown-item" href="/step/{{ file.rsplit('.', 1)[0] }}">{{ name }}</a>
            </li>
            {% if name == 'Start' %}
            <li>
              <hr class="dropdown-divider">
            </li>
            {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="col-6 align-self-center text-center">
        <h2>{{ page_info['title'] }}</h2>
      </div>
      <div class="col align-self-center">
        <div class="input-group justify-content-end">
          <button type="submit" class="btn btn-success">Next</button>
          <button type="button" class="btn btn-success dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="visually-hidden">Toggle Dropdown</span>
          </button>
          <ul class="dropdown-menu dropdown-menu-end">
            {% for file, name in template_list %}
            {% if name == 'Final Validation' %}
            <li>
              <hr class="dropdown-divider">
            </li>
            {% endif %}
            <li>
              <a class="dropdown-item" href="/step/{{ file.rsplit('.', 1)[0] }}">{{ name }}</a>
            </li>
            {% if name == 'Start' %}
            <li>
              <hr class="dropdown-divider">
            </li>
            {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    <div class="container text-center">
      <div class="row">
        <div class="col"></div>
        <div class="col-8">
          <div class="col align-self-end">
            <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
              <div class="progress-bar bg-success" style="width: {{ page_info['progress'] }}%">
                {{ page_info['progress'] }}%
              </div>
            </div>
          </div>
        </div>
        <div class="col"></div>
      </div>
    </div>
    <hr class="hr">
    <div class="alert alert-info" role="alert">
      <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">Click Here</a> if you need guidance completing this section.
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Completing the {{ title}} Section</h1>
          </div>
          <div class="modal-body">
            This is some dummy text<br>
            <br>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <div class="input-group input-group-lg form-floating">
      <input type="password" class="form-control" id="omdb_apikey" name="omdb_apikey" value="{{ data['omdb']['apikey'] }}" title="OMDb API Key" aria-label="OMDb API Key"><label for="omdb_apikey">OMDB API Key</label>
      <button class="btn btn-secondary" id="toggleApikeyVisibility" type="button">
        <i class="fas fa-eye"></i>
      </button>
      <button class="btn btn-success" id="validateOmdbButton" type="button">Validate</button>
    </div>
    <div id="omdbStatusMessage" class="status-message"></div>
    <br>
    <div class="form-floating">
      <input type="number" class="form-control" id="omdb_cache_expiration" name="omdb_cache_expiration" value="{{ data['omdb']['cache_expiration'] }}" min="0">
      <label for="omdb_cache_expiration">Cache Expiration (in days)</label>
    </div>
  </div>
</div>
</form>
<script>
  document.getElementById('toggleApikeyVisibility').addEventListener('click', function() {
      const apikeyInput = document.getElementById('omdb_apikey');
      const currentType = apikeyInput.getAttribute('type');
      apikeyInput.setAttribute("type", currentType === "password" ? "text" : "password");
      this.innerHTML = currentType === "password" ? '<i class="fas fa-eye-slash"></i>' : '<i class="fas fa-eye"></i>';
  });

  async function validateOmdbapikey(apikey) {
      const apiUrl = `http://www.omdbapi.com/?apikey=${apikey}&s=test`;
      try {
          const response = await fetch(apiUrl);
          const data = await response.json();
          if (data.Response === "True" || data.Error === "Movie not found!") {
              console.log("OMDb apikey is valid.");
              return true;
          } else {
              console.log("Invalid OMDb apikey. Error:", data.Error);
              return false;
          }
      } catch (error) {
          console.error("Error validating OMDb apikey:", error);
          return false;
      }
  }

  document.getElementById('validateOmdbButton').addEventListener('click', function() {
      const apiKey = document.getElementById('omdb_apikey').value;
      const omdbStatusMessage = document.getElementById('omdbStatusMessage');

      if (!apiKey) {
          omdbStatusMessage.textContent = 'Please enter an OMDb API key.';
          omdbStatusMessage.style.color = '#ea868f';
          omdbStatusMessage.style.display = 'block';
          return;
      }

      validateOmdbapikey(apiKey).then(isValid => {
          if (isValid) {
              omdbStatusMessage.textContent = "OMDb API key is valid.";
              omdbStatusMessage.style.color = '#75b798';
          } else {
              omdbStatusMessage.textContent = "OMDb API key is invalid.";
              omdbStatusMessage.style.color = '#ea868f';
          }
          omdbStatusMessage.style.display = 'block';
      });
  });

  document.getElementById('configForm').addEventListener('submit', function(event) {
      const apiKeyInput = document.getElementById('omdb_apikey');
      const cacheExpiration = document.getElementById('omdb_cache_expiration');
      if (!apiKeyInput.value) {
          apiKeyInput.value = '';
          cacheExpiration.value = '1';
      }
  });
</script>
{% endblock %}
