{% extends "000-base.html" %}

{% block content %}
    <h1>MDBList Configuration Information</h1>
    <form action="/step/070-notifiarr" method="post" id="configForm">
        <!-- MDBList Section -->
        <div id="mdblistSection">
            <h2>MDBList Settings</h2>
            <label for="mdblist_apikey">MDBList API Key:</label>
            <div class="button-container">
                <input type="password" id="mdblist_apikey" name="mdblist_apikey" placeholder="################">
                <button type="button" id="toggleApikeyVisibility" class="btn">Show</button>
                <button type="button" id="validateMdblistButton" class="btn">Validate MDBlist</button>
            </div>
            <label for="mdblist_cache_expiration">Cache Expiration (days):</label>
            <input type="number" id="mdblist_cache_expiration" name="mdblist_cache_expiration" value="60" min="0">
            <div id="mdblistStatusMessage" class="status-message" style="display: none;"></div>
        </div>

        <br><br>
        <input type="submit" value="Next">
    </form>

    <script>
        async function validateMdblistApikey(apikey) {
            const apiUrl = `https://mdblist.com/api/?apikey=${apikey}&s=test`; // wildcArd search for test
            try {
                const response = await fetch(apiUrl);
                const data = await response.json();
                console.log("API Response:", data);  // Log the entire response

                if (data.response === true) {
                    console.log("MDBList API key is valid.");
                    return true;
                } else {
                    console.log("Invalid MDBList API key. Error:", data.Error);
                    return false;
                }
            } catch (error) {
                console.error("Error validating MDBList apikey:", error);
                return false;
            }
        }

        document.getElementById('validateMdblistButton').addEventListener('click', function() {
            const apiKey = document.getElementById('mdblist_apikey').value;
            const mdblistStatusMessage = document.getElementById('mdblistStatusMessage');

            if (!apiKey) {
                mdblistStatusMessage.textContent = 'Please enter an MDBList API key.';
                mdblistStatusMessage.style.color = 'red';
                mdblistStatusMessage.style.display = 'block';
                return;
            }

            validateMdblistApikey(apiKey).then(isValid => {
                if (isValid) {
                    mdblistStatusMessage.textContent = "MDBList API key is valid.";
                    mdblistStatusMessage.style.color = 'green';
                } else {
                    mdblistStatusMessage.textContent = "MDBList API key is invalid.";
                    mdblistStatusMessage.style.color = 'red';
                }
                mdblistStatusMessage.style.display = 'block';
            });
        });

        document.getElementById('toggleApikeyVisibility').addEventListener('click', function() {
            const apikeyInput = document.getElementById('mdblist_apikey');
            const currentType = apikeyInput.getAttribute('type');
            apikeyInput.setAttribute('type', currentType === 'password' ? 'text' : 'password');
            this.textContent = currentType === 'password' ? 'Hide' : 'Show';
        });
    </script>
{% endblock %}