{% extends "000-base.html" %} {% block content %}
<form action="/step/070-notifiarr" method="post" id="configForm" name="configForm">
  <div id="mdblistSection">
    <div class="row">
      <div class="col align-self-center">
        <a class="btn btn-secondary" role="button" href="/step/start">Previous</a>
      </div>
      <div class="col-6 align-self-center text-center">
        <h2>MDBList</h2>
      </div>
      <div class="col align-self-center">
        <div class="input-group justify-content-end">
          <a class="btn btn-success" role="button" href="/step/070-notifiarr">Next</a> <button type="button" class="btn btn-success dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false"><span class="visually-hidden">Toggle Dropdown</span></button>
          <ul class="dropdown-menu dropdown-menu-end">
            <li>
              <a class="dropdown-item" href="/step/010-plex">Plex</a>
            </li>
            <li>
              <a class="dropdown-item" href="/step/020-tmdb">TMDb</a>
            </li>
            <li>
              <a class="dropdown-item" href="/step/030-tautulli">Tautulli</a>
            </li>
            <li>
              <a class="dropdown-item" href="/step/040-github">GitHub</a>
            </li>
            <li>
              <a class="dropdown-item" href="/step/050-omdb">OMDb</a>
            </li>
            <li>
              <a class="dropdown-item" href="/step/060-mdblist">MDBList</a>
            </li>
            <li>
              <a class="dropdown-item" href="/step/070-notifiarr">Notifiarr</a>
            </li>
            <li>
              <a class="dropdown-item" href="/step/080-gotify">Gotify</a>
            </li>
            <li>
              <a class="dropdown-item" href="/step/090-anidb">AniDB</a>
            </li>
            <li>
              <a class="dropdown-item" href="/step/100-radarr">Radarr</a>
            </li>
            <li>
              <a class="dropdown-item" href="/step/110-sonarr">Sonarr</a>
            </li>
            <li>
              <a class="dropdown-item" href="/step/120-trakt">Trakt</a>
            </li>
            <li>
              <a class="dropdown-item" href="/step/130-mal">MyAnimeList</a>
            </li>
            <li>
              <a class="dropdown-item" href="/step/140-webhooks">Webhooks</a>
            </li>
            <li>
              <a class="dropdown-item" href="/step/150-settings">Settings</a>
            </li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li>
              <a class="dropdown-item" href="#">Skip to Validation (doesn't work atm)</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="container text-center">
      <div class="row">
        <div class="col"></div>
        <div class="col-8">
          <div class="col align-self-end">
            <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
              <div class="progress-bar bg-success" style="width: 25%">
                25%
              </div>
            </div>
          </div>
        </div>
        <div class="col"></div>
      </div>
    <hr class="hr">
    <div class="alert alert-info" role="alert">
      <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">Click Here</a> if you need guidance completing this section.
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Completing the MDBList Section</h1>
          </div>
          <div class="modal-body">
            This is some dummy text<br>
            <br>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <div class="input-group input-group-lg">
      <input type="password" class="form-control" id="mdblist_apikey" name="mdblist_apikey" placeholder="MDBList API Key" aria-label="MDBList API Key"> <button class="btn btn-secondary" id="toggleApikeyVisibility" type="button">Show</button> <button class="btn btn-success" id="validateMdblistButton" type="button">Validate</button>
    </div>
    <div id="mdblistStatusMessage" class="status-message"></div><br>
  <div class="form-floating">
    <input type="number" class="form-control" id="mdblist_cache_expiration" name="mdblist_cache_expiration" value="60" min="0"> <label for="mdblist_cache_expiration">Cache Expiration (in days)</label>
  </div>
</form>
<script>
    // Save input values to sessionStorage on change
    document.getElementById('mdblist_apikey').addEventListener('input', function() {
        sessionStorage.setItem('mdblist_apikey', this.value);
    });
    document.getElementById('mdblist_cache_expiration').addEventListener('input', function() {
        sessionStorage.setItem('mdblist_cache_expiration', this.value);
    });

    // Load saved values from sessionStorage on page load
    document.addEventListener('DOMContentLoaded', function() {
        const savedMdblistApikey = sessionStorage.getItem('mdblist_apikey');
        const savedCacheExpiration = sessionStorage.getItem('mdblist_cache_expiration');

        if (savedMdblistApikey) {
            document.getElementById('mdblist_apikey').value = savedMdblistApikey;
        }
        if (savedCacheExpiration) {
            document.getElementById('mdblist_cache_expiration').value = savedCacheExpiration;
        }
    });

    async function validateMdblistApikey(apikey) {
        const apiUrl = `https://mdblist.com/api/?apikey=${apikey}&s=test`;
        try {
            const response = await fetch(apiUrl);
            const data = await response.json();
            console.log("API Response:", data);  // Log the entire response

            if (data.response === true) {
                console.log("MDBList API key is valid.");
                return true;
            } else {
                console.log("Invalid MDBList API key. Error:", data.Error);
                return false;
            }
        } catch (error) {
            console.error("Error validating MDBList apikey:", error);
            return false;
        }
    }

    document.getElementById('validateMdblistButton').addEventListener('click', function() {
        const apiKey = document.getElementById('mdblist_apikey').value;
        const mdblistStatusMessage = document.getElementById('mdblistStatusMessage');

        if (!apiKey) {
            mdblistStatusMessage.textContent = 'Please enter an MDBList API key.';
            mdblistStatusMessage.style.color = '#ea868f';
            mdblistStatusMessage.style.display = 'block';
            return;
        }

        validateMdblistApikey(apiKey).then(isValid => {
            if (isValid) {
                mdblistStatusMessage.textContent = "MDBList API key is valid.";
                mdblistStatusMessage.style.color = '#75b798';
            } else {
                mdblistStatusMessage.textContent = "MDBList API key is invalid.";
                mdblistStatusMessage.style.color = '#ea868f';
            }
            mdblistStatusMessage.style.display = 'block';
        });
    });

    document.getElementById('toggleApikeyVisibility').addEventListener('click', function() {
        const apikeyInput = document.getElementById('mdblist_apikey');
        const currentType = apikeyInput.getAttribute('type');
        apikeyInput.setAttribute('type', currentType === 'password' ? 'text' : 'password');
        this.textContent = currentType === 'password' ? 'Hide' : 'Show';
    });

    document.getElementById('configForm').addEventListener('submit', function(event) {
        const apiKeyInput = document.getElementById('mdblist_apikey');
        const cacheExpiration = document.getElementById('mdblist_cache_expiration');
        if (!apiKeyInput.value) {
            apiKeyInput.value = '';
            cacheExpiration.value = '1';
        }
    });
</script>
{% endblock %}
