{% extends "000-base.html" %}

{% block content %}
    <h1>Notifiarr Configuration Information</h1>
    <form action="/step/080-gotify" method="post" id="configForm">
    <!-- Notifiarr Section -->
    <div id="notifiarrSection">
        <h2>Notifiarr Settings</h2>
        <label for="notifiarr_apikey">Notifiarr API Key:</label>
        <input type="text" id="notifiarr_apikey" name="notifiarr_apikey" placeholder="####################################">
    </div>
<br><br>
        <input type="submit" value="Next">
    </form>
    <script>
    </script>
{% endblock %}
