{% extends "000-base.html" %} {% block content %}
<form action="/step/{{ next_page }}" method="post" id="configForm" name="configForm">
  <div id="{{curr_page}}Section">
    <div class="row">
      <div class="col align-self-center">
        <div class="input-group justify-content-start">
          <a class="btn btn-secondary" role="button" href="/step/{{ prev_page }}">Previous</a>
          <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="visually-hidden">Toggle Dropdown</span>
          </button>
          <ul class="dropdown-menu">
            {% for file, name in template_list %}
              {% if name == 'Final Validation' %}
                <li><hr class="dropdown-divider"></li>
              {% endif %}
              <li>
                <a class="dropdown-item" href="/step/{{ file.rsplit('.', 1)[0] }}">{{ name }}</a>
              </li>
              {% if name == 'Start' %}
                <li><hr class="dropdown-divider"></li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="col-6 align-self-center text-center">
          <h2>{{ curr_page }}</h2>
      </div>
    <div class="col align-self-center">
      <div class="input-group justify-content-end">
        <button type="submit" class="btn btn-success">Next</button>
        <button type="button" class="btn btn-success dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
          <span class="visually-hidden">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu dropdown-menu-end">
          {% for file, name in template_list %}
            {% if name == 'Final Validation' %}
              <li><hr class="dropdown-divider"></li>
            {% endif %}
            <li>
              <a class="dropdown-item" href="/step/{{ file.rsplit('.', 1)[0] }}">{{ name }}</a>
            </li>
            {% if name == 'Start' %}
              <li><hr class="dropdown-divider"></li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
    <div class="container text-center">
      <div class="row">
        <div class="col"></div>
        <div class="col-8">
          <div class="col align-self-end">
            <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
              <div class="progress-bar bg-success" style="width: {{ progress }}%">
                {{ progress }}%
              </div>
            </div>
          </div>
        </div>
        <div class="col"></div>
      </div>
    </div>
    <hr class="hr">
    <div class="alert alert-info" role="alert">
      <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">Click Here</a> if you need guidance completing this section.
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Completing the {{ title}} Section</h1>
          </div>
          <div class="modal-body">
            This is some dummy text<br>
            <br>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <div class="form-floating">
      <input type="text" class="form-control" id="gotify_url" name="gotify_url" value="{{ data['gotify']['url'] }}" title="http://192.168.1.12:8181"><label for="gotify_url">Gotify URL</label>
    </div>
    <div class="input-group input-group-lg form-floating">
      <input type="password" class="form-control" id="gotify_token" name="gotify_token" value="{{ data['gotify']['token'] }}" title="API Key" aria-label="API Key"><label for="gotify_token">Gotify API Key</label>
      <button class="btn btn-secondary" id="toggleTokenVisibility" type="button">
        <i class="fas fa-eye"></i>
      </button>
      <button class="btn btn-success" id="validateGotifyButton" type="button">Validate</button>
    </div>
    <div id="gotifyStatusMessage" class="status-message"></div><br>
</div>
</form>
<script>
  // Function to toggle API key visibility
  document
    .getElementById("toggleTokenVisibility")
    .addEventListener("click", function () {
      const tokenInput = document.getElementById("gotify_token");
      const currentType = tokenInput.getAttribute("type");
      tokenInput.setAttribute("type", currentType === "password" ? "text" : "password");
      this.innerHTML = currentType === "password" ? '<i class="fas fa-eye-slash"></i>' : '<i class="fas fa-eye"></i>';
  });

  // Function to validate Gotify API key
  async function validateGotifyToken(url, token) {
    const apiUrl = `${url}/version?token=${token}`;
    try {
      const response = await fetch(apiUrl);
      if (response.ok) {
        const data = await response.json();
        console.log("API Response:", data);
        return true;
      } else {
        const error = await response.json();
        console.log("Invalid Gotify API key. Error:", error);
        return false;
      }
    } catch (error) {
      console.error("Error validating Gotify token:", error);
      return false;
    }
  }

  // Event listener for the validate button
  document
    .getElementById("validateGotifyButton")
    .addEventListener("click", function () {
      const gotify_url = document.getElementById("gotify_url").value;
      const gotify_token = document.getElementById("gotify_token").value;
      const gotifyStatusMessage = document.getElementById(
        "gotifyStatusMessage"
      );

      if (!gotify_url || !gotify_token) {
        gotifyStatusMessage.textContent =
          "Please enter both Gotify URL and Token.";
        gotifyStatusMessage.style.color = "#ea868f";
        gotifyStatusMessage.style.display = "block";
        return;
      }

      fetch("/validate_gotify", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({
          gotify_url: gotify_url,
          gotify_token: gotify_token,
        }),
      })
        .then((response) => response.json())
        .then((data) => {
          if (data.valid) {
            gotifyStatusMessage.textContent =
              "Gotify credentials validated successfully!";
            gotifyStatusMessage.style.color = "green";
          } else {
            gotifyStatusMessage.textContent = data.error;
            gotifyStatusMessage.style.color = "red";
          }
          gotifyStatusMessage.style.display = "block";
        })
        .catch((error) => {
          console.error("Error validating Gotify credentials:", error);
          gotifyStatusMessage.textContent =
            "An error occurred while validating Gotify credentials.";
          gotifyStatusMessage.style.color = "red";
          gotifyStatusMessage.style.display = "block";
        });
    });

</script> {% endblock %}
