{% extends "000-base.html" %} {% block content %}
{% include "001-navigation.html" %}
{% include "modals/" + page_info['template_name'] + ".html" ignore missing %}
    <div class="form-floating mb-2">
      <input type="text" class="form-control" id="gotify_url" name="gotify_url" value="{{ data['gotify']['url']  or '' }}" title="Gotify URL"><label for="gotify_url">Gotify URL<span class="text-info ms-2">(e.g. http://192.168.1.12:1234)</span></label>
    </div>
    <div class="input-group mb-2">
      <div class="form-floating flex-grow-1">
        <input type="password" class="form-control" id="gotify_token" name="gotify_token"
               value="{{ data['gotify']['token']  or '' }}" title="API Key"
               aria-label="API Key">
        <label for="gotify_token">Gotify API Key</label>
      </div>
      <button class="btn btn-secondary" id="toggleTokenVisibility" type="button">
        <i class="fas fa-eye"></i>
      </button>
      <button class="btn btn-success" id="validateButton" type="button">
        Validate <i id="spinner_validate" class="spinner-border spinner-border-sm" style="display:none;"></i>
      </button>
    </div>


    <div class="form-floating" style="display:none;">
      <input type="text" class="form-control" id="gotify_validated" name="gotify_validated" value="{{ data['validated'] }}" title="">
      <label for="gotify_validated">Gotify Validated</label>
    </div>
    <div id="statusMessage" class="status-message"></div><br>
  </div>
</form>
{% endblock %}
