{% extends "000-base.html" %} {% block content %}
<form method="post" id="configForm" name="configForm">
  <div id="{{page_info['title']}}Section">
    <div class="row">
      <div class="col align-self-center">
        <div class="input-group justify-content-start">
          <button type="submit" class="btn btn-secondary" onclick="loading('prev')" formaction="/step/{{ page_info['prev_page'] }}">
            <i id="prev-spinner-icon" class="fa fa-arrow-left"></i>
          </button>
        </div>
      </div>
      <div class="col-6 align-self-center text-center">
        <h2>{{ page_info['title'] }}</h2>
      </div>
      <div class="col align-self-center">
        <div class="input-group justify-content-end jump-spinner-container">
          <button type="button" class="btn btn-success dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
            <span id="jump-to-text">Jump To</span>
            <i id="jump-spinner-icon" class=""></i>
          </button>
          <ul class="dropdown-menu dropdown-menu-end">
            {% for file, name in template_list %}
            {% if name == 'Final Validation' %}
            <li>
              <hr class="dropdown-divider">
            </li>
            {% endif %}
            <li>
              <a class="dropdown-item" href="javascript:void(0);" onclick="jumpTo('{{ file.rsplit('.', 1)[0] }}')">{{ name }}</a>
            </li>
            {% if name == 'Start' %}
            <li>
              <hr class="dropdown-divider">
            </li>
            {% endif %}
            {% endfor %}
          </ul>
          <button type="submit" class="btn btn-success" onclick="loading('next')" formaction="/step/{{ page_info['next_page'] }}">
            <i id="next-spinner-icon" class="fa fa-arrow-right"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="container text-center">
      <div class="row">
        <div class="col"></div>
        <div class="col-8">
          <div class="col align-self-end">
            <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
              <div class="progress-bar bg-success" style="width: {{ page_info['progress'] }}%">
                {{ page_info['progress'] }}%
              </div>
            </div>
          </div>
        </div>
        <div class="col"></div>
      </div>
    </div>
    <hr class="hr">
    {% include "modals/" + page_info['template_name'] + ".html" ignore missing %}
    {% for webhook in ["error", "run_start", "run_end", "changes", "version", "delete"] %}
    <div class="form-floating">
      <select class="form-select" id="webhooks_{{ webhook }}" name="webhooks_{{ webhook }}" onchange="showCustomInput(this)">
        <option value="">None</option>
        <option value="notifiarr" {% if page_info['notifiarr_available'] %}enabled{% else %}disabled{% endif %} {% if data.webhooks[webhook] == 'notifiarr' %}selected{% endif %}>Notifiarr</option>
        <option value="gotify" {% if page_info['gotify_available'] %}enabled{% else %}disabled{% endif %} {% if data.webhooks[webhook] == 'gotify' %}selected{% endif %}>Gotify</option>
        <option value="custom" {% if (data and data.webhooks[webhook] and data.webhooks[webhook].startswith('http')) %}selected{% endif %}>Custom</option>
      </select>
      <label for="webhooks_{{ webhook }}">{{ webhook|replace("_", " ")|title }} Webhook Details</label>
      <div class="input-group input-group-lg custom-webhook" id="webhooks_{{ webhook }}_custom" style="display: none;">
        <div class="input-group input-group-lg">
          <input type="text" class="form-control custom-webhook-url" placeholder="Enter webhook URL ({{ webhook|replace("_", " ")|title }})"
                value="{% if (data and data.webhooks[webhook] and data.webhooks[webhook].startswith('http')) %}{{ data.webhooks[webhook] }}{% endif %}">
          <button class="btn btn-success" type="button" onclick="validateWebhook('{{ webhook }}')">Validate</button>
        </div>
        <div class="validation-message" id="validation_message_{{ webhook }}" style="display: none; margin-top: 10px;">
          <div class="alert alert-info" role="alert">
            Validating...
          </div>
        </div>
      </div>
    </div>
    {% endfor %}

    <script>
    function showCustomInput(selectElement) {
        var customInputId = selectElement.id + '_custom';
        if (selectElement.value === 'custom') {
            document.getElementById(customInputId).style.display = 'block';
        } else {
            document.getElementById(customInputId).style.display = 'none';
        }
    }

    $(document).ready(function() {
        // Initial call to showCustomInput to show or hide custom inputs based on initial selection
        $('select.form-select').each(function() {
            showCustomInput(this);
        });

        document.getElementById("configForm").addEventListener("submit", function (event) {
            $('select.form-select').each(function() {
                if ($(this).val() === 'custom') {
                    var customInputId = $(this).attr('id') + '_custom';
                    var customUrl = $('#' + customInputId).find('input.custom-webhook-url').val();
                    if (customUrl) {
                        $(this).append('<option value="' + customUrl + '" selected="selected">' + customUrl + '</option>');
                        $(this).val(customUrl);
                    }
                }
            });
        });
    });


    function validateWebhook(webhookType) {
        var inputGroup = $('#webhooks_' + webhookType + '_custom').find('.input-group');
        var webhookUrl = inputGroup.find('input.custom-webhook-url').val();
        var validationMessage = inputGroup.siblings('.validation-message');
        var webhookTypeFormatted = webhookType.replace(/_/g, " ").replace(/\b\w/g, function (l) { return l.toUpperCase() });

        validationMessage.html('<div class="alert alert-info" role="alert">Validating...</div>');
        validationMessage.show();

        fetch('/validate_webhook', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                webhook_url: webhookUrl,
                message: "Test message for " + webhookTypeFormatted + " webhook"
            })
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                validationMessage.html('<div class="alert alert-success" role="alert">' + data.success + '</div>');
            } else {
                validationMessage.html('<div class="alert alert-danger" role="alert">' + data.error + '</div>');
            }
        })
        .catch((error) => {
            console.error('Error:', error);
            validationMessage.html('<div class="alert alert-danger" role="alert">An error occurred. Please try again.</div>');
        });
    }
    </script>
  </div>
</form>
{% endblock %}
