{% extends "000-base.html" %} {% block content %}
<form method="post" id="configForm" name="configForm">
  <div id="{{page_info['title']}}Section">
    <div class="row">
      <div class="col align-self-center">
        <div class="input-group justify-content-start">
          <button type="submit" class="btn btn-secondary"  onclick="loading();" formaction="/step/{{ page_info['prev_page'] }}">Previous</button>
          <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="visually-hidden">Toggle Dropdown</span>
          </button>
          <ul class="dropdown-menu">
            {% for file, name in template_list %}
              {% if name == 'Final Validation' %}
                <li><hr class="dropdown-divider"></li>
              {% endif %}
              <li>
                <a class="dropdown-item" href="/step/{{ file.rsplit('.', 1)[0] }}">{{ name }}</a>
              </li>
              {% if name == 'Start' %}
                <li><hr class="dropdown-divider"></li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="col-6 align-self-center text-center">
          <h2>{{ page_info['title'] }}</h2>
      </div>
    <div class="col align-self-center">
      <div class="input-group justify-content-end">
        <button type="submit" class="btn btn-success"  onclick="loading();" formaction="/step/{{ page_info['next_page'] }}">Next</button>
        <button type="button" class="btn btn-success dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
          <span class="visually-hidden">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu dropdown-menu-end">
          {% for file, name in template_list %}
            {% if name == 'Final Validation' %}
              <li><hr class="dropdown-divider"></li>
            {% endif %}
            <li>
              <a class="dropdown-item" href="/step/{{ file.rsplit('.', 1)[0] }}">{{ name }}</a>
            </li>
            {% if name == 'Start' %}
              <li><hr class="dropdown-divider"></li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
    <div class="container text-center">
      <div class="row">
        <div class="col"></div>
        <div class="col-8">
          <div class="col align-self-end">
            <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
              <div class="progress-bar bg-success" style="width: {{ page_info['progress'] }}%">
                {{ page_info['progress'] }}%
              </div>
            </div>
          </div>
        </div>
        <div class="col"></div>
      </div>
    </div>
    <hr class="hr">
    <div class="alert alert-info" role="alert">
      <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">Click Here</a> if you need guidance completing this section.
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Completing the {{ title}} Section</h1>
          </div>
          <div class="modal-body">
            This is some dummy text<br>
            <br>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <div class="form-floating">
      <input type="text" class="form-control" id="anidb_client" name="anidb_client" value="{{ data['anidb']['client'] }}" title=""><label for="anidb_client">AniDb Client</label>
    </div>
    <div class="form-floating">
      <input type="number" class="form-control" id="anidb_version" name="anidb_version" value="{{ data['anidb']['version'] }}" min="1" max="1"><label for="anidb_version">Client Version</label>
    </div>
    <div class="form-floating">
      <input type="text" class="form-control" id="anidb_username" name="anidb_username" value="{{ data['anidb']['username'] }}" title=""><label for="anidb_username">Username</label>
    </div>
    <div class="input-group input-group-lg form-floating">
      <input type="password" class="form-control" id="anidb_password" name="anidb_password" value="{{ data['anidb']['password'] }}" title="Password" aria-label="Password"><label for="anidb_password">AniDB Password</label>
      <button class="btn btn-secondary" id="togglePasswordVisibility" type="button">
        <i class="fas fa-eye"></i>
      </button>
      <button class="btn btn-success" id="validateAnidbButton" type="button">Validate</button>
    </div>
    <div id="anidbStatusMessage" class="status-message"></div><br>
    <div class="form-floating">
      <select class="form-select" id="anidb_language" name="anidb_language">
        <option value="">Select Language</option>
        {% for code, language in data['iso_639_1_languages'] %}
          <option value="{{ code }}" {% if code == data['anidb']['language'] %}selected{% endif %}>{{ language }}</option>
        {% endfor %}
      </select>
      <label for="anidb_language">Language</label>
    </div>
    <div class="form-floating">
      <input type="number" class="form-control" id="anidb_cache_expiration" name="anidb_cache_expiration" value="{{ data['anidb']['cache_expiration'] }}" min="0"><label for="anidb_cache_expiration">Cache Expiration (in days)</label>
    </div>
  </div>
</form>
<script>
  document
    .getElementById("togglePasswordVisibility")
    .addEventListener("click", function () {
      const passwordInput = document.getElementById("anidb_password");
      const currentType = passwordInput.getAttribute("type");
      passwordInput.setAttribute("type", currentType === "password" ? "text" : "password");
      this.innerHTML = currentType === "password" ? '<i class="fas fa-eye-slash"></i>' : '<i class="fas fa-eye"></i>';
  });

  document
    .getElementById("validateAnidbButton")
    .addEventListener("click", function () {
      const username = document.getElementById("anidb_username").value;
      const password = document.getElementById("anidb_password").value;
      const client = document.getElementById("anidb_client").value;
      const clientver = document.getElementById("anidb_version").value;
      const anidbStatusMessage = document.getElementById("anidbStatusMessage");

      if (!username || !password || !client || !clientver) {
        anidbStatusMessage.textContent = "Please enter all required fields.";
        anidbStatusMessage.style.color = "#ea868f";
        anidbStatusMessage.style.display = "block";
        return;
      }

      fetch("/validate_anidb", {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({ username, password, client, clientver }),
      })
        .then((response) => response.json())
        .then((data) => {
          if (data.valid) {
            anidbStatusMessage.textContent = "AniDb credentials are valid.";
            anidbStatusMessage.style.color = "#75b798";
          } else {
            anidbStatusMessage.textContent = `Error: ${data.error}`;
            anidbStatusMessage.style.color = "#ea868f";
          }
          anidbStatusMessage.style.display = "block";
        })
        .catch((error) => {
          console.error("Error:", error);
          anidbStatusMessage.textContent =
            "Error validating AniDb credentials.";
          anidbStatusMessage.style.color = "#ea868f";
          anidbStatusMessage.style.display = "block";
        });
    });
</script>
{% endblock %}
