{% extends "000-base.html" %}

{% block content %}
    <h1>Radarr Configuration Information</h1>
    <form action="/step/110-sonarr" method="post" id="configForm">
    <!-- Radarr Section -->
    <div id="radarrSection">
        <h2>Radarr Settings</h2>
        <label for="radarr_url">Radarr URL:</label>
        <input type="text" id="radarr_url" name="radarr_url" placeholder="http://192.168.1.12:7878">
        <label for="radarr_token">Radarr Token:</label>
        <input type="text" id="radarr_token" name="radarr_token" placeholder="################################">
        <label for="radarr_add_missing">Add Missing:</label>
        <input type="checkbox" id="radarr_add_missing" name="radarr_add_missing">
        <label for="radarr_add_existing">Add Existing:</label>
        <input type="checkbox" id="radarr_add_existing" name="radarr_add_existing">
        <label for="radarr_upgrade_existing">Upgrade Existing:</label>
        <input type="checkbox" id="radarr_upgrade_existing" name="radarr_upgrade_existing">
        <label for="radarr_monitor_existing">Monitor Existing:</label>
        <input type="checkbox" id="radarr_monitor_existing" name="radarr_monitor_existing">
        <label for="radarr_root_folder_path">Root Folder Path:</label>
        <input type="text" id="radarr_root_folder_path" name="radarr_root_folder_path" placeholder="S:/Movies">
        <label for="radarr_monitor">Monitor:</label>
        <input type="checkbox" id="radarr_monitor" name="radarr_monitor" checked>
        <label for="radarr_availability">Availability:</label>
        <input type="text" id="radarr_availability" name="radarr_availability" placeholder="announced">
        <label for="radarr_quality_profile">Quality Profile:</label>
        <input type="text" id="radarr_quality_profile" name="radarr_quality_profile" placeholder="HD-1080p">
        <label for="radarr_tag">Tag:</label>
        <input type="text" id="radarr_tag" name="radarr_tag">
        <label for="radarr_search">Search:</label>
        <input type="checkbox" id="radarr_search" name="radarr_search">
        <label for="radarr_radarr_path">Radarr Path:</label>
        <input type="text" id="radarr_radarr_path" name="radarr_radarr_path">
        <label for="radarr_plex_path">Plex Path:</label>
        <input type="text" id="radarr_plex_path" name="radarr_plex_path">
    </div>
<br><br>
        <input type="submit" value="Next">
    </form>
    <script>
    </script>
{% endblock %}
