{% extends "000-base.html" %} {% block content %}
<form action="/step/{{ next_page }}" method="post" id="configForm" name="configForm">
  <div id="{{curr_page}}Section">
    <div class="row">
      <div class="col align-self-center">
        <div class="input-group justify-content-start">
          <a class="btn btn-secondary" role="button" href="/step/{{ prev_page }}">Previous</a>
          <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="visually-hidden">Toggle Dropdown</span>
          </button>
          <ul class="dropdown-menu">
            {% for file, name in template_list %}
              {% if name == 'Final Validation' %}
                <li><hr class="dropdown-divider"></li>
              {% endif %}
              <li>
                <a class="dropdown-item" href="/step/{{ file.rsplit('.', 1)[0] }}">{{ name }}</a>
              </li>
              {% if name == 'Start' %}
                <li><hr class="dropdown-divider"></li>
              {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="col-6 align-self-center text-center">
          <h2>{{ curr_page }}</h2>
      </div>
    <div class="col align-self-center">
      <div class="input-group justify-content-end">
        <button type="submit" class="btn btn-success">Next</button>
        <button type="button" class="btn btn-success dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
          <span class="visually-hidden">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu dropdown-menu-end">
          {% for file, name in template_list %}
            {% if name == 'Final Validation' %}
              <li><hr class="dropdown-divider"></li>
            {% endif %}
            <li>
              <a class="dropdown-item" href="/step/{{ file.rsplit('.', 1)[0] }}">{{ name }}</a>
            </li>
            {% if name == 'Start' %}
              <li><hr class="dropdown-divider"></li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
    <div class="container text-center">
      <div class="row">
        <div class="col"></div>
        <div class="col-8">
          <div class="col align-self-end">
            <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
              <div class="progress-bar bg-success" style="width: {{ progress }}%">
                {{ progress }}%
              </div>
            </div>
          </div>
        </div>
        <div class="col"></div>
      </div>
    </div>
    <hr class="hr">
    <div class="alert alert-info" role="alert">
      <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">Click Here</a> if you need guidance completing this section.
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Completing the {{ title}} Section</h1>
          </div>
          <div class="modal-body">
            This is some dummy text<br>
            <br>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>

    <div class="form-floating">
      <input type="text" class="form-control" id="sonarr_url" name="sonarr_url" value="{{ data['sonarr']['url'] }}" placeholder="http://127.0.0.1:32400"> <label for="sonarr_url">Sonarr URL (including URL Base if set)</label>
    </div>
    <div class="input-group input-group-lg">
      <input type="password" class="form-control" id="sonarr_token" name="sonarr_token" value="{{ data['sonarr']['token'] }}" placeholder="Token" aria-label="Token"> <button class="btn btn-secondary" id="toggleApikeyVisibility" type="button">Show</button> <button class="btn btn-success" id="validateSonarrButton" type="button">Validate</button>
    </div>
    <div id="sonarrStatusMessage" class="status-message"></div><br>
    <div class="form-floating">
      <select class="form-select" aria-label="Root Folder Path" id="sonarr_root_folder_path" name="sonarr_root_folder_path" value="{{ data['sonarr']['root_folder_path'] }}">
        <option value="">
          Select Root Folder Path
        </option>
      </select> <select class="form-select" aria-label="Monitor" id="sonarr_monitor" name="sonarr_monitor" value="{{ data['sonarr']['monitor'] }}">
        <option value="all" selected>
          Select Monitor Preference
        </option>
        <option value="all">
          all (default) - monitor all episodes except specials
        </option>
        <option value="none">
          none - Do not monitor any episodes
        </option>
        <option value="future">
          future - monitor episodes that have not aired yet
        </option>
        <option value="missing">
          missing - monitor episodes that do not have files or have not aired yet
        </option>
        <option value="existing">
          existing - monitor episodes that have files or have not aired yet
        </option>
        <option value="pilot">
          pilot - monitor the first episode, all others will be ignored
        </option>
        <option value="first">
          first - monitor all episodes of the first season only
        </option>
        <option value="latest">
          latest - monitor all episodes of the latest season and future seasons
        </option>
      </select> <select class="form-select" aria-label="Quality Profile" id="sonarr_quality_profile" value="{{ data['sonarr']['quality_profile'] }}" name="sonarr_quality_profile" value="{{ data['sonarr']['quality_profile'] }}">
        <option value="">
          Select Quality Profile
        </option>
      </select> <select class="form-select" aria-label="Language Profile" id="sonarr_language_profile" value="{{ data['sonarr']['language_profile'] }}" name="sonarr_language_profile" value="{{ data['sonarr']['language_profile'] }}">
        <option value="">
          Select Language Profile
        </option>
      </select> <select class="form-select" aria-label="Series Type" id="sonarr_series_type" value="{{ data['sonarr']['series_type'] }}" name="sonarr_series_type" value="{{ data['sonarr']['series_type'] }}">
        <option value="standard" selected>
          Select Series Type
        </option>
        <option value="standard">
          Standard (default)
        </option>
        <option value="daily">
          Daily
        </option>
        <option value="anime">
          Anime
        </option>
      </select>
    </div>
    <div class="form-floating">
      <input type="text" class="form-control" id="sonarr_tag" name="sonarr_tag" value="{{ data['sonarr']['tag'] }}" placeholder=""> <label for="sonarr_tag">Tag to apply to added media</label>
    </div>
    <div class="form-floating">
      <input type="text" class="form-control" id="sonarr_sonarr_path" name="sonarr_sonarr_path" value="{{ data['sonarr']['sonarr_path'] }}" placeholder=""> <label for="sonarr_sonarr_path">Sonarr Path</label>
    </div>
    <div class="form-floating">
      <input type="text" class="form-control" id="sonarr_plex_path" name="sonarr_plex_path" value="{{ data['sonarr']['plex_path'] }}" placeholder=""> <label for="sonarr_plex_path">Plex Path</label>
    </div>






    <div class="form-check form-switch">
      <input class="form-check-input" type="checkbox" name="sonarr_search" id="sonarr_search" value="true" {% if data['sonarr']['search']|string|lower == 'true' %}checked{% endif %}>
      <input type="hidden" name="sonarr_search" value="false">
      <label class="form-check-label" for="sonarr_search">Search for media when added</label>
    </div>
    <div class="form-check form-switch">
      <input class="form-check-input" type="checkbox" name="sonarr_season_folder" id="sonarr_season_folder" value="true" {% if data['sonarr']['season_folder']|string|lower == 'true' %}checked{% endif %}>
      <input type="hidden" name="sonarr_season_folder" value="false">
      <label class="form-check-label" for="sonarr_season_folder">Use the Season Folder option when adding new media</label>
    </div>
    <div class="form-check form-switch">
      <input class="form-check-input" type="checkbox" name="sonarr_add_missing" id="sonarr_add_missing" value="true" {% if data['sonarr']['add_missing']|string|lower == 'true' %}checked{% endif %}>
      <input type="hidden" name="sonarr_add_missing" value="false">
      <label class="form-check-label" for="sonarr_add_missing">Add missing media from collections</label>
    </div>
    <div class="form-check form-switch">
      <input class="form-check-input" type="checkbox" name="sonarr_add_existing" id="sonarr_add_existing" value="true" {% if data['sonarr']['add_existing']|string|lower == 'true' %}checked{% endif %}>
      <input type="hidden" name="sonarr_add_existing" value="false">
      <label class="form-check-label" for="sonarr_add_existing">Add existing media from collections</label>
    </div>
    <div class="form-check form-switch">
      <input class="form-check-input" type="checkbox" name="sonarr_upgrade_existing" id="sonarr_upgrade_existing" value="true" {% if data['sonarr']['upgrade_existing']|string|lower == 'true' %}checked{% endif %}>
      <input type="hidden" name="sonarr_upgrade_existing" value="false">
      <label class="form-check-label" for="sonarr_upgrade_existing">Upgrade existing media from collections to the Quality Profile</label>
    </div>
    <div class="form-check form-switch">
      <input class="form-check-input" type="checkbox" name="sonarr_monitor_existing" id="sonarr_monitor_existing" value="true" {% if data['sonarr']['monitor_existing']|string|lower == 'true' %}checked{% endif %}>
      <input type="hidden" name="sonarr_monitor_existing" value="false">
      <label class="form-check-label" for="sonarr_monitor_existing">Set existing media from collections to monitored</label>
    </div>
    <div class="form-check form-switch">
      <input class="form-check-input" type="checkbox" name="sonarr_cutoff_search" id="sonarr_cutoff_search" value="true" {% if data['sonarr']['cutoff_search']|string|lower == 'true' %}checked{% endif %}>
      <input type="hidden" name="sonarr_cutoff_search" value="false">
      <label class="form-check-label" for="sonarr_cutoff_search">Start search for cutoff unmet episodes when adding new media</label>
    </div>
    <div class="form-check form-switch">
      <input class="form-check-input" type="checkbox" name="sonarr_ignore_cache" id="sonarr_ignore_cache" value="true" {% if data['sonarr']['ignore_cache']|string|lower == 'true' %}checked{% endif %}>
      <input type="hidden" name="sonarr_ignore_cache" value="false">
      <label class="form-check-label" for="sonarr_ignore_cache">Ignore Kometa's cache when adding media</label>
    </div>




</form>
<script>
  async function validateSonarrApikey(apikey, url) {
      const statusApiUrl = `${url}/api/v3/system/status?apikey=${apikey}`;
      const rootFolderApiUrl = `${url}/api/v3/rootfolder?apikey=${apikey}`;
      const qualityProfileApiUrl = `${url}/api/v3/qualityprofile?apikey=${apikey}`;
      const languageProfileApiUrl = `${url}/api/v3/language?apikey=${apikey}`;
      const sonarrStatusMessage = document.getElementById('sonarrStatusMessage');

      try {
          // Validate API key
          const response = await fetch(statusApiUrl);
          const data = await response.json();
          console.log("API Response:", data);

          if (response.ok && 'version' in data) {
              console.log("Sonarr API key is valid.");
              sonarrStatusMessage.textContent = "Sonarr API key is valid.";
              sonarrStatusMessage.style.color = '#75b798';
              sonarrStatusMessage.style.display = 'block';

              // Fetch and populate root folders
              const rootFolderResponse = await fetch(rootFolderApiUrl);
              const rootFolders = await rootFolderResponse.json();
              const rootFolderSelect = document.getElementById('sonarr_root_folder_path');
              rootFolderSelect.innerHTML = '<option value="">Select Root Folder</option>';
              rootFolders.forEach(folder => {
                  const option = document.createElement('option');
                  option.value = folder.path;
                  option.textContent = folder.path;
                  rootFolderSelect.appendChild(option);
              });

              // Fetch and populate quality profiles
              const qualityProfileResponse = await fetch(qualityProfileApiUrl);
              const qualityProfiles = await qualityProfileResponse.json();
              const qualityProfileSelect = document.getElementById('sonarr_quality_profile');
              qualityProfileSelect.innerHTML = '<option value="">Select Quality Profile</option>';
              qualityProfiles.forEach(profile => {
                  const option = document.createElement('option');
                  option.value = profile.name;
                  option.textContent = profile.name;
                  qualityProfileSelect.appendChild(option);
              });

              // Fetch and populate language profiles
              const languageProfileResponse = await fetch(languageProfileApiUrl);
              const languageProfiles = await languageProfileResponse.json();
              const languageProfileSelect = document.getElementById('sonarr_language_profile');
              languageProfileSelect.innerHTML = '<option value="">Select Language Profile</option>';
              languageProfiles
                  .sort((a, b) => a.name.localeCompare(b.name))
                  .forEach(profile => {
                      const option = document.createElement('option');
                      option.value = profile.name;
                      option.textContent = profile.name;
                      if (profile.name === 'English') {
                          option.selected = true;
                      }
                      languageProfileSelect.appendChild(option);
                  });

              return true;
          } else {
              console.log("Invalid Sonarr API key. Error:", data.message);
              sonarrStatusMessage.textContent = "Sonarr API key is invalid.";
              sonarrStatusMessage.style.color = '#ea868f';
              sonarrStatusMessage.style.display = 'block';
              return false;
          }
      } catch (error) {
          console.error("Error validating Sonarr apikey:", error);
          sonarrStatusMessage.textContent = 'Error validating Sonarr API key.';
          sonarrStatusMessage.style.color = '#ea868f';
          sonarrStatusMessage.style.display = 'block';
          return false;
      }
  }

  document.getElementById('validateSonarrButton').addEventListener('click', function() {
      const apiKey = document.getElementById('sonarr_token').value;
      const url = document.getElementById('sonarr_url').value;
      const sonarrStatusMessage = document.getElementById('sonarrStatusMessage');

      if (!apiKey || !url) {
          sonarrStatusMessage.textContent = 'Please enter the Sonarr API key and URL.';
          sonarrStatusMessage.style.color = '#ea868f';
          sonarrStatusMessage.style.display = 'block';
          return;
      }

      validateSonarrApikey(apiKey, url);
  });

  document.getElementById('toggleApikeyVisibility').addEventListener('click', function() {
      const apikeyInput = document.getElementById('sonarr_token');
      const currentType = apikeyInput.getAttribute('type');
      apikeyInput.setAttribute('type', currentType === 'password' ? 'text' : 'password');
      this.textContent = currentType === 'password' ? 'Hide' : 'Show';
  });
</script> {% endblock %}