{% extends "000-base.html" %} {% block content %}
<form method="post" id="configForm" name="configForm">
  <div id="{{page_info['title']}}Section">
    <div class="row">
      <div class="col align-self-center">
        <div class="input-group justify-content-start">
          <button type="submit" class="btn btn-secondary" onclick="loading('prev')" formaction="/step/{{ page_info['prev_page'] }}">
            <i id="prev-spinner-icon" class="fa fa-arrow-left"></i>
          </button>
        </div>
      </div>
      <div class="col-6 align-self-center text-center">
        <h2>{{ page_info['title'] }}</h2>
      </div>
      <div class="col align-self-center">
        <div class="input-group justify-content-end jump-spinner-container">
          <button type="button" class="btn btn-success dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
            <span id="jump-to-text">Jump To</span>
            <i id="jump-spinner-icon" class=""></i>
          </button>
          <ul class="dropdown-menu dropdown-menu-end">
            {% for file, name in template_list %}
            {% if name == 'Final Validation' %}
            <li>
              <hr class="dropdown-divider">
            </li>
            {% endif %}
            <li>
              <a class="dropdown-item" href="javascript:void(0);" onclick="jumpTo('{{ file.rsplit('.', 1)[0] }}')">{{ name }}</a>
            </li>
            {% if name == 'Start' %}
            <li>
              <hr class="dropdown-divider">
            </li>
            {% endif %}
            {% endfor %}
          </ul>
          <button type="submit" class="btn btn-success" onclick="loading('next')" formaction="/step/{{ page_info['next_page'] }}">
            <i id="next-spinner-icon" class="fa fa-arrow-right"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="container text-center">
      <div class="row">
        <div class="col"></div>
        <div class="col-8">
          <div class="col align-self-end">
            <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25"
              aria-valuemin="0" aria-valuemax="100">
              <div class="progress-bar bg-success" style="width: {{ page_info['progress'] }}%">
                {{ page_info['progress'] }}%
              </div>
            </div>
          </div>
        </div>
        <div class="col"></div>
      </div>
    </div>
    <hr class="hr">
    {% include "modals/" + page_info['template_name'] + ".html" ignore missing %}
    <div class="form-floating">
      <input type="text" class="form-control" id="radarr_url" name="radarr_url"
        value="{{ data['radarr']['url'] }}"><label for="radarr_url">Radarr URL (including URL Base if set)</label>
    </div>
    <div class="input-group input-group-lg form-floating">
      <input type="password" class="form-control" id="radarr_token" name="radarr_token"
        value="{{ data['radarr']['token'] }}" title="Token" aria-label="Token"><label for="radarr_token">Radarr API
        Key</label>
      <button class="btn btn-secondary" id="toggleApikeyVisibility" type="button">
        <i class="fas fa-eye"></i>
      </button>
      <button class="btn btn-success" id="validateButton" type="button">
        Validate <i id="spinner_validate" class="spinner-border spinner-border-sm" style="display:none;"></i>
      </button>
    </div>
    <div class="form-floating">
      <input type="text" class="form-control" id="radarr_validated" name="radarr_validated"
        value="{{ data['validated'] }}" title="">
      <label for="radarr_validated">Radarr Validated</label>
    </div>
    <div id="statusMessage" class="status-message"></div>
    <br>

    <div class="form-floating">
      <select class="form-select" id="radarr_root_folder_path" name="radarr_root_folder_path"
        value="{{ data['radarr']['root_folder_path'] }}">
        <option value="">
          Select Root Folder Path
        </option>
      </select>
      <label for="radarr_root_folder_path">Root Folder Path</label>
    </div>

    <div class="form-floating">
      <select class="form-select" id="radarr_quality_profile" name="radarr_quality_profile"
        value="{{ data['radarr']['quality_profile'] }}">
        <option value="">
          Select Quality Profile
        </option>
      </select>
      <label for="radarr_quality_profile">Quality Profile</label>
    </div>

    <div class="form-floating">
      <select class="form-select" id="radarr_availability" name="radarr_availability">
        <option value="" selected disabled>Select Availability</option>
        <option value="announced" {% if data['radarr']['availability']=='announced' %}selected{% endif %}>Announced
          (default)</option>
        <option value="cinemas" {% if data['radarr']['availability']=='cinemas' %}selected{% endif %}>Cinemas</option>
        <option value="released" {% if data['radarr']['availability']=='released' %}selected{% endif %}>Released
        </option>
        <option value="db" {% if data['radarr']['availability']=='db' %}selected{% endif %}>DB</option>
      </select>
      <label for="radarr_availability">Select Availability</label>
    </div>

    <div class="form-floating">
      <input type="text" class="form-control" id="radarr_tag" name="radarr_tag" value="{{ data['radarr']['tag'] }}"
        placeholder="">
      <label for="radarr_tag">Tag to apply to added media</label>
    </div>
    <div class="form-floating">
      <input type="text" class="form-control" id="radarr_radarr_path" name="radarr_radarr_path"
        value="{{ data['radarr']['radarr_path'] }}" placeholder="">
      <label for="radarr_radarr_path">Radarr Path</label>
    </div>
    <div class="form-floating">
      <input type="text" class="form-control" id="radarr_plex_path" name="radarr_plex_path"
        value="{{ data['radarr']['plex_path'] }}" placeholder="">
      <label for="radarr_plex_path">Plex Path</label>
    </div>
    <div class="form-check form-switch">
      <input class="form-check-input" type="checkbox" name="radarr_monitor" id="radarr_monitor" value="true" {% if
        data['radarr']['monitor']|string|lower=='true' %}checked{% endif %}>
      <input type="hidden" name="radarr_monitor" value="false">
      <label class="form-check-label" for="radarr_monitor">Monitor media when added</label>
    </div>
    <div class="form-check form-switch">
      <input class="form-check-input" type="checkbox" name="radarr_search" id="radarr_search" value="true" {% if
        data['radarr']['search']|string|lower=='true' %}checked{% endif %}>
      <input type="hidden" name="radarr_search" value="false">
      <label class="form-check-label" for="radarr_search">Search media when added</label>
    </div>
    <div class="form-check form-switch">
      <input class="form-check-input" type="checkbox" name="radarr_add_missing" id="radarr_add_missing" value="true" {%
        if data['radarr']['add_missing']|string|lower=='true' %}checked{% endif %}>
      <input type="hidden" name="radarr_add_missing" value="false">
      <label class="form-check-label" for="radarr_add_missing">Add missing media from collections</label>
    </div>
    <div class="form-check form-switch">
      <input class="form-check-input" type="checkbox" name="radarr_add_existing" id="radarr_add_existing" value="true"
        {% if data['radarr']['add_existing']|string|lower=='true' %}checked{% endif %}>
      <input type="hidden" name="radarr_add_existing" value="false">
      <label class="form-check-label" for="radarr_add_existing">Add existing media from collections</label>
    </div>
    <div class="form-check form-switch">
      <input class="form-check-input" type="checkbox" name="radarr_upgrade_existing" id="radarr_upgrade_existing"
        value="true" {% if data['radarr']['upgrade_existing']|string|lower=='true' %}checked{% endif %}>
      <input type="hidden" name="radarr_upgrade_existing" value="false">
      <label class="form-check-label" for="radarr_upgrade_existing">Upgrade existing media from collections to the
        Quality Profile</label>
    </div>
    <div class="form-check form-switch">
      <input class="form-check-input" type="checkbox" name="radarr_monitor_existing" id="radarr_monitor_existing"
        value="true" {% if data['radarr']['monitor_existing']|string|lower=='true' %}checked{% endif %}>
      <input type="hidden" name="radarr_monitor_existing" value="false">
      <label class="form-check-label" for="radarr_monitor_existing">Set existing media from collections to
        monitored</label>
    </div>
    <div class="form-check form-switch">
      <input class="form-check-input" type="checkbox" name="radarr_ignore_cache" id="radarr_ignore_cache" value="true"
        {% if data['radarr']['ignore_cache']|string|lower=='true' %}checked{% endif %}>
      <input type="hidden" name="radarr_ignore_cache" value="false">
      <label class="form-check-label" for="radarr_ignore_cache">Ignore Kometa's cache when adding media</label>
    </div>
  </div>
</form>
{% endblock %}
