{% extends "000-base.html" %}

{% block content %}
    <h1>Sonarr Configuration Information</h1>
    <form action="/step/120-trakt" method="post" id="configForm">
        <!-- Sonarr Section -->
        <div id="sonarrSection">
            <h2>Sonarr Settings</h2>
            
            <label for="sonarr_url">Sonarr URL:</label>
            <input type="text" id="sonarr_url" name="sonarr_url" placeholder="http://192.168.1.12:8989">

            <label for="sonarr_token">Sonarr Token:</label>
            <div class="button-container">
                <input type="password" id="sonarr_token" name="sonarr_token" placeholder="################################">
                <button type="button" id="toggleApikeyVisibility" class="btn">Show</button>
                <button type="button" id="validateSonarrButton" class="btn">Validate Sonarr</button>
            </div>
            <div id="sonarrStatusMessage" class="status-message" style="display: none;"></div>
            
            <label for="sonarr_root_folder_path">Root Folder Path:</label>
            <select id="sonarr_root_folder_path" name="sonarr_root_folder_path">
                <option value="">Select Root Folder</option>
            </select>
            
            <label for="sonarr_monitor">Monitor:</label>
            <select id="sonarr_monitor" name="sonarr_monitor">
                <option value="unknown">unknown</option>
                <option value="all" selected>all</option>
                <option value="future">future</option>
                <option value="missing">missing</option>
                <option value="existing">existing</option>
                <option value="firstSeason">firstSeason</option>
                <option value="lastSeason">lastSeason</option>
                <option value="latestSeason">latestSeason</option>
                <option value="pilot">pilot</option>
                <option value="recent">recent</option>
                <option value="monitorSpecials">monitorSpecials</option>
                <option value="unmonitorSpecials">unmonitorSpecials</option>
                <option value="none">none</option>
                <option value="skip">skip</option>
            </select>

            <label for="sonarr_quality_profile">Quality Profile:</label>
            <select id="sonarr_quality_profile" name="sonarr_quality_profile">
                <option value="">Select Quality Profile</option>
            </select>

            <label for="sonarr_language_profile">Language Profile:</label>
            <select id="sonarr_language_profile" name="sonarr_language_profile">
                <option value="">Select Language Profile</option>
            </select>
            
            <label for="sonarr_series_type">Series Type:</label>
            <select id="sonarr_series_type" name="sonarr_series_type">
                <option value="standard">Standard</option>
                <option value="daily">Daily</option>
                <option value="anime">Anime</option>
            </select>

            <label for="sonarr_tag">Tag:</label>
            <input type="text" id="sonarr_tag" name="sonarr_tag">

            <label for="sonarr_sonarr_path">Sonarr Path:</label>
            <input type="text" id="sonarr_sonarr_path" name="sonarr_sonarr_path">

            <label for="sonarr_plex_path">Plex Path:</label>
            <input type="text" id="sonarr_plex_path" name="sonarr_plex_path">
            
            <div class="checkbox-container">
                <label for="sonarr_add_missing">Add Missing:</label>
                <input type="checkbox" id="sonarr_add_missing" name="sonarr_add_missing">
            </div>
            <div class="checkbox-container">
                <label for="sonarr_add_existing">Add Existing:</label>
                <input type="checkbox" id="sonarr_add_existing" name="sonarr_add_existing">
            </div>
            <div class="checkbox-container">
                <label for="sonarr_upgrade_existing">Upgrade Existing:</label>
                <input type="checkbox" id="sonarr_upgrade_existing" name="sonarr_upgrade_existing">
            </div>
            <div class="checkbox-container">
                <label for="sonarr_monitor_existing">Monitor Existing:</label>
                <input type="checkbox" id="sonarr_monitor_existing" name="sonarr_monitor_existing">
            </div>
            <div class="checkbox-container">
                <label for="sonarr_season_folder">Season Folder:</label>
                <input type="checkbox" id="sonarr_season_folder" name="sonarr_season_folder" checked>
            </div>
            <div class="checkbox-container">
                <label for="sonarr_search">Search:</label>
                <input type="checkbox" id="sonarr_search" name="sonarr_search">
            </div>
            <div class="checkbox-container">
                <label for="sonarr_cutoff_search">Cutoff Search:</label>
                <input type="checkbox" id="sonarr_cutoff_search" name="sonarr_cutoff_search">
            </div>
            <div class="checkbox-container">
                <label for="sonarr_ignore_cache">Ignore Cache:</label>
                <input type="checkbox" id="sonarr_ignore_cache" name="sonarr_ignore_cache">
            </div>
        </div>

        <br><br>
        <input type="submit" value="Next">
    </form>

    <script>
        async function validateSonarrApikey(apikey, url) {
            const statusApiUrl = `${url}/api/v3/system/status?apikey=${apikey}`;
            const rootFolderApiUrl = `${url}/api/v3/rootfolder?apikey=${apikey}`;
            const qualityProfileApiUrl = `${url}/api/v3/qualityprofile?apikey=${apikey}`;
            const languageProfileApiUrl = `${url}/api/v3/language?apikey=${apikey}`;
            const sonarrStatusMessage = document.getElementById('sonarrStatusMessage');

            try {
                // Validate API key
                const response = await fetch(statusApiUrl);
                const data = await response.json();
                console.log("API Response:", data);

                if (response.ok && 'version' in data) {
                    console.log("Sonarr API key is valid.");
                    sonarrStatusMessage.textContent = "Sonarr API key is valid.";
                    sonarrStatusMessage.style.color = 'green';
                    sonarrStatusMessage.style.display = 'block';

                    // Fetch and populate root folders
                    const rootFolderResponse = await fetch(rootFolderApiUrl);
                    const rootFolders = await rootFolderResponse.json();
                    const rootFolderSelect = document.getElementById('sonarr_root_folder_path');
                    rootFolderSelect.innerHTML = '<option value="">Select Root Folder</option>';
                    rootFolders.forEach(folder => {
                        const option = document.createElement('option');
                        option.value = folder.path;
                        option.textContent = folder.path;
                        rootFolderSelect.appendChild(option);
                    });

                    // Fetch and populate quality profiles
                    const qualityProfileResponse = await fetch(qualityProfileApiUrl);
                    const qualityProfiles = await qualityProfileResponse.json();
                    const qualityProfileSelect = document.getElementById('sonarr_quality_profile');
                    qualityProfileSelect.innerHTML = '<option value="">Select Quality Profile</option>';
                    qualityProfiles.forEach(profile => {
                        const option = document.createElement('option');
                        option.value = profile.id;
                        option.textContent = profile.name;
                        qualityProfileSelect.appendChild(option);
                    });

                    // Fetch and populate language profiles
                    const languageProfileResponse = await fetch(languageProfileApiUrl);
                    const languageProfiles = await languageProfileResponse.json();
                    const languageProfileSelect = document.getElementById('sonarr_language_profile');
                    languageProfileSelect.innerHTML = '<option value="">Select Language Profile</option>';
                    languageProfiles
                        .sort((a, b) => a.name.localeCompare(b.name))
                        .forEach(profile => {
                            const option = document.createElement('option');
                            option.value = profile.id;
                            option.textContent = profile.name;
                            if (profile.name === 'English') {
                                option.selected = true;
                            }
                            languageProfileSelect.appendChild(option);
                        });

                    return true;
                } else {
                    console.log("Invalid Sonarr API key. Error:", data.message);
                    sonarrStatusMessage.textContent = "Sonarr API key is invalid.";
                    sonarrStatusMessage.style.color = 'red';
                    sonarrStatusMessage.style.display = 'block';
                    return false;
                }
            } catch (error) {
                console.error("Error validating Sonarr apikey:", error);
                sonarrStatusMessage.textContent = 'Error validating Sonarr API key.';
                sonarrStatusMessage.style.color = 'red';
                sonarrStatusMessage.style.display = 'block';
                return false;
            }
        }

        document.getElementById('validateSonarrButton').addEventListener('click', function() {
            const apiKey = document.getElementById('sonarr_token').value;
            const url = document.getElementById('sonarr_url').value;
            const sonarrStatusMessage = document.getElementById('sonarrStatusMessage');

            if (!apiKey || !url) {
                sonarrStatusMessage.textContent = 'Please enter the Sonarr API key and URL.';
                sonarrStatusMessage.style.color = 'red';
                sonarrStatusMessage.style.display = 'block';
                return;
            }

            validateSonarrApikey(apiKey, url);
        });

        document.getElementById('toggleApikeyVisibility').addEventListener('click', function() {
            const apikeyInput = document.getElementById('sonarr_token');
            const currentType = apikeyInput.getAttribute('type');
            apikeyInput.setAttribute('type', currentType === 'password' ? 'text' : 'password');
            this.textContent = currentType === 'password' ? 'Hide' : 'Show';
        });
    </script>
{% endblock %}