{% extends "000-base.html" %} {% block content %}
<form action="/step/120-trakt" method="post" id="configForm" name="configForm">
  <div id="sonarrSection">
    <h2>Sonarr Settings</h2>
    <hr class="hr" />
    <div class="form-floating">
      <input type="text" class="form-control" id="sonarr_url" name="sonarr_url" placeholder="http://127.0.0.1:32400"> <label for="sonarr_url">Sonarr URL (including URL Base if set)</label>
    </div>
    <div class="hstack gap-3">
      <div class="form-floating">
        <input type="password" class="form-control" id="sonarr_token" name="sonarr_token" placeholder="################################"> <label for="sonarr_token">Token</label>
      </div><button type="button" id="toggleApikeyVisibility" class="btn btn-primary btn-sm">Show</button>
      <div class="vr"></div><button type="button" id="validateSonarrButton" class="btn btn-success btn-sm">Validate</button>
    </div>
    <div id="sonarrStatusMessage" class="status-message" style="display: none;"></div><select class="form-select form-select-lg mb-3" aria-label="Root Folder Path" id="sonarr_root_folder_path" name="sonarr_root_folder_path">
      <option value="">
        Select Root Folder Path
      </option>
    </select> <select class="form-select form-select-lg mb-3" aria-label="Monitor" id="sonarr_monitor" name="sonarr_monitor">
      <option value="all" selected>
        Select Monitor Preference
      </option>
      <option value="all">
        all (default) - monitor all episodes except specials
      </option>
      <option value="none">
        none - Do not monitor any episodes
      </option>
      <option value="future">
        future - monitor episodes that have not aired yet
      </option>
      <option value="missing">
        missing - monitor episodes that do not have files or have not aired yet
      </option>
      <option value="existing">
        existing - monitor episodes that have files or have not aired yet
      </option>
      <option value="pilot">
        pilot - monitor the first episode, all others will be ignored
      </option>
      <option value="first">
        first - monitor all episodes of the first season only
      </option>
      <option value="latest">
        latest - monitor all episodes of the latest season and future seasons
      </option>
    </select> <select class="form-select form-select-lg mb-3" aria-label="Quality Profile" id="sonarr_quality_profile" name="sonarr_quality_profile">
      <option value="">
        Select Quality Profile
      </option>
    </select> <select class="form-select form-select-lg mb-3" aria-label="Language Profile" id="sonarr_language_profile" name="sonarr_language_profile">
      <option value="">
        Select Language Profile
      </option>
    </select> <select class="form-select form-select-lg mb-3" aria-label="Series Type" id="sonarr_series_type" name="sonarr_series_type">
      <option value="standard" selected>
        Select Series Type
      </option>
      <option value="standard">
        Standard (default)
      </option>
      <option value="daily">
        Daily
      </option>
      <option value="anime">
        Anime
      </option>
    </select>
    <div class="form-floating">
      <input type="text" class="form-control" id="sonarr_tag" name="sonarr_tag" placeholder=""> <label for="sonarr_tag">Tag to apply to added media</label>
    </div>
    <div class="form-floating">
      <input type="text" class="form-control" id="sonarr_sonarr_path" name="sonarr_sonarr_path" placeholder=""> <label for="sonarr_sonarr_path">Sonarr Path</label>
    </div>
    <div class="form-floating">
      <input type="text" class="form-control" id="sonarr_plex_path" name="sonarr_plex_path" placeholder=""> <label for="sonarr_plex_path">Plex Path</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="sonarr_search" checked> <label class="form-check-label" for="sonarr_search">Search for media when added</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="sonarr_season_folder" checked> <label class="form-check-label" for="sonarr_season_folder">Use the Season Folder option when adding new media</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="sonarr_add_missing"> <label class="form-check-label" for="sonarr_add_missing">Add missing media from collections</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="sonarr_add_existing"> <label class="form-check-label" for="sonarr_add_existing">Add existing media from collections</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="sonarr_upgrade_existing"> <label class="form-check-label" for="sonarr_upgrade_existing">Upgrade existing media from collections to the Quality Profile</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="sonarr_monitor_existing"> <label class="form-check-label" for="sonarr_monitor_existing">Set existing media from collections to monitored</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="sonarr_cutoff_search"> <label class="form-check-label" for="sonarr_cutoff_search">Start search for cutoff unmet episodes when adding new media</label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="sonarr_ignore_cache"> <label class="form-check-label" for="sonarr_ignore_cache">Ignore Kometa's cache when adding media</label>
    </div><br>
    <br>
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        <div class="d-grid gap-2 d-md-block">
          <a class="btn btn-primary" role="button" href="/step/100-radarr">⏪ Previous</a> <button class="btn btn-primary me-md-2" type="submit">Next ⏩</button>
        </div>
      </ul>
    </nav>
  </div>
</form>

    <script>
        async function validateSonarrApikey(apikey, url) {
            const statusApiUrl = `${url}/api/v3/system/status?apikey=${apikey}`;
            const rootFolderApiUrl = `${url}/api/v3/rootfolder?apikey=${apikey}`;
            const qualityProfileApiUrl = `${url}/api/v3/qualityprofile?apikey=${apikey}`;
            const languageProfileApiUrl = `${url}/api/v3/language?apikey=${apikey}`;
            const sonarrStatusMessage = document.getElementById('sonarrStatusMessage');

            try {
                // Validate API key
                const response = await fetch(statusApiUrl);
                const data = await response.json();
                console.log("API Response:", data);

                if (response.ok && 'version' in data) {
                    console.log("Sonarr API key is valid.");
                    sonarrStatusMessage.textContent = "Sonarr API key is valid.";
                    sonarrStatusMessage.style.color = '#75b798';
                    sonarrStatusMessage.style.display = 'block';

                    // Fetch and populate root folders
                    const rootFolderResponse = await fetch(rootFolderApiUrl);
                    const rootFolders = await rootFolderResponse.json();
                    const rootFolderSelect = document.getElementById('sonarr_root_folder_path');
                    rootFolderSelect.innerHTML = '<option value="">Select Root Folder</option>';
                    rootFolders.forEach(folder => {
                        const option = document.createElement('option');
                        option.value = folder.path;
                        option.textContent = folder.path;
                        rootFolderSelect.appendChild(option);
                    });

                    // Fetch and populate quality profiles
                    const qualityProfileResponse = await fetch(qualityProfileApiUrl);
                    const qualityProfiles = await qualityProfileResponse.json();
                    const qualityProfileSelect = document.getElementById('sonarr_quality_profile');
                    qualityProfileSelect.innerHTML = '<option value="">Select Quality Profile</option>';
                    qualityProfiles.forEach(profile => {
                        const option = document.createElement('option');
                        option.value = profile.name;
                        option.textContent = profile.name;
                        qualityProfileSelect.appendChild(option);
                    });

                    // Fetch and populate language profiles
                    const languageProfileResponse = await fetch(languageProfileApiUrl);
                    const languageProfiles = await languageProfileResponse.json();
                    const languageProfileSelect = document.getElementById('sonarr_language_profile');
                    languageProfileSelect.innerHTML = '<option value="">Select Language Profile</option>';
                    languageProfiles
                        .sort((a, b) => a.name.localeCompare(b.name))
                        .forEach(profile => {
                            const option = document.createElement('option');
                            option.value = profile.name;
                            option.textContent = profile.name;
                            if (profile.name === 'English') {
                                option.selected = true;
                            }
                            languageProfileSelect.appendChild(option);
                        });

                    return true;
                } else {
                    console.log("Invalid Sonarr API key. Error:", data.message);
                    sonarrStatusMessage.textContent = "Sonarr API key is invalid.";
                    sonarrStatusMessage.style.color = '#ea868f';
                    sonarrStatusMessage.style.display = 'block';
                    return false;
                }
            } catch (error) {
                console.error("Error validating Sonarr apikey:", error);
                sonarrStatusMessage.textContent = 'Error validating Sonarr API key.';
                sonarrStatusMessage.style.color = '#ea868f';
                sonarrStatusMessage.style.display = 'block';
                return false;
            }
        }

        document.getElementById('validateSonarrButton').addEventListener('click', function() {
            const apiKey = document.getElementById('sonarr_token').value;
            const url = document.getElementById('sonarr_url').value;
            const sonarrStatusMessage = document.getElementById('sonarrStatusMessage');

            if (!apiKey || !url) {
                sonarrStatusMessage.textContent = 'Please enter the Sonarr API key and URL.';
                sonarrStatusMessage.style.color = '#ea868f';
                sonarrStatusMessage.style.display = 'block';
                return;
            }

            validateSonarrApikey(apiKey, url);
        });

        document.getElementById('toggleApikeyVisibility').addEventListener('click', function() {
            const apikeyInput = document.getElementById('sonarr_token');
            const currentType = apikeyInput.getAttribute('type');
            apikeyInput.setAttribute('type', currentType === 'password' ? 'text' : 'password');
            this.textContent = currentType === 'password' ? 'Hide' : 'Show';
        });
    </script> {% endblock %}