{% extends "000-base.html" %}

{% block content %}
    <h1>Trakt Configuration Information</h1>
    <form action="/step/130-mal" method="post" id="configForm">
        <!-- Trakt Section -->
        <div id="traktSection" class="section">
            <h2>Trakt Settings</h2>
            <div class="form-group">
                <label for="trakt_client_id">Trakt Client ID:</label>
                <input type="text" class="form-control" id="trakt_client_id" name="trakt_client_id">
            </div>
            <div class="form-group">
                <label for="trakt_client_secret">Trakt Client Secret:</label>
                <input type="text" class="form-control" id="trakt_client_secret" name="trakt_client_secret">
            </div>

            <div class="form-group" id="urlField">
                When you click "Retrieve PIN" below, you will be taken to a Trakt web page. Log in and allow your application access to your Trakt account. Trakt will display a PIN. Copy that PIN and paste it into the "Trakt PIN" field below.<br><br>
                If you have a PIN you generated in the last few minutes, enter it below.<br><br>
                <input type="hidden" class="form-control" id="trakt_url" name="trakt_url" readonly oninput="checkURLStart(this)">
                <button type="button" class="btn btn-primary mt-2" id="trakt_open_url" onclick="openUrl()">Retrieve PIN</button>
            </div>

            <div class="form-group">
                <label for="trakt_pin">Trakt PIN:</label>
                <input type="text" class="form-control" id="trakt_pin" name="trakt_pin">
            </div>

            <div class="button-container">
                <button type="button" id="validateTraktPin" class="btn btn-primary mt-2">Validate PIN</button>
            </div>
        </div>
<br><br>
        <input type="submit" value="Next">
    </form>
    <script>
    </script>
{% endblock %}
