{% extends "000-base.html" %} {% block content %}
    <h1>MyAnimeList Configuration Information</h1>
    <form action="/999-final" method="post" id="configForm">
    <!-- MAL Section -->
    <div id="malSection">
        <h2>MAL Settings</h2>
        <label for="mal_client_id">Client ID:</label>
        <input type="text" id="mal_client_id" name="mal_client_id" placeholder="####################">
        <label for="mal_client_secret">Client Secret:</label>
        <input type="text" id="mal_client_secret" name="mal_client_secret" placeholder="####################">
        <h3>Authorization</h3>
        <label for="mal_access_token">Access Token:</label>
        <input type="text" id="mal_access_token" name="mal_access_token">
        <label for="mal_token_type">Token Type:</label>
        <input type="text" id="mal_token_type" name="mal_token_type">
        <label for="mal_expires_in">Expires In:</label>
        <input type="text" id="mal_expires_in" name="mal_expires_in">
        <label for="mal_refresh_token">Refresh Token:</label>
        <input type="text" id="mal_refresh_token" name="mal_refresh_token">
    </div>
<br><br>
    <nav aria-label="Page navigation example">
      <ul class="pagination justify-content-center">
        <div class="d-grid gap-2 d-md-block">
          <a class="btn btn-primary" role="button" href="/step/120-trakt">⏪ Previous</a> <button class="btn btn-primary me-md-2" type="submit">Next ⏩</button>
        </div>
      </ul>
    </nav>
    </form>
    <script>
    </script> {% endblock %}
