{% extends "000-base.html" %} {% block content %}
<form action="/step/{{ next_page }}" method="post" id="configForm" name="configForm">
  <div id="{{curr_page}}Section">
    <div class="row">
      <div class="col align-self-center">
        <div class="input-group justify-content-start">
          <a class="btn btn-secondary" role="button" href="/step/{{ prev_page }}">Previous</a>
          <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="visually-hidden">Toggle Dropdown</span>
          </button>
          <ul class="dropdown-menu">
            {% for file, name in template_list %}
            {% if name == 'Final Validation' %}
            <li>
              <hr class="dropdown-divider">
            </li>
            {% endif %}
            <li>
              <a class="dropdown-item" href="/step/{{ file.rsplit('.', 1)[0] }}">{{ name }}</a>
            </li>
            {% if name == 'Start' %}
            <li>
              <hr class="dropdown-divider">
            </li>
            {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
      <div class="col-6 align-self-center text-center">
        <h2>{{ curr_page }}</h2>
      </div>
      <div class="col align-self-center">
        <div class="input-group justify-content-end">
          <button type="submit" class="btn btn-success">Next</button>
          <button type="button" class="btn btn-success dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
            <span class="visually-hidden">Toggle Dropdown</span>
          </button>
          <ul class="dropdown-menu dropdown-menu-end">
            {% for file, name in template_list %}
            {% if name == 'Final Validation' %}
            <li>
              <hr class="dropdown-divider">
            </li>
            {% endif %}
            <li>
              <a class="dropdown-item" href="/step/{{ file.rsplit('.', 1)[0] }}">{{ name }}</a>
            </li>
            {% if name == 'Start' %}
            <li>
              <hr class="dropdown-divider">
            </li>
            {% endif %}
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    <div class="container text-center">
      <div class="row">
        <div class="col"></div>
        <div class="col-8">
          <div class="col align-self-end">
            <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
              <div class="progress-bar bg-success" style="width: {{ progress }}%">
                {{ progress }}%
              </div>
            </div>
          </div>
        </div>
        <div class="col"></div>
      </div>
    </div>
    <hr class="hr">
    <div class="alert alert-info" role="alert">
      <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">Click Here</a> if you need guidance completing this section.
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Completing the {{ title}} Section</h1>
          </div>
          <div class="modal-body">
            This is some dummy text<br>
            <br>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <div class="form-floating">
      <input type="text" class="form-control" id="mal_client_id" name="mal_client_id" value="{{ data['mal']['client_id'] }}" oninput="updateMALTargetURL(this)">
      <label for="mal_client_id">Client ID</label>
    </div>
    <div class="form-floating">
      <input type="hidden" class="form-control" id="mal_code_verifier" name="mal_code_verifier" value="{{ data['code_verifier']}}">
    </div>
    <div class="input-group input-group-lg">
      <input type="password" class="form-control" id="mal_client_secret" name="mal_client_secret" value="{{ data['mal']['client_secret'] }}" title="Client Secret" aria-label="Client Secret" oninput="updateMALTargetURL(this)">
      <button class="btn btn-secondary" id="toggleClientSecretVisibility" type="button">Show</button>
      <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal2">Authorize</button>
    </div>
    <div class="modal fade" id="exampleModal2" tabindex="-1" aria-labelledby="exampleModal2" aria-hidden="true">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-body">
            <div class="alert alert-danger" role="alert">
              Please read the below warning
            </div>
            Once you hit "Authorize" you will be taken to the MyAnimeList website to Authorize the connection.<br>
            <br>
            <b>When you press "Allow" on the MyAnimeList page, you will be redirected to a page that does not load - this is expected.</b><br>
            <br>
            Copy the URL from the page that does not load, then come back to this page. Paste the URL into the `Localhost URL` box before pressing the
            <code>Complete Authentication</code>.
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button class="btn btn-primary" id="mal_get_localhost_url" type="button" data-bs-dismiss="modal">Authorize</button>
          </div>
        </div>
      </div>
    </div>
    <input type="hidden" class="form-control" id="mal_url" name="mal_url" readonly oninput="enableLocalURLButton(this)">
    <div class="form-floating">
      <div class="alert alert-dark" role="alert">
        Once you hit "Authorize" you will be taken to the MyAnimeList website to Authorize the connection.<br>
        <br>
        <b>When you press "Allow" on the MyAnimeList page, you will be redirected to a page that does not load - this is expected.</b><br>
        <br>
        Copy the URL from the page that does not load, then come back to this page. Paste the URL into the `Localhost URL` box before pressing
        <code>Complete Authentication</code>.
      </div>
    </div>
    <div class="form-group" id="localhost_url">
      <div class="input-group input-group-lg">
        <input type="text" class="form-control" id="mal_localhost_url" name="mal_localhost_url" placeholder="Localhost URL" aria-label="Localhost URL" oninput="checkURLField(this)">
        <button type="button" class="btn btn-success" id="validate_mal_url">Complete Authentication</button>
      </div>
      <div id="malStatusMessage" class="status-message"></div>
      <div class="form-group" id="hidden_stuff">
        <input type="hidden" class="form-control" id="access_token" name="access_token" value="{{ data['mal']['authorization']['access_token'] }}" readonly>
        <input type="hidden" class="form-control" id="token_type" name="token_type" value="{{ data['mal']['authorization']['access_token'] }}" readonly>
        <input type="hidden" class="form-control" id="expires_in" name="expires_in" value="{{ data['mal']['authorization']['access_token'] }}" readonly>
        <input type="hidden" class="form-control" id="refresh_token" name="refresh_token" value="{{ data['mal']['authorization']['access_token'] }}" readonly>
      </div>
    </div>
</form>
<script>

  document.getElementById('toggleClientSecretVisibility').addEventListener('click', function() {
    const apikeyInput = document.getElementById('mal_client_secret');
    const currentType = apikeyInput.getAttribute('type');
    apikeyInput.setAttribute('type', currentType === 'password' ? 'text' : 'password');
    this.textContent = currentType === 'password' ? 'Hide' : 'Show';
  });

  document.getElementById('mal_get_localhost_url').addEventListener('click', function() {
    var url = document.getElementById('mal_url').value;
    if(url) {
        window.open(url, '_blank').focus();
    }
  });

function updateMALTargetURL() {
  var mal_client_id = document.getElementById('mal_client_id').value;
  var code_verifier = document.getElementById('mal_code_verifier').value;
  var myURL = "";
  if (mal_client_id.length == 32)
  {
    myURL = "https://myanimelist.net/v1/oauth2/authorize?response_type=code&client_id=" + mal_client_id + "&code_challenge=" + code_verifier;
  }
  document.getElementById('mal_url').value = myURL;
  enableLocalURLButton()
}

function openMALUrl() {
    var url = document.getElementById('mal_url').value;
    if(url) {
        window.open(url, '_blank').focus();
    }
}

function checkURLField() {
    var localURL = document.getElementById('mal_localhost_url').value;
    var localURLButton = document.getElementById('validate_mal_url');
    localURLButton.disabled = (localURL == '');
}

function enableLocalURLButton() {
    var url = document.getElementById('mal_url').value;
    var urlButton = document.getElementById('mal_get_localhost_url');
    urlButton.disabled = url == '';
}

window.onload = function() {
    var mal_url_text = document.getElementById('mal_url');
    document.getElementById("validate_mal_url").disabled = true
    document.getElementById("validate_mal_url").disabled = true
    enableLocalURLButton(mal_url_text);
};

document.getElementById('validate_mal_url').addEventListener('click', function() {
    const malClient = document.getElementById('mal_client_id').value;
    const malSecret = document.getElementById('mal_client_secret').value;
    const malVerifier = document.getElementById('mal_code_verifier').value;
    const malLocalhostURL = document.getElementById('mal_localhost_url').value;

    const malStatusMessage = document.getElementById('malStatusMessage');

    if (!malClient || !malSecret || !malVerifier || !malLocalhostURL) {
        malStatusMessage.textContent = 'ID, secret, and localhost URL are all required.';
        malStatusMessage.style.display = 'block';
        return;
    }

    fetch('/validate_mal', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({
            mal_client_id: malClient,
            mal_client_secret: malSecret,
            mal_code_verifier: malVerifier,
            mal_localhost_url: malLocalhostURL
        })
    })
    .then(response => response.json())
    .then(data => {
        if (data.valid) {
            malStatusMessage.textContent = 'MyAnimeList credentials validated successfully!';
            malStatusMessage.style.color = 'green';
            document.getElementById('access_token').value = data.mal_authorization_access_token;
            document.getElementById('token_type').value = data.mal_authorization_token_type;
            document.getElementById('expires_in').value = data.mal_authorization_expires_in;
            document.getElementById('refresh_token').value = data.mal_authorization_refresh_token;
            document.getElementById("mal_get_localhost_url").disabled = true
            document.getElementById("validate_mal_url").disabled = true
        } else {
            malStatusMessage.textContent = data.error;
            malStatusMessage.style.color = 'red';
        }
        malStatusMessage.style.display = 'block';
    })
    .catch(error => {
        console.error('Error validating MAL credentials:', error);
        malStatusMessage.textContent = 'An error occurred while validating MAL credentials.';
        malStatusMessage.style.color = 'red';
        malStatusMessage.style.display = 'block';
    });
});

</script> {% endblock %}