{% extends "000-base.html" %} {% block content %}
{% include "001-navigation.html" %}
{% include "modals/" + page_info['template_name'] + ".html" ignore missing %}
    <div class="form-floating mb-2">
      <input type="text" class="form-control" id="trakt_client_id" name="trakt_client_id" value="{{ data['trakt']['client_id']  or '' }}" oninput="updateTraktURL(this)">
      <label for="trakt_client_id">Client ID</label>
    </div>
    <div class="input-group mb-2">
      <div class="form-floating flex-grow-1">
        <input type="password" class="form-control" id="trakt_client_secret" name="trakt_client_secret"
               value="{{ data['trakt']['client_secret']  or '' }}" title="Client Secret"
               aria-label="Client Secret" oninput="updateTraktURL(this)">
        <label for="trakt_client_secret">Client Secret</label>
      </div>
      <button class="btn btn-secondary" id="toggleClientSecretVisibility" type="button">
        <i class="fas fa-eye"></i>
      </button>
      <button class="btn btn-success" id="trakt_open_url" type="button" onclick="openTraktUrl()">
        Retrieve PIN <i id="spinner_retrieve" class="spinner-border spinner-border-sm" style="display:none;"></i>
      </button>
    </div>


    <input type="hidden" class="form-control" id="trakt_url" name="trakt_url" readonly oninput="checkURLStart(this)">
    <div class="form-text" id="pin-info">
      When you click "Retrieve PIN" above, you will be taken to a Trakt web page. Log in and allow your application access to your Trakt account. Trakt will display a PIN. Copy that PIN and paste it into the "Trakt PIN" field below.<br>
      <br>
      If you have a PIN you generated in the last few minutes, enter it below.<br>
      <br>
    </div>
    <div class="input-group" id="urlField">
      <input type="text" class="form-control" placeholder="Trakt PIN" aria-label="Trakt PIN" id="trakt_pin" name="trakt_pin" oninput="checkPinField(this)">
      <button class="btn btn-success" type="button" id="validate_trakt_pin">
        Validate PIN <i id="spinner_validate" class="spinner-border spinner-border-sm" style="display:none;"></i>
      </button>
    </div>
    <input type="hidden" class="form-control" id="access_token" name="access_token" value="{{ data['trakt']['authorization']['access_token'] }}" readonly>
    <input type="hidden" class="form-control" id="token_type" name="token_type" value="{{ data['trakt']['authorization']['token_type'] }}" readonly>
    <input type="hidden" class="form-control" id="expires_in" name="expires_in" value="{{ data['trakt']['authorization']['expires_in'] }}" readonly>
    <input type="hidden" class="form-control" id="refresh_token" name="refresh_token" value="{{ data['trakt']['authorization']['refresh_token'] }}" readonly>
    <input type="hidden" class="form-control" id="scope" name="scope" value="{{ data['trakt']['authorization']['scope'] }}" readonly>
    <input type="hidden" class="form-control" id="created_at" name="created_at" value="{{ data['trakt']['authorization']['created_at'] }}" readonly>
    <div class="form-floating" style="display:none;">
      <input type="text" class="form-control" id="trakt_validated" name="trakt_validated" value="{{ data['validated'] }}" title="">
      <label for="trakt_validated">Trakt Validated</label>
    </div>
    <div id="statusMessage" class="status-message"></div>
    <br>
  </div>
</form>
{% endblock %}
