{% extends "000-base.html" %} {% block content %}
{% include "001-navigation.html" %}
{% include "modals/" + page_info['template_name'] + ".html" ignore missing %}
    <div class="form-floating mb-2">
      <input type="text" class="form-control" id="mal_client_id" name="mal_client_id" value="{{ data['mal']['client_id']  or '' }}" oninput="updateMALTargetURL(this)">
      <label for="mal_client_id">Client ID</label>
    </div>
    <div class="form-floating mb-2">
      <input type="hidden" class="form-control" id="mal_code_verifier" name="mal_code_verifier" value="{{ data['code_verifier']}}">
    </div>
    <div class="input-group mb-2">
      <div class="form-floating flex-grow-1">
        <input type="password" class="form-control" id="mal_client_secret" name="mal_client_secret"
               value="{{ data['mal']['client_secret']  or '' }}" title="Client Secret"
               aria-label="Client Secret" oninput="updateMALTargetURL(this)">
        <label for="mal_client_secret">Client Secret</label>
      </div>
      <button class="btn btn-secondary" id="toggleClientSecretVisibility" type="button">
        <i class="fas fa-eye"></i>
      </button>
      <button class="btn btn-success" id="mal_get_localhost_url" type="button">
        Authorize <i id="spinner_retrieve" class="spinner-border spinner-border-sm" style="display:none;"></i>
      </button>
    </div>

    <input type="hidden" class="form-control" id="mal_url" name="mal_url" readonly oninput="enableLocalURLButton(this)">
    <div class="form-floating  mb-2">
    </div>
    <div class="form-group" id="localhost_url">
      <div class="input-group">
        <input type="text" class="form-control" id="mal_localhost_url" name="mal_localhost_url" placeholder="Localhost URL" aria-label="Localhost URL" oninput="checkURLField(this)">
        <button type="button" class="btn btn-success" id="validate_mal_url">
          Complete Authentication <i id="spinner_validate" class="spinner-border spinner-border-sm" style="display:none;"></i>
        </button>
      </div>
      <div class="form-floating" style="display:none;">
        <input type="text" class="form-control" id="mal_validated" name="mal_validated" value="{{ data['validated'] }}" title="">
        <label for="mal_validated">MyAnimeList Validated</label>
      </div>
      <div id="statusMessage" class="status-message"></div>
      <div class="form-group" id="hidden_stuff">
        <input type="hidden" class="form-control" id="access_token" name="access_token" value="{{ data['mal']['authorization']['access_token'] }}" readonly>
        <input type="hidden" class="form-control" id="token_type" name="token_type" value="{{ data['mal']['authorization']['access_token'] }}" readonly>
        <input type="hidden" class="form-control" id="expires_in" name="expires_in" value="{{ data['mal']['authorization']['access_token'] }}" readonly>
        <input type="hidden" class="form-control" id="refresh_token" name="refresh_token" value="{{ data['mal']['authorization']['access_token'] }}" readonly>
      </div>
    </div>
  </div>
</form>
{% endblock %}
