{% extends "000-base.html" %}
{% block content %}
<form action="/step/150-settings" method="post" id="configForm">
  <div id="webhooksSection">
    <h2>Webhook Settings</h2>
    <hr class="hr">
    <div class="alert alert-info" role="alert">
      <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">Click Here</a> if you need guidance completing this section.
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h1 class="modal-title fs-5" id="exampleModalLabel">Completing the Webhooks Section</h1>
          </div>
          <div class="modal-body">
            This is some dummy text<br>
            <br>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
    <hr class="hr">
    <div class="form-floating">
      <select class="form-select" aria-label="Error" id="webhooks_error" name="webhooks_error">
        <option value="">Select Error Webhook</option>
        <option value="notifiarr">notifiarr</option>
        <option value="gotify">gotify</option>
        <option value="custom">custom</option>
      </select>
      <label for="webhooks_error">Error</label>
    </div>
    <div class="form-floating">
      <select class="form-select" aria-label="Run Start" id="webhooks_run_start" name="webhooks_run_start">
        <option value="">Select Run Start Webhook</option>
        <option value="notifiarr">notifiarr</option>
        <option value="gotify">gotify</option>
        <option value="custom">custom</option>
      </select>
      <label for="webhooks_run_start">Run Start</label>
    </div>
    <div class="form-floating">
      <select class="form-select" aria-label="Run End" id="webhooks_run_end" name="webhooks_run_end">
        <option value="">Select Run End Webhook</option>
        <option value="notifiarr">notifiarr</option>
        <option value="gotify">gotify</option>
        <option value="custom">custom</option>
      </select>
      <label for="webhooks_run_end">Run End</label>
    </div>
    <div class="form-floating">
      <select class="form-select" aria-label="Changes" id="webhooks_changes" name="webhooks_changes">
        <option value="">Select Changes Webhook</option>
        <option value="notifiarr">notifiarr</option>
        <option value="gotify">gotify</option>
        <option value="custom">custom</option>
      </select>
      <label for="webhooks_changes">Changes</label>
    </div>
    <div class="form-floating">
      <select class="form-select" aria-label="Version" id="webhooks_version" name="webhooks_version">
        <option value="">Select Version Webhook</option>
        <option value="notifiarr">notifiarr</option>
        <option value="gotify">gotify</option>
        <option value="custom">custom</option>
      </select>
      <label for="webhooks_version">Version</label>
    </div>
    <div class="form-floating">
      <select class="form-select" aria-label="Delete" id="webhooks_delete" name="webhooks_delete">
        <option value="">Select Delete Webhook</option>
        <option value="notifiarr">notifiarr</option>
        <option value="gotify">gotify</option>
        <option value="custom">custom</option>
      </select>
      <label for="webhooks_delete">Delete</label>
    </div>

    <br><br>
    <hr class="hr">
    <div class="row">
      <div class="col">
        <a class="btn btn-secondary" role="button" href="/step/130-mal">Previous</a>
      </div>
      <div class="col-6"></div>
      <div class="col d-flex justify-content-end align-items-center">
        <button class="btn btn-primary me-md-2" type="submit">Next</button>
      </div>
    </div>
  </div>
</form>

{% endblock %}
