{% extends "000-base.html" %} {% block content %}
<form action="/step/{{ next_page }}" method="post" id="configForm" name="configForm">
    <div id="{{curr_page}}Section">
        <div class="row">
            <div class="col align-self-center">
                <div class="input-group justify-content-start">
                    <a class="btn btn-secondary" role="button" href="/step/{{ prev_page }}">Previous</a>
                    <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split"
                            data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="visually-hidden">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu">
                        <li>
                            <a class="dropdown-item" href="/step/start">Start</a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        {% for file, name in template_list %}
                        <li>
                            <a class="dropdown-item" href="/step/{{ file.rsplit('.', 1)[0] }}">{{ name }}</a>
                        </li>
                        {% endfor %}
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item" href="/step/999-final">Skip to Validation</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-6 align-self-center text-center">
                <h2>{{ curr_page }}</h2>
            </div>
            <div class="col align-self-center">
                <div class="input-group justify-content-end">
                    <button type="submit" class="btn btn-success">Next</button>
                    <button type="button" class="btn btn-success dropdown-toggle dropdown-toggle-split"
                            data-bs-toggle="dropdown" aria-expanded="false">
                        <span class="visually-hidden">Toggle Dropdown</span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li>
                            <a class="dropdown-item" href="/step/start">Start</a>
                        </li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        {% for file, name in template_list %}
                        <li>
                            <a class="dropdown-item" href="/step/{{ file.rsplit('.', 1)[0] }}">{{ name }}</a>
                        </li>
                        {% endfor %}
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li>
                            <a class="dropdown-item" href="/step/999-final">Skip to Validation</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container text-center">
            <div class="row">
                <div class="col"></div>
                <div class="col-8">
                    <div class="col align-self-end">
                        <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                            <div class="progress-bar bg-success" style="width: {{ progress }}%">
                                {{ progress }}%
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col"></div>
            </div>
        </div>
        <hr class="hr">
        <div class="alert alert-info" role="alert">
            <a href="#" data-bs-toggle="modal" data-bs-target="#exampleModal">Click Here</a> if you need guidance
            completing this section.
        </div>
        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="exampleModalLabel">Completing the {{ title}} Section</h1>
                    </div>
                    <div class="modal-body">
                        This is some dummy text<br>
                        <br>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-floating">
            <div class="accordion" id="accordionExample">
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                            Asset & Overlay Management
                        </button>
                    </h2>
                    <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="asset_directory" name="asset_directory" placeholder="config/assets">
                                <label for="asset_directory">Asset Directory</label>
                            </div>

                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="asset_folders" name="asset_folders" value="true" {% if data['settings']['asset_folders']|string|lower == 'true' %}checked{% endif %}>
                                <input type="hidden" name="asset_folders" value="false">
                                <label class="form-check-label" for="asset_folders">Asset Folders</label>
                            </div>

                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="create_asset_folders" name="create_asset_folders" value="true" {% if data['settings']['create_asset_folders']|string|lower == 'true' %}checked{% endif %}>
                                <input type="hidden" name="create_asset_folders" value="false">
                                <label class="form-check-label" for="create_asset_folders">Create Asset Folders</label>
                            </div>

                            <div class="form-floating mb-3">
                                <input type="number" class="form-control" id="asset_depth" name="asset_depth" placeholder="0" min="0">
                                <label for="asset_depth">Asset Depth</label>
                            </div>

                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="prioritize_assets" name="prioritize_assets" value="true" {% if data['settings']['prioritize_assets']|string|lower == 'true' %}checked{% endif %}>
                                <input type="hidden" name="prioritize_assets" value="false">
                                <label class="form-check-label" for="prioritize_assets">Prioritize Assets</label>
                            </div>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="dimensional_asset_rename" name="dimensional_asset_rename" value="true" {% if data['settings']['dimensional_asset_rename']|string|lower == 'true' %}checked{% endif %}>
                                <input type="hidden" name="dimensional_asset_rename" value="false">
                                <label class="form-check-label" for="dimensional_asset_rename">Dimensional Asset Rename</label>
                            </div>

                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="download_url_assets" name="download_url_assets" value="true" {% if data['settings']['download_url_assets']|string|lower == 'true' %}checked{% endif %}>
                                <input type="hidden" name="download_url_assets" value="false">
                                <label class="form-check-label" for="download_url_assets">Download URL Assets</label>
                            </div>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="show_missing_assets" name="show_missing_assets" value="true" {% if data['settings']['show_missing_assets']|string|lower == 'true' %}checked{% endif %}>
                                <input type="hidden" name="show_missing_assets" value="false">
                                <label class="form-check-label" for="show_missing_assets">Show Missing Assets</label>
                            </div>
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="show_missing_season_assets" name="show_missing_season_assets" value="true" {% if data['settings']['show_missing_season_assets']|string|lower == 'true' %}checked{% endif %}>
                                <input type="hidden" name="show_missing_season_assets" value="false">
                                <label class="form-check-label" for="show_missing_season_assets">Show Missing Season
                                    Assets</label>
                            </div>

                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="show_missing_episode_assets" name="show_missing_episode_assets" value="true" {% if data['settings']['show_missing_episode_assets']|string|lower == 'true' %}checked{% endif %}>
                                <input type="hidden" name="show_missing_episode_assets" value="false">
                                <label class="form-check-label" for="show_missing_episode_assets">Show Missing Episode
                                    Assets</label>
                            </div>

                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="show_asset_not_needed" name="show_asset_not_needed" value="true" {% if data['settings']['show_asset_not_needed']|string|lower == 'true' %}checked{% endif %}>
                                <input type="hidden" name="show_asset_not_needed" value="false">
                                <label class="form-check-label" for="show_asset_not_needed">Show Asset Not
                                    Needed</label>
                            </div>

                            <div class="form-floating mb-3">
                              <select class="form-select" id="overlay_artwork_filetype" name="overlay_artwork_filetype">
                                <option value="jpg">Select Overlay Artwork Filetype</option>
                                <option value="jpg">JPG (default)</option>
                                <option value="png">PNG</option>
                                <option value="webp_lossy">WEBP LOSSY</option>
                                <option value="webp_lossless">WEBP LOSSLESS</option>
                              </select>
                            </div>

                            <div class="form-floating mb-3">
                              <input type="number" class="form-control" id="overlay_artwork_quality" name="overlay_artwork_quality" placeholder="75" min="1" max="100">
                              <label for="overlay_artwork_quality">Overlay Artwork Quality</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                            Cache Management
                        </button>
                    </h2>
                    <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">
                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="cache" name="cache" value="true" {% if data['settings']['cache']|string|lower == 'true' %}checked{% endif %}>
                                <input type="hidden" name="cache" value="false">
                                <label class="form-check-label" for="cache">Cache</label>
                            </div>
                            <div class="form-floating mb-3">
                              <input type="number" class="form-control" id="cache_expiration" name="cache_expiration" placeholder="60" min="0">
                              <label for="cache_expiration">Cache Expiration (days)</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                            Collection/Playlist Management
                        </button>
                    </h2>
                    <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">


                            <div class="form-floating mb-3">
                              <select class="form-select" id="sync_mode" name="sync_mode">
                                <option value="append">Select Sync Mode</option>
                                <option value="append">Append (default)</option>
                                <option value="sync">Sync</option>
                              </select>
                            </div>

                            <div class="form-floating mb-3">
                              <select class="form-select" id="default_collection_order" name="default_collection_order">
                                <option value="">Select Default Collection Order</option>
                                <option value="added.asc">Added (Ascending)</option>
                                <option value="added.desc">Added (Descending)</option>
                                <option value="alpha">Alphabetical</option>
                                <option value="audience_rating.asc">Audience Rating (Ascending)</option>
                                <option value="audience_rating.desc">Audience Rating (Descending)</option>
                                <option value="bitrate.asc">Bitrate (Ascending)</option>
                                <option value="bitrate.desc">Bitrate (Descending)</option>
                                <option value="content_rating.asc">Content Rating (Ascending)</option>
                                <option value="content_rating.desc">Content Rating (Descending)</option>
                                <option value="critic_rating.asc">Critic Rating (Ascending)</option>
                                <option value="critic_rating.desc">Critic Rating (Descending)</option>
                                <option value="custom">Custom</option>
                                <option value="duration.asc">Duration (Ascending)</option>
                                <option value="duration.desc">Duration (Descending)</option>
                                <option value="originally_available.asc">Originally Available (Ascending)</option>
                                <option value="originally_available.desc">Originally Available (Descending)</option>
                                <option value="plays.asc">Plays (Ascending)</option>
                                <option value="plays.desc">Plays (Descending)</option>
                                <option value="progress.asc">Progress (Ascending)</option>
                                <option value="progress.desc">Progress (Descending)</option>
                                <option value="random">Random</option>
                                <option value="release">Release</option>
                                <option value="release.asc">Release (Ascending)</option>
                                <option value="release.desc">Release (Descending)</option>
                                <option value="resolution.asc">Resolution (Ascending)</option>
                                <option value="resolution.desc">Resolution (Descending)</option>
                                <option value="title.asc">Title (Ascending)</option>
                                <option value="title.desc">Title (Descending)</option>
                                <option value="user_rating.asc">User Rating (Ascending)</option>
                                <option value="user_rating.desc">User Rating (Descending)</option>
                                <option value="viewed.asc">Viewed (Ascending)</option>
                                <option value="viewed.desc">Viewed (Descending)</option>
                                <option value="year.asc">Year (Ascending)</option>
                                <option value="year.desc">Year (Descending)</option>
                              </select>
                            </div>

                            <div class="form-floating mb-3">
                              <input type="number" class="form-control" id="item_refresh_delay" name="item_refresh_delay" placeholder="0" min="0">
                              <label for="item_refresh_delay">Item Refresh Delay (seconds)</label>
                            </div>

                            <div class="form-floating mb-3">
                              <input type="number" class="form-control" id="minimum_items" name="minimum_items" placeholder="1" min="1">
                              <label for="minimum_items">Minimum Items</label>
                            </div>

                            <div class="form-check form-switch">
                              <input class="form-check-input" type="checkbox" id="show_missing" name="show_missing" value="true" {% if data['settings']['show_missing']|string|lower == 'true' %}checked{% endif %}>
                              <input type="hidden" name="show_missing" value="false">
                              <label class="form-check-label" for="show_missing">Show Missing</label>
                            </div>

                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="delete_below_minimum" name="delete_below_minimum" value="true" {% if data['settings']['delete_below_minimum']|string|lower == 'true' %}checked{% endif %}>
                                <input type="hidden" name="delete_below_minimum" value="false">
                                <label class="form-check-label" for="delete_below_minimum">Delete Below Minimum</label>
                            </div>

                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="delete_not_scheduled" name="delete_not_scheduled" value="true" {% if data['settings']['delete_not_scheduled']|string|lower == 'true' %}checked{% endif %}>
                                <input type="hidden" name="delete_not_scheduled" value="false">
                                <label class="form-check-label" for="delete_not_scheduled">Delete Not Scheduled</label>
                            </div>

                            <div class="form-floating mb-3">
                              <input type="number" class="form-control" id="run_again_delay" name="run_again_delay" value="0" min="0">
                              <label for="run_again_delay">Run Again Delay (minutes)</label>
                            </div>

                            <div class="form-floating mb-3">
                              <input type="text" class="form-control" id="playlist_sync_to_users" name="playlist_sync_to_users" value="all">
                              <label for="playlist_sync_to_users">Playlist Sync to Users (all, or comma-separated)</label>
                            </div>

                            <div class="form-floating mb-3">
                              <input type="text" class="form-control" id="playlist_exclude_users" name="playlist_exclude_users" placeholder="">
                              <label for="playlist_exclude_users">Playlist Exclude Users (comma-separated)</label>
                            </div>

                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="playlist_report" name="playlist_report" value="true" {% if data['settings']['playlist_report']|string|lower == 'true' %}checked{% endif %}>
                                <input type="hidden" name="playlist_report" value="false">
                                <label class="form-check-label" for="playlist_report">Playlist Report</label>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                            Filtering and Display
                        </button>
                    </h2>
                    <div id="collapseFour" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">


                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="missing_only_released" name="missing_only_released" value="true" {% if data['settings']['missing_only_released']|string|lower == 'true' %}checked{% endif %}>
                                <input type="hidden" name="missing_only_released" value="false">
                                <label class="form-check-label" for="missing_only_released">Missing Only Released</label>
                            </div>

                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="show_unconfigured" name="show_unconfigured" value="true" {% if data['settings']['show_unconfigured']|string|lower == 'true' %}checked{% endif %}>
                                <input type="hidden" name="show_unconfigured" value="false">
                                <label class="form-check-label" for="show_unconfigured">Show Unconfigured</label>
                            </div>

                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="show_unmanaged" name="show_unmanaged" value="true" {% if data['settings']['show_unmanaged']|string|lower == 'true' %}checked{% endif %}>
                                <input type="hidden" name="show_unmanaged" value="false">
                                <label class="form-check-label" for="show_unmanaged">Show Unmanaged</label>
                            </div>

                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="show_filtered" name="show_filtered" value="true" {% if data['settings']['show_filtered']|string|lower == 'true' %}checked{% endif %}>
                                <input type="hidden" name="show_filtered" value="false">
                                <label class="form-check-label" for="show_filtered">Show Filtered</label>
                            </div>

                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="only_filter_missing" name="only_filter_missing" value="true" {% if data['settings']['only_filter_missing']|string|lower == 'true' %}checked{% endif %}>
                                <input type="hidden" name="only_filter_missing" value="false">
                                <label class="form-check-label" for="only_filter_missing">Only Filter Missing</label>
                            </div>

                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="save_report" name="save_report" value="true" {% if data['settings']['save_report']|string|lower == 'true' %}checked{% endif %}>
                                <input type="hidden" name="save_report" value="false">
                                <label class="form-check-label" for="save_report">Save Report</label>
                            </div>

                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#CollapseFive" aria-expanded="false" aria-controls="CollapseFive">
                            External Data
                        </button>
                    </h2>
                    <div id="CollapseFive" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">

                          <div class="form-floating mb-3">
                            <select class="form-select" id="tvdb_language" name="tvdb_language">
                              <option value="eng">Select TVDB Language</option>
                              <option value="eng" selected>English (eng) (default)</option>
                              <option value="aar">Afar (aar)</option>
                              <option value="abk">Abkhazian (abk)</option>
                              <option value="afr">Afrikaans (afr)</option>
                              <option value="aka">Akan (aka)</option>
                              <option value="alb">Albanian (alb)</option>
                              <option value="amh">Amharic (amh)</option>
                              <option value="ara">Arabic (ara)</option>
                              <option value="arg">Aragonese (arg)</option>
                              <option value="arm">Armenian (arm)</option>
                              <option value="asm">Assamese (asm)</option>
                              <option value="ava">Avaric (ava)</option>
                              <option value="ave">Avestan (ave)</option>
                              <option value="aym">Aymara (aym)</option>
                              <option value="aze">Azerbaijani (aze)</option>
                              <option value="bak">Bashkir (bak)</option>
                              <option value="bam">Bambara (bam)</option>
                              <option value="baq">Basque (baq)</option>
                              <option value="bel">Belarusian (bel)</option>
                              <option value="ben">Bengali (ben)</option>
                              <option value="bih">Bihari (bih)</option>
                              <option value="bis">Bislama (bis)</option>
                              <option value="bos">Bosnian (bos)</option>
                              <option value="bre">Breton (bre)</option>
                              <option value="bul">Bulgarian (bul)</option>
                              <option value="bur">Burmese (bur)</option>
                              <option value="cat">Catalan (cat)</option>
                              <option value="cha">Chamorro (cha)</option>
                              <option value="che">Chechen (che)</option>
                              <option value="chi">Chinese (chi)</option>
                              <option value="chu">Church Slavic (chu)</option>
                              <option value="chv">Chuvash (chv)</option>
                              <option value="cor">Cornish (cor)</option>
                              <option value="cos">Corsican (cos)</option>
                              <option value="cre">Cree (cre)</option>
                              <option value="cze">Czech (cze)</option>
                              <option value="dan">Danish (dan)</option>
                              <option value="div">Divehi (div)</option>
                              <option value="dut">Dutch (dut)</option>
                              <option value="dzo">Dzongkha (dzo)</option>
                              <option value="eng">English (eng)</option>
                              <option value="epo">Esperanto (epo)</option>
                              <option value="est">Estonian (est)</option>
                              <option value="ewe">Ewe (ewe)</option>
                              <option value="fao">Faroese (fao)</option>
                              <option value="fij">Fijian (fij)</option>
                              <option value="fin">Finnish (fin)</option>
                              <option value="fre">French (fre)</option>
                              <option value="fry">Frisian (fry)</option>
                              <option value="ful">Fulah (ful)</option>
                              <option value="geo">Georgian (geo)</option>
                              <option value="ger">German (ger)</option>
                              <option value="gla">Gaelic (gla)</option>
                              <option value="gle">Irish (gle)</option>
                              <option value="glg">Galician (glg)</option>
                              <option value="glv">Manx (glv)</option>
                              <option value="gre">Greek (gre)</option>
                              <option value="grn">Guarani (grn)</option>
                              <option value="guj">Gujarati (guj)</option>
                              <option value="hat">Haitian (hat)</option>
                              <option value="hau">Hausa (hau)</option>
                              <option value="heb">Hebrew (heb)</option>
                              <option value="her">Herero (her)</option>
                              <option value="hin">Hindi (hin)</option>
                              <option value="hmo">Hiri Motu (hmo)</option>
                              <option value="hrv">Croatian (hrv)</option>
                              <option value="hun">Hungarian (hun)</option>
                              <option value="ibo">Igbo (ibo)</option>
                              <option value="ice">Icelandic (ice)</option>
                              <option value="ido">Ido (ido)</option>
                              <option value="iii">Sichuan Yi (iii)</option>
                              <option value="iku">Inuktitut (iku)</option>
                              <option value="ile">Interlingue (ile)</option>
                              <option value="ina">Interlingua (ina)</option>
                              <option value="ind">Indonesian (ind)</option>
                              <option value="ipk">Inupiaq (ipk)</option>
                              <option value="ita">Italian (ita)</option>
                              <option value="jav">Javanese (jav)</option>
                              <option value="jpn">Japanese (jpn)</option>
                              <option value="kal">Kalaallisut (kal)</option>
                              <option value="kan">Kannada (kan)</option>
                              <option value="kas">Kashmiri (kas)</option>
                              <option value="kau">Kanuri (kau)</option>
                              <option value="kaz">Kazakh (kaz)</option>
                              <option value="khm">Central Khmer (khm)</option>
                              <option value="kik">Kikuyu (kik)</option>
                              <option value="kin">Kinyarwanda (kin)</option>
                              <option value="kir">Kirghiz (kir)</option>
                              <option value="kom">Komi (kom)</option>
                              <option value="kon">Kongo (kon)</option>
                              <option value="kor">Korean (kor)</option>
                              <option value="kua">Kuanyama (kua)</option>
                              <option value="kur">Kurdish (kur)</option>
                              <option value="lao">Lao (lao)</option>
                              <option value="lat">Latin (lat)</option>
                              <option value="lav">Latvian (lav)</option>
                              <option value="lim">Limburgan (lim)</option>
                              <option value="lin">Lingala (lin)</option>
                              <option value="lit">Lithuanian (lit)</option>
                              <option value="ltz">Luxembourgish (ltz)</option>
                              <option value="lub">Luba-Katanga (lub)</option>
                              <option value="lug">Ganda (lug)</option>
                              <option value="mac">Macedonian (mac)</option>
                              <option value="mah">Marshallese (mah)</option>
                              <option value="mal">Malayalam (mal)</option>
                              <option value="mao">Maori (mao)</option>
                              <option value="mar">Marathi (mar)</option>
                              <option value="may">Malay (may)</option>
                              <option value="mlg">Malagasy (mlg)</option>
                              <option value="mlt">Maltese (mlt)</option>
                              <option value="mon">Mongolian (mon)</option>
                              <option value="nau">Nauru (nau)</option>
                              <option value="nav">Navajo (nav)</option>
                              <option value="nbl">Ndebele, South (nbl)</option>
                              <option value="nde">Ndebele, North (nde)</option>
                              <option value="ndo">Ndonga (ndo)</option>
                              <option value="nep">Nepali (nep)</option>
                              <option value="nno">Norwegian Nynorsk (nno)</option>
                              <option value="nob">Norwegian Bokmål (nob)</option>
                              <option value="nor">Norwegian (nor)</option>
                              <option value="nya">Nyanja (nya)</option>
                              <option value="oci">Occitan (oci)</option>
                              <option value="oji">Ojibwa (oji)</option>
                              <option value="ori">Oriya (ori)</option>
                              <option value="orm">Oromo (orm)</option>
                              <option value="oss">Ossetian (oss)</option>
                              <option value="pan">Panjabi (pan)</option>
                              <option value="per">Persian (per)</option>
                              <option value="pli">Pali (pli)</option>
                              <option value="pol">Polish (pol)</option>
                              <option value="por">Portuguese (por)</option>
                              <option value="pus">Pushto (pus)</option>
                              <option value="que">Quechua (que)</option>
                              <option value="roh">Romansh (roh)</option>
                              <option value="rum">Romanian (rum)</option>
                              <option value="run">Rundi (run)</option>
                              <option value="rus">Russian (rus)</option>
                              <option value="sag">Sango (sag)</option>
                              <option value="san">Sanskrit (san)</option>
                              <option value="sin">Sinhala (sin)</option>
                              <option value="slk">Slovak (slk)</option>
                              <option value="slv">Slovenian (slv)</option>
                              <option value="sme">Northern Sami (sme)</option>
                              <option value="smo">Samoan (smo)</option>
                              <option value="sna">Shona (sna)</option>
                              <option value="snd">Sindhi (snd)</option>
                              <option value="som">Somali (som)</option>
                              <option value="sot">Sotho, Southern (sot)</option>
                              <option value="spa">Spanish (spa)</option>
                              <option value="srd">Sardinian (srd)</option>
                              <option value="srp">Serbian (srp)</option>
                              <option value="ssw">Swati (ssw)</option>
                              <option value="sun">Sundanese (sun)</option>
                              <option value="swa">Swahili (swa)</option>
                              <option value="swe">Swedish (swe)</option>
                              <option value="tah">Tahitian (tah)</option>
                              <option value="tam">Tamil (tam)</option>
                              <option value="tat">Tatar (tat)</option>
                              <option value="tel">Telugu (tel)</option>
                              <option value="tgk">Tajik (tgk)</option>
                              <option value="tgl">Tagalog (tgl)</option>
                              <option value="tha">Thai (tha)</option>
                              <option value="tib">Tibetan (tib)</option>
                              <option value="tir">Tigrinya (tir)</option>
                              <option value="ton">Tonga (ton)</option>
                              <option value="tsn">Tswana (tsn)</option>
                              <option value="tso">Tsonga (tso)</option>
                              <option value="tuk">Turkmen (tuk)</option>
                              <option value="tur">Turkish (tur)</option>
                              <option value="twi">Twi (twi)</option>
                              <option value="uig">Uighur (uig)</option>
                              <option value="ukr">Ukrainian (ukr)</option>
                              <option value="urd">Urdu (urd)</option>
                              <option value="uzb">Uzbek (uzb)</option>
                              <option value="ven">Venda (ven)</option>
                              <option value="vie">Vietnamese (vie)</option>
                              <option value="vol">Volapük (vol)</option>
                              <option value="wel">Welsh (wel)</option>
                              <option value="wln">Walloon (wln)</option>
                              <option value="wol">Wolof (wol)</option>
                              <option value="xho">Xhosa (xho)</option>
                              <option value="yid">Yiddish (yid)</option>
                              <option value="yor">Yoruba (yor)</option>
                              <option value="zha">Zhuang (zha)</option>
                              <option value="zul">Zulu (zul)</option>
                            </select>
                          </div>

                          <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="ignore_ids" name="ignore_ids" placeholder="">
                            <label for="ignore_ids">Ignore IDs (comma-separated)</label>
                          </div>
                      
                          <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="ignore_imdb_ids" name="ignore_imdb_ids" placeholder="">
                            <label for="ignore_imdb_ids">Ignore IMDb IDs (comma-separated)</label>
                          </div>
                        </div>
                    </div>
                </div>

                <div class="accordion-item">
                    <h2 class="accordion-header">
                        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#CollapseSix" aria-expanded="false" aria-controls="CollapseSix">
                            Miscellaneous
                        </button>
                    </h2>
                    <div id="CollapseSix" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                        <div class="accordion-body">

                          <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" id="show_options" name="show_options" value="true" {% if data['settings']['show_options']|string|lower == 'true' %}checked{% endif %}>
                            <input type="hidden" name="show_options" value="false">
                            <label class="form-check-label" for="show_options">Show Options</label>
                          </div>

                          <div class="form-floating mb-3">
                            <select class="form-select" id="run_order" name="run_order">
                              <option value="">Select Run Order</option>
                              <option value="operations metadata collections overlays">(default) operations metadata collections overlays</option>
                              <option value="operations metadata overlays collections">operations metadata overlays collections</option>
                              <option value="operations collections metadata overlays">operations collections metadata overlays</option>
                              <option value="operations collections overlays metadata">operations collections overlays metadata</option>
                              <option value="operations overlays metadata collections">operations overlays metadata collections</option>
                              <option value="operations overlays collections metadata">operations overlays collections metadata</option>
                            </select>
                          </div>                        

                            <div class="form-check form-switch">
                                <input class="form-check-input" type="checkbox" id="verify_ssl" name="verify_ssl" value="true" {% if data['settings']['verify_ssl']|string|lower == 'true' %}checked{% endif %}>
                                <input type="hidden" name="verify_ssl" value="false">
                                <label class="form-check-label" for="verify_ssl">Verify SSL</label>
                            </div>

                            <div class="form-floating mb-3">
                                <input type="text" class="form-control" id="custom_repo" name="custom_repo" placeholder="">
                                <label for="custom_repo">Custom Repo</label>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

{% endblock %}
