{% extends "000-base.html" %} {% block content %}
{% include "001-navigation.html" %}
{% include "modals/" + page_info['template_name'] + ".html" ignore missing %}
<div class="form-floating mb-2">
  <select id="header-style" name="header_style" class="form-select">
    {% for font in page_info.available_fonts %}
    <option value="{{ font }}" {% if font==page_info.header_style %}selected{% endif %}>
      {{ font.replace('_', ' ')|capitalize }}
    </option>
    {% endfor %}
  </select>
  <label for="header-style">Header Style</label>
</div>

<div id="validation-messages" class="alert alert-danger" role="alert" style="display: none;">
</div>
<div class="alert alert-danger" role="alert" id="yaml-warning-msg">
  The inputs you entered <b>did not</b> pass validation, a valid config
  <b>could not</b> be generated. Please try again.
</div>
<div class="form-floating mb-2">
  <div class="form-text" id="yaml-warnings">
    <h5>These error(s) occurred while validating your config:</h5><br>
  </div>
  <textarea class="form-control" placeholder="Leave a comment here" id="validation-error"
    style="height: 300px">{{ validation_error }}</textarea>
</div>
</div>
<div class="form-floating mb-2">
  <div class="form-text" id="yaml-content">
    <br>
    <h5>Here is the YAML that was generated as a result of your inputs.</h5><br>

    <div class="alert alert-warning" role="alert" id="no-validation-warning">
      As a reminder, this will most likely <b>NOT</b> work with Kometa as it has not passed validation.
    </div>
  </div>
  <textarea readonly id="final-yaml" class="form-control" rows="20">{{ yaml_content }}</textarea>
</div>
{% if yaml_content %}
<br>
<a href="{{ url_for('download') }}" id="download-btn" class="btn btn-success d-none">Download Config</a>
<a href="{{ url_for('download_redacted') }}" id="download-redacted-btn" class="btn btn-warning d-none">Download Redacted
  Config</a>
{% endif %}
</form>
{% endblock %}
