{% extends "000-base.html" %} {% block content %}
<form method="post" id="final-form">
    <div id="dangerSection" class="section">
        <div class="row">
            <div class="col align-self-center">
              <a class="btn btn-secondary" role="button" href="/step/start">Previous</a>
            </div>
            <div class="col-6 align-self-center text-center">
              <h2>Review and Download Configuration</h2>
            </div>
            <div class="col align-self-center">
              <div class="input-group justify-content-end">
                <button class="btn btn-success" type="submit">Finish</button> <button type="button" class="btn btn-success dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false"><span class="visually-hidden">Toggle Dropdown</span></button>
                <ul class="dropdown-menu dropdown-menu-end">
                  <li>
                    <a class="dropdown-item" href="/step/010-plex">Plex</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="/step/020-tmdb">TMDb</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="/step/030-tautulli">Tautulli</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="/step/040-github">GitHub</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="/step/050-omdb">OMDb</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="/step/060-mdblist">MDBList</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="/step/070-notifiarr">Notifiarr</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="/step/080-gotify">Gotify</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="/step/090-anidb">AniDB</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="/step/100-radarr">Radarr</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="/step/110-sonarr">Sonarr</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="/step/120-trakt">Trakt</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="/step/130-mal">MyAnimeList</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="/step/140-webhooks">Webhooks</a>
                  </li>
                  <li>
                    <a class="dropdown-item" href="/step/150-settings">Settings</a>
                  </li>
                  <li>
                    <hr class="dropdown-divider">
                  </li>
                  <li>
                    <a class="dropdown-item" href="#">Skip to Validation (doesn't work atm)</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="container text-center">
            <div class="row">
              <div class="col"></div>
              <div class="col-8">
                <div class="col align-self-end">
                  <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                    <div class="progress-bar bg-success" style="width: 25%">
                      25%
                    </div>
                  </div>
                </div>
              </div>
              <div class="col"></div>
            </div>
          </div>
      <hr class="hr">
      <div class="form-floating">
        <div class="form-text" id="yaml-content">
            <br><h5>For your records, here is the YAML that was generated as a result of your inputs.</h5><br>
        </div>
            <textarea readonly id="final-yaml" class="form-control" rows="20">{{ yaml_content }}</textarea>
        </div>
    </form>
    {% if yaml_content %}
        <br>
        <a href="{{ url_for('download') }}" class="btn btn-success">Download Config</a>
    {% endif %}
{% endblock %}