{% extends "000-base.html" %} {% block content %}
  <div id="dangerSection" class="section">
    <form method="post" id="final-form">
        <div class="form-group">
        <h2>Validation Failure</h2>
        <hr class="hr">
            <div class="alert alert-danger" role="alert">
              The inputs you entered <b>did not</b> pass validation, a valid config <b>could not</b> be generated. Please try again.
            </div>
            <div class="form-floating">
              <div class="form-text" id="yaml-warnings">
                <h5>The below error(s) occurred validating your inputs.</h5><br>
              </div>
              <textarea class="form-control" placeholder="Leave a comment here" id="validation-error" style="height: 300px">{{ validation_error }}</textarea>
            </div>
        </div>
            <div class="form-floating">
            <div class="form-text" id="yaml-content">
                <br><h5>For your records, here is the YAML that was generated as a result of your inputs.</h5><br>

            <div class="alert alert-info" role="alert">
                As a reminder, this will most likely not work with Kometa as it has not passed validation.
            </div>
            </div>
            <textarea readonly id="final-yaml" class="form-control" rows="20">{{ yaml_content }}</textarea>
            </div>
        </div>
        <br>
        <br>

    </form>
  </div>


{% endblock %}