<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Plex Config</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="header-container">
        <img src="{{ url_for('static', filename='images/header.png') }}" alt="Header Image" class="header-image">
    </div>
    <h1>Enter Configuration Information</h1>
    <div class="form-container"> <nav id="configNav">
        <a href="#" data-section="plexSection">Plex Settings</a>
        <a href="#" data-section="tmdbSection">TMDb Settings</a>
        <a href="#" data-section="tautulliSection">Tautulli Settings</a>
        <a href="#" data-section="githubSection">GitHub Settings</a>
        <a href="#" data-section="omdbSection">OMDb Settings</a>
        <a href="#" data-section="mdblistSection">MDBList Settings</a>
        <a href="#" data-section="notifiarrSection">Notifiarr Settings</a>
        <a href="#" data-section="gotifySection">Gotify Settings</a>
        <a href="#" data-section="anidbSection">AniDB Settings</a>
        <a href="#" data-section="radarrSection">Radarr Settings</a>
        <a href="#" data-section="sonarrSection">Sonarr Settings</a>
        <a href="#" data-section="traktSection">Trakt Settings</a>
        <a href="#" data-section="malSection">MAL Settings</a>
    </nav>
    <form id="configForm">
        <!-- Plex Section -->
        <div id="plexSection">
            <h2>Plex Settings</h2>
            <label for="plex_url">Plex URL:</label>
            <input type="text" id="plex_url" name="plex_url" placeholder="http://127.0.0.1:32400" required>

            <label for="plex_token">Plex Token:</label>
            <div class="button-container">
            <input type="text" id="plex_token" name="plex_token" placeholder="################################" required>
                <button type="button" id="validatePlexButton" class="btn">Validate Plex</button>
            </div>
            <div id="plexStatusMessage" class="status-message"></div>

            <label for="plex_dbcache">DB Cache:</label>
            <input type="number" id="plex_dbcache" name="plex_dbcache" min="40" value="40" placeholder="Set the size of the Plex Database Cache (in Megabytes), default is 40 if not specified" required>

            <label for="plex_timeout">Timeout:</label>
            <input type="number" id="plex_timeout" name="plex_timeout" min="60" value="60" placeholder="Amount of seconds to wait for Plex to respond, default is 60 if not specified" required>

            <div class="checkbox-container">
                <label for="plex_verify_ssl">Verify SSL:</label>
                <input type="checkbox" id="plex_verify_ssl" name="plex_verify_ssl" checked>
            </div>

            <div class="checkbox-container">
                <label for="plex_clean_bundles">Clean Bundles:</label>
                <input type="checkbox" id="plex_clean_bundles" name="plex_clean_bundles" checked>
            </div>

            <div class="checkbox-container">
                <label for="plex_empty_trash">Empty Trash:</label>
                <input type="checkbox" id="plex_empty_trash" name="plex_empty_trash">
            </div>

            <div class="checkbox-container">
                <label for="plex_optimize">Optimize Database:</label>
                <input type="checkbox" id="plex_optimize" name="plex_optimize">
            </div>
        </div>

        <!-- TMDb Section -->
        <div id="tmdbSection">
            <h2>TMDb Settings</h2>
            <label for="tmdb_apikey">TMDb API Key:</label>
            <div class="button-container">
                <input type="text" id="tmdb_apikey" name="tmdb_apikey" required>
                <button type="button" id="validateButton" class="btn">Validate</button>
            </div>
            <div id="statusMessage" class="status-message"></div>

            <label for="tmdb_language">Language:</label>
            <select id="tmdb_language" name="tmdb_language">
                <option value="en">Please validate your TMDB API Key</option>
            </select>

        <label for="tmdb_region">Region:</label>
        <select id="tmdb_region" name="tmdb_region">
            <option value="en">Please validate your TMDB API Key</option>
        </select>

            <label for="tmdb_cache_expiration">Cache Expiration (days):</label>
            <input type="number" id="tmdb_cache_expiration" name="tmdb_cache_expiration" value="60" required>
        </div>

    <!-- Tautulli Section -->
    <div id="tautulliSection">
        <h2>Tautulli Settings</h2>
        <label for="tautulli_url">Tautulli URL:</label>
        <input type="text" id="tautulli_url" name="tautulli_url" placeholder="http://192.168.1.12:8181" required>

        <label for="tautulli_apikey">Tautulli API Key:</label>
        <input type="text" id="tautulli_apikey" name="tautulli_apikey" placeholder="################################" required>
    </div>

    <!-- GitHub Section -->
    <div id="githubSection">
        <h2>GitHub Settings</h2>
        <label for="github_token">GitHub Token:</label>
        <input type="text" id="github_token" name="github_token" placeholder="################################" required>
    </div>

    <!-- OMDb Section -->
    <div id="omdbSection">
        <h2>OMDb Settings</h2>
        <label for="omdb_apikey">OMDb API Key:</label>
        <input type="text" id="omdb_apikey" name="omdb_apikey" placeholder="########" required>

        <label for="omdb_cache_expiration">Cache Expiration (days):</label>
        <input type="number" id="omdb_cache_expiration" name="omdb_cache_expiration" value="60">
    </div>

    <!-- MDBList Section -->
    <div id="mdblistSection">
        <h2>MDBList Settings</h2>
        <label for="mdblist_apikey">MDBList API Key:</label>
        <input type="text" id="mdblist_apikey" name="mdblist_apikey" placeholder="#########################" required>

        <label for="mdblist_cache_expiration">Cache Expiration (days):</label>
        <input type="number" id="mdblist_cache_expiration" name="mdblist_cache_expiration" value="60">
    </div>

    <!-- Notifiarr Section -->
    <div id="notifiarrSection">
        <h2>Notifiarr Settings</h2>
        <label for="notifiarr_apikey">Notifiarr API Key:</label>
        <input type="text" id="notifiarr_apikey" name="notifiarr_apikey" placeholder="####################################" required>
    </div>

    <!-- Gotify Section -->
    <div id="gotifySection">
        <h2>Gotify Settings</h2>
        <label for="gotify_url">Gotify URL:</label>
        <input type="text" id="gotify_url" name="gotify_url" placeholder="http://192.168.1.12:80" required>

        <label for="gotify_token">Gotify Token:</label>
        <input type="text" id="gotify_token" name="gotify_token" placeholder="####################################" required>
    </div>

    <!-- AniDB Section -->
    <div id="anidbSection">
        <h2>AniDB Settings</h2>
        <label for="anidb_client">Client:</label>
        <input type="text" id="anidb_client" name="anidb_client" placeholder="#######">

        <label for="anidb_version">Version:</label>
        <input type="text" id="anidb_version" name="anidb_version" placeholder="1">

        <label for="anidb_language">Language:</label>
        <input type="text" id="anidb_language" name="anidb_language" placeholder="en">

        <label for="anidb_cache_expiration">Cache Expiration:</label>
        <input type="text" id="anidb_cache_expiration" name="anidb_cache_expiration" placeholder="60">

        <label for="anidb_username">Username:</label>
        <input type="text" id="anidb_username" name="anidb_username" placeholder="######">

        <label for="anidb_password">Password:</label>
        <input type="password" id="anidb_password" name="anidb_password" placeholder="######">
    </div>

    <!-- Radarr Section -->
    <div id="radarrSection">
        <h2>Radarr Settings</h2>
        <label for="radarr_url">Radarr URL:</label>
        <input type="text" id="radarr_url" name="radarr_url" placeholder="http://192.168.1.12:7878" required>
        <label for="radarr_token">Radarr Token:</label>
        <input type="text" id="radarr_token" name="radarr_token" placeholder="################################" required>
        <label for="radarr_add_missing">Add Missing:</label>
        <input type="checkbox" id="radarr_add_missing" name="radarr_add_missing">
        <label for="radarr_add_existing">Add Existing:</label>
        <input type="checkbox" id="radarr_add_existing" name="radarr_add_existing">
        <label for="radarr_upgrade_existing">Upgrade Existing:</label>
        <input type="checkbox" id="radarr_upgrade_existing" name="radarr_upgrade_existing">
        <label for="radarr_monitor_existing">Monitor Existing:</label>
        <input type="checkbox" id="radarr_monitor_existing" name="radarr_monitor_existing">
        <label for="radarr_root_folder_path">Root Folder Path:</label>
        <input type="text" id="radarr_root_folder_path" name="radarr_root_folder_path" placeholder="S:/Movies">
        <label for="radarr_monitor">Monitor:</label>
        <input type="checkbox" id="radarr_monitor" name="radarr_monitor" checked>
        <label for="radarr_availability">Availability:</label>
        <input type="text" id="radarr_availability" name="radarr_availability" placeholder="announced">
        <label for="radarr_quality_profile">Quality Profile:</label>
        <input type="text" id="radarr_quality_profile" name="radarr_quality_profile" placeholder="HD-1080p">
        <label for="radarr_tag">Tag:</label>
        <input type="text" id="radarr_tag" name="radarr_tag">
        <label for="radarr_search">Search:</label>
        <input type="checkbox" id="radarr_search" name="radarr_search">
        <label for="radarr_radarr_path">Radarr Path:</label>
        <input type="text" id="radarr_radarr_path" name="radarr_radarr_path">
        <label for="radarr_plex_path">Plex Path:</label>
        <input type="text" id="radarr_plex_path" name="radarr_plex_path">
    </div>

    <!-- Sonarr Section -->
    <div id="sonarrSection">
        <h2>Sonarr Settings</h2>
        <label for="sonarr_url">Sonarr URL:</label>
        <input type="text" id="sonarr_url" name="sonarr_url" placeholder="http://192.168.1.12:8989" required>
        <label for="sonarr_token">Sonarr Token:</label>
        <input type="text" id="sonarr_token" name="sonarr_token" placeholder="################################" required>
        <label for="sonarr_add_missing">Add Missing:</label>
        <input type="checkbox" id="sonarr_add_missing" name="sonarr_add_missing">
        <label for="sonarr_add_existing">Add Existing:</label>
        <input type="checkbox" id="sonarr_add_existing" name="sonarr_add_existing">
        <label for="sonarr_upgrade_existing">Upgrade Existing:</label>
        <input type="checkbox" id="sonarr_upgrade_existing" name="sonarr_upgrade_existing">
        <label for="sonarr_monitor_existing">Monitor Existing:</label>
        <input type="checkbox" id="sonarr_monitor_existing" name="sonarr_monitor_existing">
        <label for="sonarr_root_folder_path">Root Folder Path:</label>
        <input type="text" id="sonarr_root_folder_path" name="sonarr_root_folder_path" placeholder="S:/TV Shows">
        <label for="sonarr_monitor">Monitor:</label>
        <input type="text" id="sonarr_monitor" name="sonarr_monitor" placeholder="all">
        <label for="sonarr_quality_profile">Quality Profile:</label>
        <input type="text" id="sonarr_quality_profile" name="sonarr_quality_profile" placeholder="HD-1080p">
        <label for="sonarr_language_profile">Language Profile:</label>
        <input type="text" id="sonarr_language_profile" name="sonarr_language_profile" placeholder="English">
        <label for="sonarr_series_type">Series Type:</label>
        <input type="text" id="sonarr_series_type" name="sonarr_series_type" placeholder="standard">
        <label for="sonarr_season_folder">Season Folder:</label>
        <input type="checkbox" id="sonarr_season_folder" name="sonarr_season_folder" checked>
        <label for="sonarr_tag">Tag:</label>
        <input type="text" id="sonarr_tag" name="sonarr_tag">
        <label for="sonarr_search">Search:</label>
        <input type="checkbox" id="sonarr_search" name="sonarr_search">
        <label for="sonarr_cutoff_search">Cutoff Search:</label>
        <input type="checkbox" id="sonarr_cutoff_search" name="sonarr_cutoff_search">
        <label for="sonarr_sonarr_path">Sonarr Path:</label>
        <input type="text" id="sonarr_sonarr_path" name="sonarr_sonarr_path">
        <label for="sonarr_plex_path">Plex Path:</label>
        <input type="text" id="sonarr_plex_path" name="sonarr_plex_path">
    </div>

        <!-- Trakt Section -->
        <div id="traktSection" class="section">
            <h2>Trakt Settings</h2>
            <div class="form-group">
                <label for="trakt_client_id">Trakt Client ID:</label>
                <input type="text" class="form-control" id="trakt_client_id" name="trakt_client_id" required>
            </div>
            <div class="form-group">
                <label for="trakt_client_secret">Trakt Client Secret:</label>
                <input type="text" class="form-control" id="trakt_client_secret" name="trakt_client_secret" required>
            </div>

            <div class="form-group" id="urlField">
                When you click "Retrieve PIN" below, you will be taken to a Trakt web page. Log in and allow your application access to your Trakt account. Trakt will display a PIN. Copy that PIN and paste it into the "Trakt PIN" field below.<br><br>
                If you have a PIN you generated in the last few minutes, enter it below.<br><br>
                <input type="hidden" class="form-control" id="trakt_url" name="trakt_url" readonly oninput="checkURLStart(this)">
                <button type="button" class="btn btn-primary mt-2" id="trakt_open_url" onclick="openUrl()">Retrieve PIN</button>
            </div>

            <div class="form-group">
                <label for="trakt_pin">Trakt PIN:</label>
                <input type="text" class="form-control" id="trakt_pin" name="trakt_pin" required>
            </div>

            <div class="button-container">
                <button type="button" id="validateTraktPin" class="btn btn-primary mt-2">Validate PIN</button>
            </div>
        </div>

    <!-- MAL Section -->
    <div id="malSection">
        <h2>MAL Settings</h2>
        <label for="mal_client_id">Client ID:</label>
        <input type="text" id="mal_client_id" name="mal_client_id" placeholder="####################" required>
        <label for="mal_client_secret">Client Secret:</label>
        <input type="text" id="mal_client_secret" name="mal_client_secret" placeholder="####################" required>
        <h3>Authorization</h3>
        <label for="mal_access_token">Access Token:</label>
        <input type="text" id="mal_access_token" name="mal_access_token">
        <label for="mal_token_type">Token Type:</label>
        <input type="text" id="mal_token_type" name="mal_token_type">
        <label for="mal_expires_in">Expires In:</label>
        <input type="text" id="mal_expires_in" name="mal_expires_in">
        <label for="mal_refresh_token">Refresh Token:</label>
        <input type="text" id="mal_refresh_token" name="mal_refresh_token">
    </div>
<br><br><br><br><br>
        <input type="submit" value="Submit">
    </form>
    <script>
        document.getElementById('configNav').addEventListener('click', (event) => {
            if (event.target.tagName === 'A') {
                const sectionId = event.target.dataset.section;

                // Hide all sections
                document.querySelectorAll('#configForm > div').forEach(div => div.classList.remove('active'));

                // Show the selected section
                document.getElementById(sectionId).classList.add('active');
            }
        });

        // Optionally, show the first section by default
        document.getElementById('plexSection').classList.add('active');

        // Form submission script
        document.getElementById('configForm').onsubmit = function(event) {
            event.preventDefault();
            if (confirm('Are you sure you want to submit the form?')) {
                const formData = new FormData(this);
                fetch('/submit', {
                    method: 'POST',
                    body: formData
                }).then(response => response.json())
                .then(data => {
                    const messagesDiv = document.querySelector('.messages');
                    messagesDiv.innerHTML = '';
                    const ul = document.createElement('ul');
                    messagesDiv.appendChild(ul);
                    data.messages.forEach(msg => {
                        const li = document.createElement('li');
                        li.textContent = msg.text;
                        li.className = msg.category;
                        ul.appendChild(li);
                    });
                });
            }
        };

        // Plex validation script
        document.getElementById('validatePlexButton').addEventListener('click', function() {
            const plexUrl = document.getElementById('plex_url').value;
            const plexToken = document.getElementById('plex_token').value;
            const plexStatusMessage = document.getElementById('plexStatusMessage');

            if (!plexUrl || !plexToken) {
                plexStatusMessage.textContent = 'Please enter both Plex URL and Token.';
                plexStatusMessage.style.display = 'block';
                return;
            }

            fetch('/validate_plex', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    plex_url: plexUrl,
                    plex_token: plexToken
                })
            })
            .then(response => response.json())
            .then(data => {
                if (data.valid) {
                    document.getElementById('plex_dbcache').value = data.db_cache;
                    plexStatusMessage.textContent = 'Plex server validated successfully!';
                    plexStatusMessage.style.color = 'green';
                } else {
                    plexStatusMessage.textContent = 'Failed to validate Plex server. Please check your URL and Token.';
                    plexStatusMessage.style.color = 'red';
                }
                plexStatusMessage.style.display = 'block';
            })
            .catch(error => {
                console.error('Error validating Plex server:', error);
                plexStatusMessage.textContent = 'An error occurred while validating Plex server.';
                plexStatusMessage.style.color = 'red';
                plexStatusMessage.style.display = 'block';
            });
        });

        function sortDataByISO (data){
            let sortedData;
            sortedData = data.sort(function(a,b){
            let x = a.iso_639_1.toLowerCase();
            let y = b.iso_639_1.toLowerCase();
            if(x>y){return 1;}
            if(x<y){return -1;}
            return 0;
            });
            return sortedData;
            }
        // API key validation script
    document.getElementById('validateButton').addEventListener('click', function() {
        const apiKey = document.getElementById('tmdb_apikey').value;
        const statusMessage = document.getElementById('statusMessage');
        const languageSelect = document.getElementById('tmdb_language');
        const regionSelect = document.getElementById('tmdb_region');

        if (!apiKey) {
            statusMessage.textContent = 'Please enter an API key.';
            statusMessage.style.display = 'block';
            return;
        }

        fetch(`https://api.themoviedb.org/3/movie/550?api_key=${apiKey}`)
            .then(response => {
                if (response.ok) {
                    statusMessage.textContent = 'API key is valid!';
                    statusMessage.style.color = 'green';
                    return Promise.all([
                        fetch(`https://api.themoviedb.org/3/configuration/languages?api_key=${apiKey}`),
                        fetch(`https://api.themoviedb.org/3/watch/providers/regions?api_key=${apiKey}`)
                    ]);
                } else {
                    throw new Error('Invalid API key');
                }
            })
            .then(responses => Promise.all(responses.map(response => response.json())))
            .then(data => {
                const [languagesData, regionsData] = data;

                // Clear previous options
                languageSelect.innerHTML = '';
                regionSelect.innerHTML = '';

                sortedData = sortDataByISO(languagesData)
                
                // Populate the language dropdown
                sortedData.forEach(language => {
                    const option = document.createElement('option');
                    option.value = language.iso_639_1;
                    if (language.name) {
                        if (language.name.startsWith("?")) {
                            option.textContent = language.english_name;
                        } else {
                            option.textContent = language.name;
                        }
                    } else {
                        option.textContent = language.english_name;
                    }
                    languageSelect.appendChild(option);
                });

                // Populate the region dropdown
                regionsData.results.forEach(region => {
                    const option = document.createElement('option');
                    option.value = region.iso_3166_1;
                    if (region.native_name && region.native_name !== "?????") {
                        option.textContent = region.native_name;
                    } else {
                        option.textContent = region.english_name;
                    }
                    regionSelect.appendChild(option);
                });

                // Set default language and region to English
                languageSelect.value = 'en';
                regionSelect.value = 'US';
            })
            .catch(error => {
                statusMessage.textContent = error.message;
                statusMessage.style.color = 'red';
            })
            .finally(() => {
                statusMessage.style.display = 'block';
            });
        });
    </script>
</body>
</html>