<!DOCTYPE html>
<html lang="en" data-bs-theme="dark">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Start - Kometa YAML Config Wizard</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/bootstrap.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='css/styles.css') }}"
    />
  </head>
  <body>
    <div class="header-container">
      <img
        src="{{ url_for('static', filename='images/header.png') }}"
        alt="Header Image"
        class="header-image"
      />
    </div>
    <form
      action="/step/010-plex"
      method="post"
      id="configForm"
      name="configForm"
    >
      <h2>Kometa Configuration Builder</h2>
      <hr class="hr" />
      <center>
        <img
          src="{{ url_for('static', filename='images/wizard.webp') }}"
          alt="Header Image"
          class="header-image"
        />
      </center>
      <div class="form-text" id="pin-info">
        <p class="fs-2">
          This wizard will step you through creating a config file for Kometa.
          Blah blah it's super cool.
        </p>
        <p class="fs-3">Here's a thing etc etc.</p>
        <p class="fs-4">You will need some stuff.</p>
        <p class="fs-5">Once you have gathered that stuff, click "Begin".</p>
        <p class="fs-6">The end.</p>
      </div>
      <div class="d-grid gap-2">
        <button class="btn btn-primary" type="submit">Click to Start</button>
      </div>
    </form>
    <form
      action="/clear_session"
      method="post"
      id="clearSessionForm"
      name="clearSessionForm"
      style="margin-top: 10px;"
    >
      <div class="d-grid gap-2">
        <button class="btn btn-danger" type="submit">Clear Session Data</button>
      </div>
    </form>
  </body>
</html>
