<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Start Config Wizard</title>
    <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="header-container">
        <img src="{{ url_for('static', filename='images/header.png') }}" alt="Header Image" class="header-image">
    </div>
    <h1><center>Kometa Configuration Builder</center></h1>
    <form action="/step/010-plex" method="post" id="configForm">
        <div class="header-container">
            <img src="{{ url_for('static', filename='images/wizard.webp') }}" alt="Header Image" class="header-image">
        </div>
        <p>
            This wizard will step you through creating a config file for Kometa.
        </p>
        <p>    
            Blah blah it's super cool.
        </p>
        <p>    
            Here's a thing etc etc.
        </p>
        <p>    
            You will need some stuff.
        </p>
        <p>    
            Once you have gathered that stuff, click "Begin".
        </p>
            <input type="submit" value="Begin">
    </form>
</body>
</html>